<ion-header>
    <navbar title= "{{ 'SELECTIONEGROUPE' | translate }}" ></navbar>
</ion-header>


<ion-content class="backgroundcorps" >
        <br>
        <ion-grid>
             <ion-row >
                  <ion-col col-6  *ngFor="let item of listegroupes">
                      <div class="cardpremieracceuil" (click)="sous_espece(item)">
                        <img class="premier" src="{{item.image}}" />
                        <strong><p class="textcard" *ngIf="langue == 0">{{item.nom_fr}}</p></strong>
                        <strong><p class="textcard" *ngIf="langue == 1">{{item.nom_en}}</p></strong>
                     </div>
                  </ion-col>
             </ion-row>
        </ion-grid>


        <ion-row class="monbutonvalide">
            <ion-col>
              <button  (click)="backFunction()" ion-fab left bottom  color="danger"> <ion-icon name="md-close"></ion-icon> </button>
            </ion-col>
          </ion-row>
</ion-content>