{% extends 'base.html.twig' %}

{% block body %}
    <h1>Position</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ position.id }}</td>
            </tr>
            <tr>
                <th>{{'Date'|trans}}</th>
                <td>{% if position.date %}{{ position.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{'Coordx'|trans}}</th>
                <td>{{ position.coordX }}</td>
            </tr>
            <tr>
                <th>{{'Coordy'|trans}}</th>
                <td>{{ position.coordY }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('position_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('position_edit', { 'id': position.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
