<!DOCTYPE html>

<html class="app-ui">

    <head>
        <!-- Meta -->
        <!-- Meta -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <style>
        .arrow {
          border: solid gray;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
        }


        .down {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
        </style>
        <title>{% block title %}{{'Bienvenue sur Siren'|trans}}!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicons/logo.png') }}" />
        <link rel="apple-touch-icon" href="{{ asset('assets/img/favicons/logo.png') }}" />
        <!-- Document title -->

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="{{ asset('assets/img/favicons/apple-touch-icon.png') }}" />
        <link rel="icon" href="{{ asset('assets/img/favicons/favicon.ico') }}" />

        <!-- Google fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />

        <!-- Page JS Plugins CSS -->
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/select2/select2.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/select2/select2-bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/dropzonejs/dropzone.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/jquery-tags-input/jquery.tagsinput.min.css') }}" />

        <link rel="stylesheet" href="{{ asset('assets/js/plugins/slick/slick.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/slick/slick-theme.min.css') }}" />

        <!-- AppUI CSS stylesheets -->
        <link rel="stylesheet" id="css-font-awesome" href="{{ asset('assets/css/font-awesome.css') }}" />
        <link rel="stylesheet" id="css-ionicons" href="{{ asset('assets/css/ionicons.css') }}" />
        <link rel="stylesheet" id="css-bootstrap" href="{{ asset('assets/css/bootstrap1.css') }}" />
        <link rel="stylesheet" id="css-app" href="{{ asset('assets/css/app.css') }}" />
        <link rel="stylesheet" id="css-app-custom" href="{{ asset('assets/css/app-custom.css') }}" />
        <!-- End Stylesheets -->

    </head>

    <body class="app-ui layout-has-drawer layout-has-fixed-header">
        <div class="app-layout-canvas">
            <div class="app-layout-container">

                <!-- Drawer -->
                <aside class="app-layout-drawer">

                    <!-- Drawer scroll area -->
                    <div class="app-layout-drawer-scroll">
                        <!-- Drawer logo -->
                        <div id="logo" class="drawer-header">
                            <a href="{{ path('homepage') }}"><img class="img-responsive" src="{{ asset('assets/img/logo/logo.png') }}" title="siren" alt="siren" /></a>
                        </div>

                        <!-- Drawer navigation -->
                        <nav class="drawer-main">
                            <ul class="nav nav-drawer">

                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                                    {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
					<li class="nav-item nav-drawer-header">Menu</li>

                                    <li class="nav-item active">
                                        <a href="{{ path('admin') }}"><i class="ion-android-home"></i> {{'Accueil'|trans}}</a>
                                    </li>
                                    <!--<li class="nav-item">
                                        <a href="{{ path('observations_new') }}"><i class="ion-android-add"></i> {{'Ajouter une Observation'|trans}}</a>
                                    </li> -->
                                    <li class="nav-item">
                                        <a href="{{ path('exportation') }}"><i class="fa fa-file-archive-o"></i> {{'Exportation'|trans}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('observations_index0', { 'page': 1 }) }}"><i class="ion-ios-eye"></i>{{'Mes dernières Observations non validées'|trans}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('observations_index1', { 'page': 1 }) }}"><i class="ion-ios-eye"></i>{{'Mes dernières Observations validées'|trans}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('projet_index') }}"><i class="ion-ios-eye"></i>{{'Mes Projets'|trans}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('boussole_index') }}"><i class="ion-ios-eye"></i>{{'Ma boussole'|trans}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('marche_index') }}"><i class="ion-ios-eye"></i>{{'Mon marché de poisson'|trans}}</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{{ path('notifications_index') }}"><i class="ion-android-notifications"></i>{{'Mes notifications'|trans}}</a>
                                    </li>
                                    {% endif %}
                                    {% if is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') %}
					<li class="nav-item nav-drawer-header">Menu</li>

                                    <li class="nav-item active">
                                    <a href="{{ path('admin') }}"><i class="ion-android-home"></i>{{'Accueil'|trans}}</a>
                                </li>
								<!--<li class="nav-item">
                                    <a href="{{ path('observations_new') }}"><i class="ion-android-add"></i>{{'Ajouter une Observation'|trans}}</a>
                                </li> -->
                                 <li class="nav-item">
                                        <a href="{{ path('exportation') }}"><i class="fa fa-file-archive-o"></i> {{'Exportation'|trans}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('observations_index0', { 'page': 1 }) }}"><i class="ion-ios-eye"></i>{{'Mes dernieres Observations non validées'|trans}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('observations_index1', { 'page': 1 }) }}"><i class="ion-ios-eye"></i>{{'Mes dernieres Observations validées'|trans}}</a>
                                    </li>
                                <li class="nav-item nav-item-has-subnav" data-toggle="collapse" data-target="#products">
                                    <a href="#">
                                        <i class="ion-ios-eye"></i>
                                        <span>{{'Projets'|trans}}</span><span class="arrow"></span>
                                    </a>
                                    <ul class="nav nav-subnav" id="products">
                                        <li>
                                            <a href="{{ path('projet_index') }}">{{'Gérer les projets'|trans}}</a>
                                        </li>

                                        <li>
                                             <a href="{{ path('type_observations_index') }}">{% trans %}Gérer les Types d'Observations{% endtrans %}</a>
                                        </li>
                                        <li>
                                             <a href="{{ path('menu_index') }}">{% trans %}Gérer les menus{% endtrans %}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-item-has-subnav" data-toggle="collapse" data-target="#animaux">
                                    <a href="#">
                                        <i class="ion-earth"></i>
                                        <span>{{'Animaux'|trans}}</span><span class="arrow"></span>
                                    </a>
                                    <ul class="nav nav-subnav" id="animaux">
                                       <li>
                                            <a href="{{ path('groupes_index') }}">{{'Gérer les Groupes'|trans}} </a>
                                        </li>
					<li>
                                            <a href="{{ path('sous_groupes_index') }}">{{'Gérer les Sous-Groupes'|trans}} </a>
                                        </li>


                                    </ul>
                                </li>
                                 <li class="nav-item nav-item-has-subnav" data-toggle="collapse" data-target="#questions">
                                    <a href="#">
                                        <i class="ion-android-alert"></i>
                                        <span>{{'Questions/Reponses'|trans}}</span><span class="arrow"></span>
                                    </a>
                                    <ul class="nav nav-subnav" id="questions">
                                        <li>
                                            <a href="{{ path('questions_index') }}">{{'Gérer les Questions'|trans}} </a>
                                        </li>


                                    </ul>
                                </li>
                                </li>
                                 <li class="nav-item nav-item-has-subnav" data-toggle="collapse" data-target="#sites">
                                    <a href="#">
                                        <i class="ion-android-alert"></i>
                                        <span>{{'Sites/Segments'|trans}}</span><span class="arrow"></span>
                                    </a>
                                    <ul class="nav nav-subnav" id="sites">
                                        <li>
                                            <a href="{{ path('sites_index') }}">{{'Gérer les Sites'|trans}} </a>
                                        </li>
					
				
                                    </ul>
                                </li>
				<li class="nav-item nav-item-has-subnav" data-toggle="collapse" data-target="#util">
                                    <a href="#">
                                        <i class="ion-ios-person-outline"></i>
                                        <span>{{'Utilisateurs'|trans}}</span><span class="arrow"></span>
                                    </a>
                                    <ul class="nav nav-subnav" id="util">
                                        <li class="nav-item">
                                            <a href="{{ path('pays_index') }}">{{'Gérer les Pays'|trans}}</a>
                                        </li>
					<li class="nav-item">
                                            <a href="{{ path('fonctions_index') }}">{{'Gérer les Fonctions'|trans}}</a>
                                        </li>
					<li class="nav-item">
                                            <a href="{{ path('notifications_index') }}">{{'Gérer les notifications'|trans}}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{ path('feedback_index') }}">{{'Gérer les feedbacks'|trans}}</a>
                                        </li>
					<li class="nav-item">
                                            <a href="{{ path('utilisateurs_index') }}">{{'Gérer les utilisateurs'|trans}}</a>
                                        </li>

                                    </ul>
                                </li>

                                {% endif %}
                                <li class="nav-item">
                                    <a href="{{ path('homepage') }}"><i class="ion-navigate"></i>{{'Maps'|trans}}</a>
                                </li>
                                <li class="nav-item">
                                        <a href="{{ path('boussole_index') }}"><i class="ion-ios-eye"></i>{{'Gérer la boussole'|trans}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('marche_index') }}"><i class="ion-ios-eye"></i>{{'Gérér le marché de poisson'|trans}}</a>
                                    </li>

								<li class="nav-item">
                                    <a href="{{ path('statistique') }}"><i class="ion-stats-bars"></i>{{'Statistiques'|trans}} </a>
                                </li>
				<li class="nav-item nav-item-has-subnav" data-toggle="collapse" data-target="#products">
                                    <a href="#">
                                        <i class="ion-edit"></i>
                                        <span>{{'Mes informations'|trans}}</span><span class="arrow"></span>
                                    </a>
                                    <ul class="nav nav-subnav" id="products">
                                        <li><a href="{{ path("fos_user_profile_show") }}"><i></i> {{'Mon Profil'|trans}}</a></li>
                                        <li><a href="{{ path("fos_user_profile_edit")}}"><i></i> {{'Editer mes informations'|trans}}</a></li>
                                        <li><a href="{{ path("fos_user_change_password") }}"><i></i> {{'Changer de mot de passe'|trans}}</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('feedback_new') }}"><i class="fa fa-commenting"></i>{{'Laisser un commentaire'|trans}} </a>
                                </li>



				<li class="nav-item hidden-md hidden-lg">
                                    <a href="{{ path('fos_user_security_logout') }}"><i class="ion-power"></i>Logout  </a>
                                </li>
                            {% else %}

				<li class="nav-item hidden-md hidden-lg">
                                    <a href="{{ path('fos_user_registration_register') }}"><i class="ion-log-in"></i>Inscription</a>
                                </li>

                                <li class="nav-item hidden-md hidden-lg">
                                    <a href="{{ path('fos_user_security_login') }}"><i class="ion-ios-unlocked-outline"></i>Connexion</a>
                                </li>
                            {% endif %}


                            </ul>
                        </nav>
                        <!-- End drawer navigation -->

                         <div class="drawer-footer">
                            <p class="copyright">Siren &copy; - {{ 'now'|date('Y') }}</p>
                        </div>

                    </div>
                    <!-- End drawer scroll area -->
                </aside>
                <!-- End drawer -->

                <!-- Header -->
                <header class="app-layout-header">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button class="pull-left hidden-lg hidden-md navbar-toggle" type="button" data-toggle="layout" data-action="sidebar_toggle">
					<span class="sr-only">Toggle drawer</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                                <span class="navbar-page-title">

                                    {{'Bienvenue sur Siren'|trans}}
				</span>
                            </div>

                            <div class="collapse navbar-collapse" id="header-navbar-collapse">


                                <!-- .navbar-left -->

                                <ul class="nav navbar-nav navbar-right navbar-toolbar hidden-sm hidden-xs">

                                  <li class="dropdown language-selector">
                                      <!-- <span>Language: -->
                                      <a  href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': app.request.getLocale()})) }}" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
                                      {% if (app.request.getLocale()) == 'fr' %}
                                      <img src="{{ asset('images/francais.png') }}" />
                                      <span>French</span>
                                      <span class="arrow down"></span>
                                      {% endif %}
                                      {% if (app.request.getLocale()) == 'en' %}
                                      <img src="{{ asset('images/anglais.jpg') }}" />
                                      <span>English</span>
                                      <span class="arrow down"></span>
                                      {% endif %}
                                      {% if (app.request.getLocale()) == 'pt' %}
                                      <img src="{{ asset('images/portugal.png') }}" />
                                      <span>Portuguese</span>
                                      <span class="arrow down"></span>
                                      {% endif %}
                                      </a>
                                      <ul class="dropdown-menu pull-right">
                                      <li>
                                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
                                          <img src="{{ asset('images/anglais.jpg') }}" />
                                          <span>English</span>
                                        </a>
                                      </li>
                                      <li>
                                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">
                                          <img src="{{ asset('images/francais.png') }}" />
                                          <span>French</span>
                                        </a>
                                      </li>
                                      <li>
                                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'pt'})) }}">
                                          <img src="{{ asset('images/portugal.png') }}" />
                                          <span>Portuguese</span>
                                        </a>
                                      <!-- </span> -->
                                      </ul>
                                    </li>
                                    </li>

                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li><a><i class="ion-person"></i>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a></li>
                                        <li ><a class="btn-app-teal" href="{{ path('fos_user_security_logout') }}"><i class="ion-power"></i>
                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a> </li>
                                    {% else %}
                                        <li><a href="{{ path('fos_user_security_login') }}"><i class="ion-ios-unlocked-outline"></i> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                                        <li><a href="{{ path('fos_user_registration_register') }}"><i class="ion-log-in"></i> {{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                                    {% endif %}

                                </ul>
                                <!-- .navbar-right -->
                            </div>
                        </div>
                        <!-- .container-fluid -->
                    </nav>
                    <!-- .navbar-default -->
                </header>
                <!-- End header -->

                <main class="app-layout-content">
		{% if app.request.hasPreviousSession %}
                                    {% for type, messages in app.session.flashbag.all() %}
                                        {% for message in messages %}
                                            <div class="flash-{{ type }}">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}

                    {% block body %}{% endblock %}


                </main>

            </div>
            <!-- .app-layout-container -->
        </div>
        <!-- .app-layout-canvas -->


        <div class="app-ui-mask-modal"></div>

        <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
        <script src="{{ asset('assets/js/core/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/core/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/core/jquery.slimscroll.min.js') }}"></script>
        <script src="{{ asset('assets/js/core/jquery.scrollLock.min.js') }}"></script>
        <script src="{{ asset('assets/js/core/jquery.placeholder.min.js') }}"></script>
        <script src="{{ asset('assets/js/app.js') }}"></script>
        <script src="{{ asset('assets/js/app-custom.js') }}"></script>

          <!-- Page JS Plugins -->
        <script src="{{ asset('assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/select2/select2.full.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/masked-inputs/jquery.maskedinput.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/dropzonejs/dropzone.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/jquery-tags-input/jquery.tagsinput.min.js') }}"></script>
        <!-- Page Plugins -->
        <script src="{{ asset('assets/js/plugins/slick/slick.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/chartjs/Chart.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/flot/jquery.flot.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/flot/jquery.flot.pie.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/flot/jquery.flot.stack.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/flot/jquery.flot.resize.min.js') }}"></script>
        <script>
            $(function()
            {
                // Init page helpers (BS Datepicker + BS Colorpicker + Select2 + Masked Input + Tags Inputs plugins)
                App.initHelpers(['datepicker', 'colorpicker', 'select2', 'masked-inputs', 'tags-inputs']);
            });
        </script>
        <!-- Page JS Plugins -->
        <script src="http://maps.google.com/maps/api/js"></script>
        <script src="{{ asset('assets/js/plugins/gmapsjs/gmaps.min.js') }}"></script>

        <!-- Page JS Code -->
        <script src="{{ asset('assets/js/pages/base_js_maps.js') }}"></script>

        <!-- Page JS Code -->
        <script src="{{ asset('assets/js/pages/index.js') }}"></script>




        <script src="{{ asset('js/newUser.js') }}"></script>
    <script src="{{ asset('js/scriptUser.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <script>
              $(function()
            {
                // Init page helpers (BS Datepicker + BS Colorpicker + Select2 + Masked Input + Tags Inputs plugins)
                App.initHelpers(['datepicker', 'colorpicker', 'select2', 'masked-inputs', 'tags-inputs']);
            });

            function verif(interface) {
                var pwd = document.getElementById('contenu');
                if (pwd.value > interface)
                    {
                       if (confirm('Voulez-vous vraiment confimer cette valeur ?')) {
                            return true;
                        }
                        else
                        {
                            return false;
                        }
                    }

            }

            function sup() {


                if (confirm('Voulez-vous vraiment supprimer cet élément?')) {
                    return true;
                }
                else
                {
                    return false;
                }
            }

        </script>
    </body>

</html>
