{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->

                        <div class="row">

                            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 ">
                                <!-- Material Login -->
                                <h2 class="section-title">{%trans%}Gérer les fonctions des utilisateurs{% endtrans %}</h2>
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <ul class="list">
                                            <li>
                                                <a class="btn btn-white text-right" href="{{ path('fonctions_new') }}"><i class="fa fa-plus-circle"></i> {%trans%}Ajouter une nouvelle fonction{%endtrans%}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-block">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'Nom fr'|trans}}</th>
                <th>{{'Nom en'|trans}}</th>
                <th>{{'Nom pt'|trans}}</th>
                <th>{{'Consulter'|trans}}</th>
                <th>{{'Modifier'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for fonction in fonctions %}
            <tr>
                <td><a href="{{ path('fonctions_show', { 'id': fonction.id }) }}">{{ fonction.id }}</a></td>
                <td>{{ fonction.nomFr }}</td>
                <td>{{ fonction.nomEn }}</td>
                <td>{{ fonction.nomPt }}</td>
                <td>
                    <a class="btn btn-app-teal center-block" href="{{ path('fonctions_show', { 'id': fonction.id }) }}"><i class="fa fa-list"></i></a>

                </td>
                <td>
                    <a class="btn btn-warning center-block" href="{{ path('fonctions_edit', { 'id': fonction.id }) }}"><i class="fa fa-edit"></i></a>

                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->



                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->




                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
