{% block stylepage %}
           
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css', absolute = true) }}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css', absolute = true) }}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ asset('dist/css/skins/_all-skins.min.css', absolute = true) }}">
{% endblock %}

{% block javascripts %}
    <!-- jQuery 2.1.4 -->
    <script src="{{ asset('plugins/jQuery/jquery-2.2.3.min.js', absolute = true) }}"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{{ asset('bootstrap/js/bootstrap.min.js', absolute = true) }}"></script>
    <!-- ChartJS 1.0.1 -->
    <script src="{{ asset('plugins/chartjs/Chart.min.js', absolute = true) }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('plugins/fastclick/fastclick.min.js', absolute = true) }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('dist/js/app.min.js', absolute = true) }}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ asset('dist/js/demo.js', absolute = true) }}"></script>
  
    <!-- page script -->
    <script>

      $(function () {
        /* ChartJS
         * -------
         * Here we will create a few charts using ChartJS
         */

        //- PIE CHART -
                //-------------
                // Get context with jQuery - using jQuery's .get() method.
                var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
                var pieChart = new Chart(pieChartCanvas);
                var PieData = [
                     {% for key, resultat in resultats %}
                       {
                        label: "{{resultat.attribut}}",
                        color: "{{resultat.color}}",
                        highlight: "{{resultat.color}}",
                        value: {{resultat.nombre}}

                      },
                     {% endfor %} 
                   ];
                var pieOptions = {
                  //Boolean - Whether we should show a stroke on each segment
                  segmentShowStroke: true,
                  //String - The colour of each segment stroke
                  segmentStrokeColor: "#fff",
                  //couleur
                  colors: ['#5C3292'],
                  //Number - The width of each segment stroke
                  segmentStrokeWidth: 2,
                  //Number - The percentage of the chart that we cut out of the middle
                  percentageInnerCutout: 50, // This is 0 for Pie charts
                  //Number - Amount of animation steps
                  animationSteps: 100,
                  is3D:true,
                  //String - Animation easing effect
                  animationEasing: "easeOutBounce",
                  //Boolean - Whether we animate the rotation of the Doughnut
                  animateRotate: true,
                  //Boolean - Whether we animate scaling the Doughnut from the centre
                  animateScale: false,
                  //Boolean - whether to make the chart responsive to window resizing
                  responsive: true,
                  // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                  maintainAspectRatio: true,
                  //String - A legend template
                  legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){{'{%'}}><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){{'{%'}}><%=segments[i].label%><%}%></li><%}%></ul>"
                };
                //Create pie or douhnut chart
                // You can switch between pie and douhnut using the method below.
                pieChart.Doughnut(PieData, pieOptions);

         });
    </script>           
{% endblock %}
{% block pdf %}
    <div class="container" style= "width: 700px; height: 500px; align-content: center;"> 
        <!-- DONUT CHART -->
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-pie-chart"></i> diagramme circulaire</h3>
              <div class="box-tools pull-right">
              </div>
            </div>
            <div class="box-body">
              <canvas id="pieChart" style="height:600px"></canvas>
            </div><!-- /.box-body -->
            <div class="row">
                <ul class="chart-legend clearfix">
                      {% for key, resultat in resultats %}
                          <li><i class="fa fa-circle-o" style="color: {{resultat.color}};"></i> {{resultat.attribut}}</li>
                      {% endfor %} 

                  </ul>
                         </div>
          </div><!-- /.box -->
    </div>
{% endblock %}
{# empty Twig template #}
