{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->

                        <div class="row">

                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
                                <!-- Material Login -->

                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">{{'Consulter une notififations du projet'|trans}} : {{projet.nom}}</h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">

        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ notifications_projet.id }}</td>
            </tr>
            <tr>
                <th>{{'Nom fr'|trans}}</th>
                <td>{{ notifications_projet.nomfr }}</td>
            </tr>
            <tr>
                <th>{{'Nom en'|trans}}</th>
                <td>{{ notifications_projet.nomen }}</td>
            </tr>
            <tr>
                <th>{{'Nom pt'|trans}}</th>
                <td>{{ notifications_projet.nompt }}</td>
            </tr>
            <tr>
                <th>{{'Date'|trans}}</th>
                <td>{% if notifications_projet.date %}{{ notifications_projet.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
<br/>
    <a  class="btn btn-app-teal "  href="{{ path('projet_show', { 'id': projet.id }) }}">{{'Revenir au projet'|trans}}</a>
    <br/>{{ form_start(delete_form) }}
                                                <input class="btn btn-danger" type="submit" value="Supprimer la notification">
                                            {{ form_end(delete_form) }}


   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->



                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->




                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
