@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../Material-Icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../Material-Icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(../Material-Icons/MaterialIcons-Regular.woff) format('woff'),
       url(../Material-Icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.type{
	background-color: white;
	/*overflow-y: auto;
	height: 600px;*/
}

.projetPresent{
	padding: 10px;
}

.type:hover{
	box-shadow: 0px 0px 10px #ff0000;
}

.navlink{
    /*padding-top: 10px !important;*/
	color: #ffffff !important;
}

.navlink:hover{
	color: #3B3C36 !important;
    opacity: 1;
}

.activenav{
    opacity: 1 !important;
	border-bottom:  3px solid 0xff0000 !important;
}

.projetPresent:hover
{
	background-color:#CCC;
	color:black;
	box-shadow: 0px 0px 20px pink;
}
.background-white{
	background-color: white;
	margin-left: 3% !important;
	margin-right: 3% !important;
}

html{
	background-color: #ededed;
}

.round{
	border-radius: 50%;
}

.pull-right{
	text-align: right !important;
}

.pull-left{
	text-align: left !important;
}

.req{
	color: #ff0000;
}

.fill-parent{
	width: 100% !important;
}

.fill-half-parent{
	width: 50% !important;
}

.margin-auto{
	margin: auto;
}

.my-btn{
	margin-left: 5%;
	margin-bottom: 3%;
	width: 80%;
	text-align: left !important;
}

.my-drawer{
	height: 100% !important;
}

.my-table{
	border: 1px solid !important;
}

.my-table th{
	border: 1px solid !important;
}

.my-table td{
	border: 1px solid !important;
}

.my-table tr{
	border: 1px solid !important;
}

.my-hover-grey:hover{
	background-color: #d3d5d6;
	cursor: pointer;
}

.my-col{
	margin: 0px !important;
}

.my-drawer-link{
	background-color: rgb(63,81,181);
	color: white !important;
}

.my-select{
	display: block !important;
}

.box
{
  position:relative;
}
.back, .top
{
  top:0;
  left:0;
}
.top
{
	position:absolute;
	z-index:10;
	opacity:0.5;
	background-color: #E7FEC2;
	filter:alpha(opacity=30);
}

.partner
{
	z-index:10;
	opacity:0.5;
	filter:alpha(opacity=50);
}

