{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->

                        <div class="row">

                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
                                <!-- Material Login -->

                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">{{'Feedback enregistré'|trans}} &emsp; <i class="fa fa-check-circle fa-2x"></i></h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ feedback.id }}</td>
            </tr>
            <tr>
                <th>{{'Nom'|trans}}</th>
                <td>{{ feedback.nom }}</td>
            </tr>
            <tr>
                <th>{{'Email'|trans}}</th>
                <td>{{ feedback.email }}</td>
            </tr>
            <tr>
                <th>{{'Contenu'|trans}}</th>
                <td>{{ feedback.contenu }}</td>
            </tr>
            <tr>
                <th>{{'Date'|trans}}</th>
                <td>{% if feedback.date %}{{ feedback.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>

         </tbody>
    </table>
<br/>
<h4 class="text-center">Votre commentaire à bien été pris en considération!</h4>
<br/>
    <a  class="btn btn-app-teal center-block"  href="{{ path('admin') }}">{{'Continuer'|trans}}&emsp; <i class="fa fa-arrow-circle-right"></i></a>



   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->



                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->




                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
