<ion-list>
    <ion-radio ng-model="language.item" ng-value="'fr'">{{'francais'|translate}}</ion-radio>
    <ion-radio ng-model="language.item" ng-value="'en'">{{'anglais'|translate}}</ion-radio>
</ion-list>