<div class="list">

  <label class="item item-input item-stacked-label">
    <span class="input-label">{{'email'|translate}}</span>
    <input type="text" placeholder="john@suhr.com" ng-model="inscrire.email">
  </label>

</div>