<ion-view view-title="Siren Turtles">
  <ion-content ng-class="utilisateur.arriere">
      <div class="row" style="width: 100%;margin-left: 5%;font-size:large;">
          <table>
              
              <tr>
                  <td >
                    {{'segment'|translate}}:  
                  </td>
                  <td style="color: red;">
                      {{affi_patrouille.nom}}
                  </td>
                  
              </tr>
              
              <tr>
                  <td>
                    {{'nom du site'|translate}}:  
                  </td>
                  <td style="color: red;">
                      {{affi_patrouille.nomSite}}
                  </td>
                  
              </tr>
              <tr>
                  <td>
                    {{'Heure de début'|translate}}:  
                  </td>
                  <td style="color: red;">
                      {{affi_patrouille.dateDebut | date:'HH:mm'}}
                  </td>
                  
              </tr>
              <tr>
                  <td>
                    {{'Heure de fin'|translate}}: 
                  </td>
                  <td style="color: red;">
                      {{affi_patrouille.dateFin | date:'HH:mm'}}
                  </td>
                  
              </tr>
              <tr>
                  <td>
                    {{'Durée de la patrouille'|translate}}:  
                  </td>
                  <td style="color: red;">
                      
                  </td>
                  
              </tr>
              <tr>
                  <td>
                    {{'Distance parcouru'|translate}}: 
                  </td>
                  <td style="color: red;">
                      
                  </td>
                  
              </tr>
              <tr>
                  <td>
                    {{'Nombre de traces'|translate}}:  
                  </td>
                  <td style="color: red;">
                      
                  </td>
                  
              </tr>
              <tr>
                  <td>
                    {{'Nombre de nids'|translate}}:  
                  </td>
                  <td style="color: red;">
                      
                  </td>
                  
              </tr>
              <tr>
                  <td>
                    {{'Nombre d individus vivants'|translate}}:  
                  </td>
                  <td style="color: red;">
                      
                  </td>
                  
              </tr>
              <tr>
                  <td>
                    {{'Nombre d individus morts'|translate}}:  
                  </td>
                  <td style="color: red;">
                      
                  </td>
                  
              </tr>
              <tr>
                  <td>
                    {{'Nombre de carcasses(restes)'|translate}}:  
                  </td>
                  <td style="color: red;">
                      
                  </td>
                  
              </tr>
             
        </table>

      </div>
  </ion-content>
</ion-view>
