{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
                                <!-- Material Login -->
								
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">{{'Visiter un site'|trans}}</h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ site.id }}</td>
            </tr>
            <tr>
                <th>{{'Nom'|trans}}</th>
                <td>{{ site.nom }}</td>
            </tr>
            <tr>
                <th>{{'Date'|trans}}</th>
                <td>{{ site.date|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
<br/>
    {% if retour %}
        <a  class="btn btn-app-teal "  href="{{ path('projet_show', { 'id': retour }) }}">{{'Revenir sur le projet'|trans}}</a>
    {% else %}
        <a  class="btn btn-app-teal "  href="{{ path('sites_index') }}">{{'Revenir à la liste'|trans}}</a>
    
    {% endif %}

  
   </div>
                                    <!-- .card-block -->
                                </div>
                                
                                <!-- .card -->
            <div class="card">
                                    <div class="card-header bg-green bg-inverse">
                                        <h2 class="section-title">{{'Segment de la site'|trans}} <a class="btn btn-white right" href="{{ path('segments_new') }}"><i class="fa fa-plus-circle"></i> {{'Ajouter'|trans}}</a></h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Segment</th>
                <th>Nom</th>
                <th>Ville</th>
                <th>Region</th>
                <th>Date</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        
        {% for segment in segments %}
            <tr>
                <td><a href="{{ path('segments_show', { 'id': segment.id }) }}">{{ loop.index }}</a></td>
                <td>{{ segment.nom }}</td>
                <td>{{ segment.ville }}</td>
                <td>{{ segment.region }}</td>
                <td>{{ segment.date|date('Y-m-d H:i:s') }}</td>
                <td><a class="btn btn-warning center-block"  href="{{ path('segments_edit', { 'id': segment.id }) }}"><i class="fa fa-edit"></i></a>
                <td><a class="btn btn-danger center-block"  href="{{ path('segments_show', { 'id': segment.id }) }}"><i class="fa fa-close"></i></a>
                    
                </td>
            </tr>
        {% endfor %}                    
        </tbody>
    </table>
<br/>
    

  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}

