{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->

                        <div class="row">

                            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 ">
                                <!-- Material Login -->
                                <h2 class="section-title">{{'Gérer les questions'|trans}}</h2>
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <ul class="list">
                                            <li>
                                                <a class="btn btn-white text-right" href="{{ path('questions_new') }}"><i class="fa fa-plus-circle"></i> {{'Ajouter une nouvelle question'|trans}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-block">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'Titre fr'|trans}}</th>
                <th>{{'Titre en'|trans}}</th>
                <th>{{'Titre pt'|trans}}</th>
                <th>{{'Type de reponse'|trans}}</th>
                <th>{{'Intervale'|trans}}</th>
                <th>{{'Consulter'|trans}}</th>
                <th>{{'Modifier'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td><a href="{{ path('questions_show', { 'id': question.id }) }}">{{ question.id }}</a></td>
                <td>{{ question.titreFr }}</td>
                <td>{{ question.titreEn }}</td>
                <td>{{ question.titrePt }}</td>
                <td>{{ question.typeReponse }}</td>
                <td>{{ question.intervale }}</td>
                <td>
                    <a class="btn btn-app-teal center-block" href="{{ path('questions_show', { 'id': question.id }) }}"><i class="fa fa-list"></i></a>

                </td>
                <td>
                    <a class="btn btn-warning center-block" href="{{ path('questions_edit', { 'id': question.id }) }}"><i class="fa fa-edit"></i></a>

                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->



                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->




                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
