{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->

                        <div class="row">

                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
                                <!-- Material Login -->

                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">{{'Consulter une question'|trans}}</h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ question.id }}</td>
            </tr>
            <tr>
                <th>{{'Titre fr'|trans}}</th>
                <td>{{ question.titreFr }}</td>
            </tr>
            <tr>
                <th>{{'Titre en'|trans}}</th>
                <td>{{ question.titreEn }}</td>
            </tr>
            <tr>
                <th>{{'Titre pt'|trans}}</th>
                <td>{{ question.titrePt }}</td>
            </tr>
            <tr>
                <th>{{'Type de reponse'|trans}}</th>
                <td>{{ question.typeReponse }}</td>
            </tr>
            <tr>
                <th>{{'Intervale'|trans}}</th>
                <td>{{ question.intervale }}</td>
            </tr>
            {% if question.image !=null%}
            <tr>
                <th>{{'Image'|trans}} <a class="btn btn-danger" href="{{ path('questions_delete_image', { 'id': question.id }) }}"><i class="fa fa-close"></i></a></th>
                <td><img
                                    src="{{ app.request.basePath }}/images/question/{{ question.image }}"
                                    alt="{{ question.titreFr }}"
                                    width="100"
                                    height="100"
                                    /></td>
            </tr>
            {% endif %}
           {% if question.questions%}
            <tr>
                <th>{{'Question Suivante'|trans}}</th>
                <td>
                    {{ question.questions.id }} | {{ question.questions.titreFr }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
<br/>
    {% if retour %}
        <a  class="btn btn-app-teal "  href="{{ path('projet_show', { 'id': retour }) }}">{{'Revenir sur le projet'|trans}}</a>
    {% else %}
        <a  class="btn btn-app-teal "  href="{{ path('questions_index') }}">{{'Revenir à la liste'|trans}}</a>

    {% endif %}


   </div>
                                    <!-- .card-block -->
                                </div>

                                <!-- .card -->
        {% if question.typeReponse =="select" %}
            <div class="card">
                                    <div class="card-header bg-green bg-inverse">
                                        <h2 class="section-title">{{'Reponses de la question'|trans}} <a class="btn btn-white right" href="{{ path('reponses_new') }}"><i class="fa fa-plus-circle"></i> {{'Ajouter'|trans}}</a></h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>N°</th>
                <th>Reponse</th>
                <th>Image</th>
                <th>Question suivante</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>

        {% for reponse in reponses %}
            <tr>
                <td><a href="{{ path('reponses_show', { 'id': reponse.id }) }}">{{ loop.index }}</a></td>
                <td>{{ reponse.titreFr }}</td>
                <td>
                {% if reponse.image != null %}
                <img
                                    src="{{ app.request.basePath }}/images/reponse/{{ reponse.image }}"
                                    alt="{{ reponse.titreFr }}"
                                    width="50"
                                    height="50"
                                    />
                {% else %}
                Pas d'image
                {% endif %}
                </td>
                <td>
                    {% if reponse.questionsNext %}

                    {{ reponse.questionsNext.id }} | {{ reponse.questionsNext.titreFr }}
                     {% else %}

                     {{'Aucune question suivante'|trans}}
                     {% endif %}

                    </td>
                <td><a class="btn btn-warning center-block"  href="{{ path('reponses_edit', { 'id': reponse.id }) }}"><i class="fa fa-edit"></i></a>
                <td><a class="btn btn-danger center-block"  href="{{ path('reponses_show', { 'id': reponse.id }) }}"><i class="fa fa-close"></i></a>

                </td>
            </tr>
        {% endfor %}



        </tbody>
    </table>
<br/>



   </div>
                                    <!-- .card-block -->
                                </div>
        {% else %}
             <b class="btn btn-success">{{"L'utilisateur devra entrer la reponse à cette question"|trans}} </b>
        {% endif %}
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->



                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->




                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
