{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->

                        <div class="row">

                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
                                <!-- Material Login -->

                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">{{'Consulter une réponse'|trans}}</h2>
                                    </div>
                                    <div class="card-header bg-teal bg-inverse">
                                        <ul class="list">
                                            <li>
                                            {{ form_start(delete_form) }}
                                                <input class="btn btn-danger" type="submit" value="Supprimer">
                                            {{ form_end(delete_form) }}</li>
                                        </ul>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reponse.id }}</td>
            </tr>
            <tr>
                <th>{{'Titre fr'|trans}}</th>
                <td>{{ reponse.titreFr }}</td>
            </tr>
            <tr>
                <th>{{'Titre en'|trans}}</th>
                <td>{{ reponse.titreEn }}</td>
            </tr>
            <tr>
                <th>{{'Titre pt'|trans}}</th>
                <td>{{ reponse.titrePt }}</td>
            </tr>
             {% if reponse.questions%}
            <tr>
                <th>{{'Question Suivante'|trans}}</th>
                <td>
                    {{ reponse.questions.id }} | {{ reponse.questions.titreFr }}</td>
            </tr>
            {% endif %}
            {% if reponse.image !=null%}
            <tr>
                <th>{{'Image'|trans}}</th>
                <td><img
                                    src="{{ app.request.basePath }}/images/reponse/{{ reponse.image }}"
                                    alt="{{ reponse.titreFr }}"
                                    width="100"
                                    height="100"
                                    /></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
<br/>
    <a  class="btn btn-app-teal" href="{{ path('questions_show', { 'id': reponse.questions.id }) }}">{{'Revenir à la question'|trans}}</a>



   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->



                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->




                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
