.primary {
    background-color: #3F51B5;
    color: white;
}

.menu ion-header-bar {
  border: none;
  box-shadow: none;
  min-height: 165px;
  width: 300px;
  color: #fff;
  background-color: #1E88E5;
  padding: 0; 
}
  .menu ion-header-bar .item {
    background-color: #1B5E20;
    border: none;
    width: 100%;
    
/*    padding-left: 120px;
    padding-top: 45px; */
  }
  
  ion-header-bar > center > img {
      margin-top: 10px;
  }
  
  @font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jura/jura-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Jura Regular"), local("Jura-Regular"), url("../fonts/jura/jura-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/jura/jura-v7-latin-regular.woff2") format("woff2"), url("../fonts/jura/jura-v7-latin-regular.woff") format("woff"), url("../fonts/jura/jura-v7-latin-regular.ttf") format("truetype"), url("../fonts/jura/jura-v7-latin-regular.svg#Jura") format("svg");
  /* Legacy iOS */ }


.menu ion-content {
  top: 165px;
  
}
.menu ion-header-bar .item img {
      max-width: 100px !important;
      max-height: 100px;
      top: 10% !important;
      left: 10px !important;
}
.test {
  font-family: 'Jura';
}
center h5 {
  font-size: 18px;
  font-weight: bold;
  color: white;
}
center p {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.mode{
    font-size: 20px;
    color: red;
}

.commencer{
    width: 80%;
    top: 30px;
    left: 10%;
    margin-bottom: 50px;
}
.commencer:hover{
    color: white;
}

.commencer:active{
    background-color: #7986CB;
}

.logo_text{
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: 'Jura';
}
.logo_img{
  width: 100px;
  margin-top:10px;
}
.arriere{
    background-image: url('../img/back1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    
}
.arriere1{
    background-image: url('../img/back.png');
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    
}
.transp {
    background-color: #FFFFFF;
    opacity: 0.7;
    border: 0px;
}