{% extends 'base.html.twig' %}

{% block body %}
    <h1>Boussole</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ boussole.id }}</td>
            </tr>
            <tr>
                <th>{{'Date'|trans}}</th>
                <td>{% if boussole.date %}{{ boussole.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{'Coordx'|trans}}</th>
                <td>{{ boussole.coordX }}</td>
            </tr>
            <tr>
                <th>{{'Coordy'|trans}}</th>
                <td>{{ boussole.coordY }}</td>
            </tr>
            <tr>
                <th>{{'Titre'|trans}}</th>
                <td>{{ boussole.titre }}</td>
            </tr>
            <tr>
                <th>{{'Etat'|trans}}</th>
                <td>{{ boussole.etat }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('boussole_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('boussole_edit', { 'id': boussole.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
