{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->

                        <div class="row">

                            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 ">
                                <!-- Material Login -->
								<h2 class="section-title">Gérer le marché de poisson</h2>
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <ul class="list">
                                            <li>
                                                <a class="btn btn-white text-right" href="{{ path('marche_new') }}"><i class="fa fa-plus-circle"></i> Ajouter une nouvelle annonces</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-block">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'Date'|trans}}</th>
                <th>{{'Type de poisson'|trans}}</th>
                <th>{{'Site de pêche'|trans}}</th>
                <th>{{'Quantite'|trans}}</th>
                <th>{{'Prix'|trans}}</th>
                <th>{{'Image'|trans}}</th>
                <th>{{'Status'|trans}}</th>
                <th>{{'Consulter'|trans}}</th>

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    {% if is_granted('ROLE_ADMIN') %}
                         <th>{{'Modifier'|trans}}</th>
                    {% endif %}
               {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for marche in marches %}
            <tr>
                <td><a href="{{ path('marche_show', { 'id': marche.id }) }}">{{ marche.id }}</a></td>
                <td>{% if marche.date %}{{ marche.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ marche.typeDePoisson }}</td>
                <td>{{ marche.siteDePeche }}</td>
                <td>{{ marche.quantite }}</td>
                <td>{{ marche.prix }}</td>
                <td><img
                                    src="{{ app.request.basePath }}/images/marche/tof1/{{ marche.img1 }}"
                                    alt="{{ marche.typeDePoisson }}"
                                    width="100"
                                    height="100"
                                    /></td>
                <td>{% if marche.etat == 1 %}Actif{% else %}Non Actif{% endif %}</td>
                <td>
                    <a class="btn btn-app-teal center-block" href="{{ path('marche_show', { 'id': marche.id }) }}"><i class="fa fa-list"></i></a>

                </td>
                <td>
                    <a class="btn btn-warning center-block" href="{{ path('marche_edit', { 'id': marche.id }) }}"><i class="fa fa-edit"></i></a>

                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->



                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->




                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
