{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->

                        <div class="row">

                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
                                <!-- Material Login -->

                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">{{'Consulter une espèce'|trans}}</h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ espece.id }}</td>
            </tr>
            <tr>
                <th>{{'Nom fr'|trans}}</th>
                <td>{{ espece.nomFr }}</td>
            </tr>
            <tr>
                <th>{{'Nom en'|trans}}</th>
                <td>{{ espece.nomEn }}</td>
            </tr>
            <tr>
                <th>{{'Nom pt'|trans}}</th>
                <td>{{ espece.nomPt }}</td>
            </tr>
             <tr>
                <th>{{'Nom inaturalit'|trans}}</th>
                <td>{{ espece.nomInaturalist }}</td>
            </tr>
            <tr>
                <th>{{'Description fr'|trans}}</th>
                <td>{{ espece.descriptionFr }}</td>
            </tr>
            <tr>
                <th>{{'Description en'|trans}}</th>
                <td>{{ espece.descriptionEn }}</td>
            </tr>
            <tr>
                <th>{{'Image'|trans}}</th>
                <td><img
                                    src="{{ app.request.basePath }}/images/especes/{{ espece.image }}"
                                    alt="{{ espece.nomFr }}"
                                    width="100"
                                    height="100"
                                    /></td>
            </tr>
        </tbody>
    </table>
<br/>
    <a  class="btn btn-app-teal "  href="{{ path('sous_groupes_show',{'id':espece.sousgroupes.id}) }}">{% trans%}Revenir au sous groupe{% endtrans%}</a>



   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->



                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->




                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
