{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projet_menus list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'Actions'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for projet_menu in projet_menus %}
            <tr>
                <td><a href="{{ path('projet_menu_show', { 'id': projet_menu.id }) }}">{{ projet_menu.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('projet_menu_show', { 'id': projet_menu.id }) }}">{{'show'|trans}}</a>
                        </li>
                        <li>
                            <a href="{{ path('projet_menu_edit', { 'id': projet_menu.id }) }}">{{'edit'|trans}}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('projet_menu_new') }}">{{'Create a new projet_menu'|trans}}</a>
        </li>
    </ul>
{% endblock %}
