{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
                                <!-- Material Login -->
								
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">{{'Consulter une espèces du projet'|trans}}</h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projet_espece.id }}</td>
            </tr>
            <tr>
                <th>{{'Projet'|trans}}</th>
                <td>{{ projet_espece.projet.nom }}</td>
            </tr>
            <tr>
                <th>{{'Espèces'|trans}}</th>
                <td>{{ projet_espece.especes.nomFr }}</td>
            </tr>
             
        </tbody>
    </table>
<br/>
    <a  class="btn btn-app-teal "  href="{{ path('projet_show', { 'id': projet.id }) }}">{{'Revenir au projet'|trans}} : {{projet.nom}}</a>
    <br/>{{ form_start(delete_form) }}
                                                <input class="btn btn-danger" type="submit" value="Supprimer l'espèces">
                                            {{ form_end(delete_form) }}

  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}

