{% extends "FOSUserBundle:Resetting:request.html.twig" %}

{% block body %} 
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone">
        </div>
        <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-phone mdl-cell--8-col-tablet mdl-shadow--8dp type">
            <div class="container" >
                <div class="hero-content">
                    <center><h4 >{{'Chez utilisateur'|trans}} !!!</h4></center>
                </div>
            </div>
{% block fos_user_content %}
    <div class="row">
        <div class="input-field col s2"></div>
        <div class="input-field col s1">
            <i class="material-icons prefix">mail</i>
        </div>
        <div class="input-field col s7">
            {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
        </div>
        <div class="input-field col s2"></div>
    </div>

{% endblock fos_user_content %}
        </div>

    </div>
{% endblock %}

