<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="row">
        <div class="input-field col s2"></div>
        <div class="input-field col s8">
            <i class="material-icons prefix">perm_identity</i>
            <input id="username" name="username" type="text" class="validate" required>
            <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
        </div>
        <div class="input-field col s2"></div>
    </div>
    <div class="row">
        <div class="input-field col s4"></div>
        <div class="input-field col s4">
            <button type="submit" name="_submit" id="_submit" class="mdl-color--deep-purple-900 mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                {{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}
            </button>
        </div>
        <div class="input-field col s4"></div>
    </div>
     
</form>
