<ion-header>
    <navbar title= "{{ 'SELECTIONESPECE' | translate }}" ></navbar>
</ion-header>
<ion-content class="backgroundcorps" >
    <div well>
        <div well-header> 
          <p *ngIf="langue == 0">{{especeelement.nom_fr}}</p>
          <p *ngIf="langue == 1">{{especeelement.nom_fr}}</p>
        </div>
       <div well-body>
          <div well-body-image>
            <img src="{{especeelement.image}}">
          </div>  
         <div well-body-content>
            <p *ngIf="langue == 0" >{{especeelement.description_fr}}</p>
            <p *ngIf="langue == 1" >{{especeelement.description_en}}</p>
          </div>
       </div>
  </div>
    <ion-grid>
         <ion-row >
              <ion-col col-6  *ngFor="let item of listeespeces">
                  <div class="cardpremieracceuil" (click)="nombrepetit(item)">
                    <img class="premier" src="{{item.image}}" />
                    <strong><p class="textcard" *ngIf="langue == 0">{{item.nom_fr}}</p></strong>
                    <strong><p class="textcard" *ngIf="langue == 1">{{item.nom_en}}</p></strong>
                </div>
              </ion-col>
         </ion-row>
    </ion-grid>


    <ion-row class="monbutonvalide">
      <ion-col>
        <button  (click)="backFunction()" ion-fab left bottom  color="danger"> <ion-icon name="md-close"></ion-icon> </button>
      </ion-col>
    </ion-row>
</ion-content>
