{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->

                        <div class="row">

                            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 ">
                                <!-- Material Login -->
								<h2 class="section-title">Gérer les menus</h2>
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <ul class="list">
                                            <li>
                                                <a class="btn btn-white text-right" href="{{ path('menu_new') }}"><i class="fa fa-plus-circle"></i> Ajouter un nouveau menu</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-block">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'Nom fr'|trans}}/th>
                <th>{{'Nom en'|trans}}</th>
                <th>{{'Nom pt'|trans}}</th>


                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    {% if is_granted('ROLE_ADMIN') %}
                         <th>{{'Consulter'|trans}}</th>
                         <th>{{'Modifier'|trans}}</th>
                    {% endif %}
               {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td><a href="{{ path('menu_show', { 'id': menu.id }) }}">{{ menu.id }}</a></td>
                <td>{{ menu.nomfr }}</td>
                <td>{{ menu.nomen }}</td>
                <td>{{ menu.nompt }}</td>
                <td>
                    <a class="btn btn-app-teal center-block" href="{{ path('menu_show', { 'id': menu.id }) }}"><i class="fa fa-list"></i></a>

                </td>
                <td>
                    <a class="btn btn-warning center-block" href="{{ path('menu_edit', { 'id': menu.id }) }}"><i class="fa fa-edit"></i></a>

                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->



                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->




                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
