{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->

                        <div class="row">

                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
                                <!-- Material Login -->

                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">Consulter un menu</h2>
                                         <ul class="list">
                                            <li>
                                            {{ form_start(delete_form) }}
                                                <input class="btn btn-danger" type="submit" value="Supprimer">
                                            {{ form_end(delete_form) }}</li>
                                        </ul>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menu.id }}</td>
            </tr>
            <tr>
                <th>{{'Nom fr'|trans}}</th>
                <td>{{ menu.nomfr }}</td>
            </tr>
            <tr>
                <th>{{'Nom en'|trans}}</th>
                <td>{{ menu.nomen }}</td>
            </tr>
            <tr>
                <th>{{'Nom pt'|trans}}</th>
                <td>{{ menu.nompt }}</td>
            </tr>
        </tbody>
    </table>
<br/>
    <a  class="btn btn-app-teal "  href="{{ path('menu_index') }}">Revenir à la liste</a>



   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->



                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->




                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
