{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
                                <!-- Material Login -->
                                <h2 class="section-title">{% trans%}Modifier un type d'observations{% endtrans%}</h2>
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <ul class="list">
                                            <li>
                                            {{ form_start(delete_form) }}
                                                <input class="btn btn-danger" type="submit" value="Supprimer">
                                            {{ form_end(delete_form) }}</li>
                                        </ul>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Mettre à jour" />
    {{ form_end(edit_form) }}
    <br/><br/>
    <tr>
                <th>{{'Image'|trans}} <a class="btn btn-danger" href="{{ path('type_observations_delete_image', { 'id': type_observation.id }) }}"><i class="fa fa-close"></i></a></th>
                <td>
                <img 
                                    src="{{ app.request.basePath }}/images/typeObservations/{{ type_observations.image }}"
                                    alt="{{ type_observations.nomFr }}"
                                    width="100"
                                    height="100"
                                    class="bg-blue"
                                    />
                </td>
            </tr>
    <br/>
    <a  class="btn btn-app-teal "  href="{{ path('type_observations_index') }}">{% trans%}Revenir à la liste{% endtrans%}</a>
    

  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}

