{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->

                        <div class="row">

                            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 ">
                                <!-- Material Login -->
                                <h2 class="section-title">{%trans%}Gérer les types d'observations{%endtrans%}</h2>
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <ul class="list">
                                            <li>
                                                <a class="btn btn-white text-right" href="{{ path('type_observations_new') }}"><i class="fa fa-plus-circle"></i>{%trans%} Ajouter un nouveau type d'observation{%endtrans%}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-block">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'Nom fr'|trans}}</th>
                <th>{{'Nom en'|trans}}</th>
                <th>{{'Nom pt'|trans}}</th>
                <th>{{'Type de question'|trans}}</th>

                <th>{{'Image'|trans}}</th>
                <th>{{'Consulter'|trans}}</th>
                <th>{{'Modifier'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for type_observation in type_observations %}
            <tr>
                <td><a href="{{ path('type_observations_show', { 'id': type_observation.id }) }}">{{ type_observation.id }}</a></td>
                <td>{{ type_observation.nomFr }}</td>
                <td>{{ type_observation.nomEn }}</td>
                <td>{{ type_observation.nomPt }}</td>
                <td>{{ type_observation.typeQuestion }}<br>
                {% if type_observation.Questions.id is defined %}

                {{ type_observation.Questions.id }} | {{ type_observation.Questions.titreFr }}</td>
                {% endif %}
                <td><img
                                    src="{{ app.request.basePath }}/images/typeObservations/{{ type_observation.image }}"
                                    alt="{{ type_observation.nomFr }}"
                                    width="40"
                                    height="40"
                                    class="bg-blue"
                                    /></td>
               <td>
                    <a class="btn btn-app-teal center-block" href="{{ path('type_observations_show', { 'id': type_observation.id }) }}"><i class="fa fa-list"></i></a>

                </td>
                <td>
                    <a class="btn btn-warning center-block" href="{{ path('type_observations_edit', { 'id': type_observation.id }) }}"><i class="fa fa-edit"></i></a>

                </td>


            </tr>
        {% endfor %}
        </tbody>
    </table>


   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->



                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->




                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
