{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->

                        <div class="row">

                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
                                <!-- Material Login -->

                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">{%trans%}Consulter une type d'observation{% endtrans%}</h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_observations.id }}</td>
            </tr>
            <tr>
                <th>{{'Nom fr'|trans}}</th>
                <td>{{ type_observations.nomFr }}</td>
            </tr>
            <tr>
                <th>{{'Nom en'|trans}}</th>
                <td>{{ type_observations.nomEn }}</td>
            </tr>
            <tr>
                <th>{{'Nom pt'|trans}}</th>
                <td>{{ type_observations.nomPt }}</td>
            </tr>
            <tr>
                <th>{{'Type de Question'|trans}}</th>
                <td>{{ type_observations.typeQuestion }}</td>
            </tr>
            {% if type_observations.Questions.id is defined %}
            <tr>
                <th>{{'Questions de départ'|trans}}</th>
                <td>{{ type_observations.Questions.id }} | {{ type_observations.Questions.nomFr }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{{'Image'|trans}}</th>
                <td>
                <img
                                    src="{{ app.request.basePath }}/images/typeObservations/{{ type_observations.image }}"
                                    alt="{{ type_observations.nomFr }}"
                                    width="100"
                                    height="100"
                                    class="bg-blue"
                                    />
                </td>
            </tr>
        </tbody>
    </table>
<br/>
    <a  class="btn btn-app-teal "  href="{{ path('type_observations_index') }}">{{'Revenir à la liste'|trans}}</a>



   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->



                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->




                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
