{% extends "::layout.html.twig" %}

{% block title %}{{'Mes projets'|trans}}{% endblock %}

{% block stylepage %}
    <style>
        /*[type='checkbox'] + label::before{
            border: 2px solid #3f51b5 !important;
        }*/
        [type='checkbox']:checked + label::before{
            border-right: 2px solid #3f51b5 !important;
            border-bottom: 2px solid #3f51b5 !important;
        }

        input[type="text"]:focus{
            border-bottom: 2px solid #3f51b5 !important;
        }

        input[type="text"]:focus + label{
            color: #3f51b5 !important;
        }

        .input-field .prefix.active{
            color: #3f51b5 !important;
        }

        .label, .value{
            color: #ffffff;
        }
    </style>
{% endblock %}

{% block drawer %}
    <div class="mdl-layout__drawer mdl-color--cyan-900">
        <span  style="margin:15px;">
            <center>
                {% if app.user.image is null %}
                    <img src="{{ asset('images/user.png') }} "/>
                {% else %}
                    <img src="{{ asset(app.user.image.webPath) }} " style="border-radius: 50%; width: 100px; height: 100px;"/>
                {% endif %}
                <div class="mdl-layout-title mdl-color-text--white" style="margin-top:15px;">{{ app.user.nom }}</div>
            </center>
        </span>
        <hr class="white" style="width:100%; margin-bottom: 0px !important;">
        <div style="background-color: rgba(255, 255, 255, 0.5); padding: 15px;">
            <center>
                <div class="mdl-layout-title mdl-color-text--white">{{'MENU PROJET'|trans}}</div>
            </center>
        </div>
        {% block linknavdrawer %}
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet") }}">{{'Mes Projets'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_dashboard") }}">{{'Retour au menu principal'|trans}}</a>
            </nav>
        {% endblock %}
    </div>
{% endblock %}

{% block layout %}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    {% endblock %}

    {% block linkrow1 %}
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link navlink" href="{{ path('SirenTortue_homepage') }}"><i class="material-icons" style="margin-right:5px;">home</i>{{'Accueil'|trans}}</a>
            <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}"><i class="material-icons" style="margin-right:5px;">exit_to_app</i><span>{{'Déconnexion'|trans}}</span></a>
        </nav>
    {% endblock %}

    {% block linkrow2 %}
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            {% block linknavheader %}
                <nav class="mdl-navigation">
                    <ul id='langue'>
                        {% if (app.request.getLocale()) == 'en' %}
                            <li style="display: inline-block;">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                        {% if (app.request.getLocale()) == 'fr' %}
                            <li style="display: inline-block;">
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endblock %}
        </div>
    {% endblock %}

    {% block body %}
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col"></div>
            <div class="mdl-cell mdl-cell--10-col type">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col mdl-grid">
                        <div class="mdl-cell mdl-cell--3-col"></div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <a class="waves-effect waves-light btn teal tooltipped modal-trigger" data-position="bottom" data-delay="50" data-tooltip="nouveau Projet" href="#modalProjet" id="newProjet">
                                <i class="material-icons">add</i>
                                {{'Créer un nouveau projet'|trans}}
                            </a>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-grid">
                        <ul class="mdl-cell mdl-cell--12-col collapsible popout" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">content_paste</i>{{'Liste des projets que vous avez créés'|trans}}</div>
                                <div class="collapsible-body mdl-grid">
                                    {% for projet in projets_inities %}
                                        <div class="mdl-cell mdl-cell--4-col mdl-grid mdl-shadow--6dp mdl-color--cyan-700 projet" id="{{ projet.id }}">
                                            <a class="mdl-cell mdl-cell--12-col" href="{{ path("siren_user_projet_patrouille", {'id' : projet.id}) }}">
                                                <div class="mdl-cell mdl-cell--12-col mdl-color-text--white">
                                                    <h4 class="mdl-card__title-text ">{{ projet.nom }}</h4>
                                                </div>
                                                <div class="mdl-cell mdl-cell--12-col">
                                                    <span class="label">{{  'Lieu'|trans }} : </span><span class="value">{{ projet.lieu }}</span><br/>
                                                    {% if projet.pays is not null %}
                                                        <span class="label">{{  'Pays'|trans }} : </span><span class="value">{{ projet.pays.nom(app.request.attributes.get('_locale')) }}</span><br/>
                                                    {% else %}
                                                        <span class="label">{{  'Pays'|trans }} : </span><span class="value"></span><br/>
                                                    {% endif %}
                                                    <!--<span class="label">Villes : </span><span class="value">{{ projet.villes|length }}</span><br/>-->
                                                    <span class="label">{{  'Patrouilles'|trans }} : </span><span class="value">{{ projet.villes|length }}</span><br/>
                                                    <span class="label">{{  'Patrouilleurs'|trans }} : </span><span class="value">{{ projet.patrouilleurs|length }}</span><br/>
                                                    <span class="label">{{  'Site'|trans }} : </span><span class="value">{{ projet.sites|length }}</span><br/>
                                                    <span class="label">{{  'Questions'|trans }} : </span><span class="value">{{ projet.questions|length }}</span><br/>
                                                    <span class="label">{{  'Date de création'|trans }} : </span><span class="value">{{ projet.dateAdd.format('d/m/Y') }}</span><br/>
                                                </div>
                                            </a>
                                            <div class="mdl-card__actions mdl-card--border mdl-color-text--white">
                                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect modifProjet mdl-color-text--white" id="{{ projet.id }}">
                                                    {{'Modifier'|trans}}
                                                </a>
                                                {#<div class="mdl-layout-spacer"></div>#}
                                                <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon delete mdl-color-text--white right" id="del{{ projet.id }}"><i class="material-icons">delete</i></a>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="mdl-cell mdl-cell--12-col" align="center"> {% trans %} Aucun projet enregistré {% endtrans %}</div>
                                    {% endfor %}
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">content_paste</i>{{'Liste des projets dans lesquelles vous avez participé'|trans}}</div>
                                <div class="collapsible-body">
                                    <div class="mdl-grid">
                                        {% for participer in projets_participes %}
                                            <a class="mdl-cell mdl-cell--4-col mdl-grid mdl-shadow--6dp mdl-color--cyan-700 projet" href="{{ path("siren_user_projet_patrouille", {'id' : participer.projet.id}) }}" id="{{  participer.projet.id }}" style="cursor: pointer">
                                                <div class="mdl-cell mdl-cell--12-col mdl-color-text--white">
                                                    <h4 class="mdl-card__title-text ">{{ participer.projet.nom }}</h4>
                                                </div>
                                                <div class="mdl-cell mdl-cell--12-col">
                                                    <span class="label">{{ 'Auteur'|trans }} : </span><span class="value">{{  participer.projet.auteur }}</span><br/>
                                                    <span class="label">{{ 'Lieu'|trans }} : </span><span class="value">{{  participer.projet.lieu }}</span><br/>
                                                    <span class="label">{{ 'Pays'|trans }} : </span><span class="value">{{  participer.projet.pays.nom(app.request.attributes.get('_locale')) }}</span><br/>
                                                    <!--<span class="label">Villes : </span><span class="value">{{  participer.projet.villes|length }}</span><br/>-->
                                                    <span class="label">{{  'Patrouilles'|trans }} : </span><span class="value">{{ participer.projet.villes|length }}</span><br/>
                                                    <span class="label">{{  'Patrouilleurs'|trans }} : </span><span class="value">{{ participer.projet.patrouilleurs|length }}</span><br/>
                                                    <span class="label">{{  'Site'|trans }} : </span><span class="value">{{ participer.projet.sites|length }}</span><br/>
                                                    <span class="label">{{  'Questions'|trans }} : </span><span class="value">{{ participer.projet.questions|length }}</span><br/>
                                                    <span class="label">{{  'Date de création'|trans }} : </span><span class="value">{{ participer.projet.dateAdd.format('d/m/Y') }}</span><br/>
                                                </div>
                                            </a>
                                        {% else %}
                                            <div class="mdl-cell mdl-cell--12-col" align="center"> {% trans %} Aucun projet enregistré {% endtrans %}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block modal %}
        <div id="modalProjet" class="modal modal-fixed-footer">
                {{ form_start(form, {'method': 'post', 'action': path('siren_user_projet_new'), 'attr': {'id': 'formProjet'}}) }}
                <div class="modal-content">
                    <h4 id="titre">{% trans %}Enregistrement d'un nouveau projet{% endtrans %}</h4><hr/>

                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            {{ form_widget(form.nom, {'id' : 'nom', 'attr': {'class': 'mdl-textfield__input required'} }) }}
                            {{ form_label(form.nom, "Nom du Projet"|trans, {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                            <span class="mdl-textfield__error">{{ form_errors(form.nom) }}</span>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            {{ form_widget(form.lieu, {'id' : 'lieu', 'attr': {'class': 'mdl-textfield__input required'} }) }}
                            {{ form_label(form.lieu, "Lieu "|trans, {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                            <span class="mdl-textfield__error">{{ form_errors(form.lieu) }}</span>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col input-field" id="divPays">
                            {{ form_widget(form.pays, {'id' : 'pays' }) }}
                            {{ form_label(form.pays, "Pays *"|trans, {'label_attr': {'for': 'pays'}}) }}
                        </div>
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <input class="mdl-textfield__input required date" type="text" id="dateDebut" name="dateDebut">
                            <label class="mdl-textfield__label" for="dateDebut">{{ "Date de début *"|trans }}</label>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-green btn teal" id="send" type="submit" name="send"><i class="material-icons right">send</i><span id="btSend">{{'Enregistrer'|trans}}</span></button>
                    <button class="modal-action modal-close waves-effect waves-green btn pink" type="reset"><i class="material-icons right">close</i>{{'Annuler'|trans}}</button>
                </div>
                <input type='hidden' id="pathget" value="{{ path("siren_user_projet_get", {'id' : '1'}) }}" />
                <input type='hidden' id="pathmodif" value="{{ path("siren_user_projet_modif", {'id' : '1'}) }}" />
                <input type='hidden' id="pathdel" value="{{ path("siren_user_projet_delete", {'id' : '1'}) }}" />
                {{ form_end(form) }}
        </div>


        {#<div id="modalInfos" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4 id="titre">{{'Résumé de la patrouille'|trans}}</h4><hr/>
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col mdl-grid">
                        <div class="mdl-cell mdl-cell--6-col">{{'Nom du Projet'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="segment"></div>
                        <div class="mdl-cell mdl-cell--6-col">{{'Lieu'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="site"></div>
                        <div class="mdl-cell mdl-cell--6-col">{{'Débutée le'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="debut"></div>
                        <div class="mdl-cell mdl-cell--6-col">{{'Terminée le'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="fin"></div>
                        #}{#<div class="mdl-cell mdl-cell--6-col">Distance parcourue : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300">{{ app.session.get('distance') }}</div>#}{#
                        <div class="mdl-cell mdl-cell--6-col">{{'Nombre de Traces'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="nbTraces"></div>
                        <div class="mdl-cell mdl-cell--6-col">{{'Nombre de Nids'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="nbNids"></div>
                        <div class="mdl-cell mdl-cell--6-col">{{'Nombre de Carcasses'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="nbCarcasses"></div>
                        <div class="mdl-cell mdl-cell--6-col">{% trans %}Nombre d'individus vivants{% endtrans %} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="nbVivants"></div>
                        <div class="mdl-cell mdl-cell--6-col">{% trans %}Nombre d'individus Morts{% endtrans %} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="nbMorts"></div>
                        <div class="mdl-cell mdl-cell--6-col">{{'Public'|trans}} ? </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="public"></div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-green btn teal" id="plus" target="__blank" href="#"><i class="material-icons right">open_in_new</i><span id="btSend">{{'Voir plus'|trans}}</span></a>

            </div>
            <input type='hidden' id="pathget" value="{{ path("siren_user_patrouille_get_patrouille_recap", {'id' : '1'}) }}" />
        </div>#}
    {% endblock %}

    {% block scriptpage %}
        <script>
            $(document).ready(function () {
                $('.modal').modal();
                $('select').material_select();

                /*$(".projet").click(function (e) {
                    var id = $(this).attr("id");

                    //Recpération des infos sur la patrouille
                    var pathget = $("#pathget").val();
                    var table = pathget.split("/");
                    var vals = "";

                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathget = vals + id;
                    $.getJSON(pathget, function(data){
                        if(data['result'] == true){
                            $("#segment").text(data["segment"]);
                            $("#site").text(data["site"]);
                            $("#debut").text(data["dateDebut"] + " à " + data["heureDebut"]);
                            $("#fin").text(data["dateFin"] + " à " + data["heureFin"]);
                            $("#nbTraces").text(data["nbTraces"]);
                            $("#nbCarcasses").text(data["nbCarcasses"]);
                            $("#nbNids").text(data["nbNids"]);
                            $("#nbVivants").text(data["nbVivants"]);
                            $("#nbMorts").text(data["nbMorts"]);
                            $("#public").text(data["public"]);

                            $("#modalInfos").modal("open");
                        }
                    });
                });*/

                $("#newProjet").click(function (e) {

                    $("#nom").parent().removeClass("is-dirty");
                    $("#lieu").parent().removeClass("is-dirty");
                    $("#dateDebut").parent().removeClass("is-dirty");

                    //$("#images").addClass("required");
                    $("input[type='text']").val("");

                    $("#btSend").text("{{ 'Enregistrer'|trans }}");
                    $("#send").attr("name", "send");
                    $("#formProjet").attr("action", "{{ path('siren_user_projet_new') }}");

                });

                $(".modifProjet").click(function (e) {
                    //$("#idType").val($(this).attr("id"));

                    var id = $(this).attr("id");
                    var pathget = $("#pathget").val();
                    var pathmodif = $("#pathmodif").val();

                    var table = pathget.split("/");
                    var vals = "";
                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathget = vals + $(this).attr("id");

                    table = pathmodif.split("/");
                    vals = "";
                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathmodif = vals + $(this).attr("id");

                    $.getJSON(pathget, function (data) {
                        $("#btSend").text("{{ 'Modifier'|trans }}");
                        $("#send").attr("name", "modif");
                        $("#formProjet").attr("action", pathmodif);

                        $("#nom").val(data["nom"]);
                        $("#lieu").val(data["lieu"]);
                        $("#dateDebut").val(data["dateDebut"]);

                        $('#pays').material_select('destroy');
                        $("#pays").val(data["pays"]);
                        $('#pays').material_select();

                        $("#nom").parent().addClass("is-dirty");
                        $("#lieu").parent().addClass("is-dirty");
                        $("#dateDebut").parent().addClass("is-dirty");

                    });

                    $('#modalProjet').modal("open");

                });

                $(".delete").click(function (e) {
                    var id = $(this).attr("id").substr(3);

                    var pathdel = $("#pathdel").val();

                    var table = pathdel.split("/");
                    var vals = "";
                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathdel = vals + id;
                    $.getJSON(pathdel, function (data) {
                        Materialize.toast("{% trans %}Suppression réussie{% endtrans %}", 5000, 'rounded');
                    });
                    $(this).parent().parent().remove();
                });

                var form = document.getElementById("formProjet");

                var required = document.getElementsByClassName("required");
                form.addEventListener("submit", function (e) {
                    //e.preventDefault();
                    //alert("toto");
                    var block = false;
                    for (var i = 0; i < required.length; i++)
                    {
                        if (required[i].nodeName != "LABEL" && $(required[i]).val() == "")
                        {
                            e.preventDefault();
                            block = true;
                        }
                    }
                    if (block)
                    {
                        //$('#modalCategorie').modal("open");
                        setTimeout(function () {
                            $('#modalProjet').modal("open");
                        }, 500);
                        Materialize.toast("{% trans %}Remplissez tous les champs requis svp{% endtrans %}", 3000, 'rounded');

                    }
                });


                $('.date').pickadate({
                    selectMonths: true, // Creates a dropdown to control month
                    selectYears: 15, // Creates a dropdown of 15 years to control year
                    monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                    monthsShort: ['Jan', 'Feb', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Août', 'Sep', 'Oct', 'Nov', 'Dec'],
                    weekdaysFull: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                    weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                    showMonthsShort: false,
                    showWeekdaysFull: false,
                    format: 'yyyy-mm-dd',
                    today: 'Aujour.',
                    clear: 'Supp.',
                    close: 'Fermer',
                    // Accessibility labels
                    labelMonthNext: 'Mois suivant',
                    labelMonthPrev: 'Mois précédent',
                    labelMonthSelect: 'Sélectionner un mois',
                    labelYearSelect: 'Sélectionner une année',
                });
            });
        </script>
        {% if enreg is defined %}
            {% if enreg == true %}
            <script>
                $(function () {
                    Materialize.toast({% trans %}"Enregistrement terminé avec succès" {% endtrans %}, 5000, 'rounded');
                });
            </script>
            {% endif %}
        {% endif %}
    {% endblock %}
{% block endlayout %} </div> {% endblock %}