{% extends "::layout.html.twig" %}

{% block title %}{{'Nouvelle Patrouille'|trans}}{% endblock %}

{% block drawer %}
    <div class="mdl-layout__drawer mdl-color--cyan-900">
        <span  style="margin:15px;">
            <center>
                {% if app.user.image is null %}
                    <img src="{{ asset('images/user.png') }} "/>
                {% else %}
                    <img src="{{ asset(app.user.image.webPath) }} " style="border-radius: 50%; width: 100px; height: 100px;"/>
                {% endif %}
                <div class="mdl-layout-title mdl-color-text--white" style="margin-top:15px;">{{ app.user.nom }}</div>
            </center>
        </span>
        <hr class="white" style="width:100%; margin-bottom: 0px !important;">
        <div style="background-color: rgba(255, 255, 255, 0.5); padding: 15px;">
            <center>
                <div class="mdl-layout-title mdl-color-text--white">{{'MENU PATROUILLE'|trans}}</div>
            </center>
        </div>
        {% block linknavdrawer %}
            <nav class="mdl-navigation">
                {% if auteur %}
                    <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet_question") }}">{{'Questions du Projet'|trans}}</a>
                {% endif %}
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet_site") }}">{{'Sites du Projet'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet_patrouille", {'id' : projet.id}) }}">{{'Patrouilles'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_projet") }}">{{'Retour à mes Projets'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_dashboard") }}">{{'Retour au menu principal'|trans}}</a>
            </nav>
        {% endblock %}
    </div>
{% endblock %}

{% block stylepage %}
    <style>
        #langue > li
        {
            display : inline-block;
        }
        .divObs {
            overflow: visible;
            z-index: 10;
            position:relative;
        }

        .divObs > a {
            position: absolute;
            top: 0;
            right: 28px;
            -webkit-transform: translate(0px, -28px);
            -ms-transform: translate(0px, -28px);
            transform: translate(0px, -28px);
        }

        #toast-container {
            top: 10% !important;
            right: 7% !important;
            /*bottom: 10%;
            left:7%;*/
        }
    </style>
{% endblock %}

{% block layout %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    {% endblock %}

    {% block linkrow1 %}
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link navlink" href="{{ path('SirenTortue_homepage') }}"><i class="material-icons" style="margin-right:5px;">home</i>{{'Accueil'|trans}}</a>
            <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}"><i class="material-icons" style="margin-right:5px;">exit_to_app</i><span>{{'Déconnexion'|trans}}</span></a>
        </nav>
    {% endblock %}

    {% block linkrow2 %}
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            {% block linknavheader %}
                <nav class="mdl-navigation">
                    <ul id='langue'>
                        {% if (app.request.getLocale()) == 'en' %}
                            <li style="display: inline-block;">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                        {% if (app.request.getLocale()) == 'fr' %}
                            <li style="display: inline-block;">
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endblock %}
        </div>
    {% endblock %}

    {% block body %} 
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>
            <div class="mdl-cell mdl-cell--9-col type">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col mdl-grid">
                        <div class="mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--3-col-phone mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col">{{'Segment'|trans}} : <span class="mdl-color-text--red-300">{{ app.session.get('nomSegment') }}</span></div>
                            <div class="mdl-cell mdl-cell--12-col">{{'Site'|trans}} : <span class="mdl-color-text--red-300">{{ app.session.get('nomSite') }}</span></div>
                            <div class="mdl-cell mdl-cell--12-col">{{'Débutée le'|trans}} : <span class="mdl-color-text--red-300">{{ app.session.get('dateDebut') }} à {{ app.session.get('heureDebut') }}:{{ app.session.get('minDebut') }}</span></div>
                            <div class="mdl-cell mdl-cell--12-col">{{'Terminée le'|trans}} : <span class="mdl-color-text--red-300">{{ app.session.get('dateFin') }} à {{ app.session.get('heureFin') }}:{{ app.session.get('minFin') }}</span></div>
                            <div class="mdl-cell mdl-cell--12-col">{{'Distance parcourue'|trans}} : <span class="mdl-color-text--red-300">{{ app.session.get('distance') }}</span></div>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                            <button class="right mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-color--red-300 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Terminer la patrouille" id="stopPat"  href="#modalFin">
                                <i class="material-icons">stop</i>
                            </button>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col divObs">
                        <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-color--teal-300 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ajouter une observation" id="addObs" href="#modalObs">
                            <i class="material-icons">add</i>
                        </a>
                        <div class="mdl-cell mdl-cell--12-col mdl-grid" id="mesObs">
                            <span id="nothing">{% trans %}Pas de d'Observations enregistrées{% endtrans %}</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block modal %}
        <div id="modalObs" class="modal modal-fixed-footer">

            <div class="modal-content">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col mdl-color--cyan-900 mdl-color-text--white" style="min-height: 100px;" id="titre">
                        <center>
                            <h4 id="question">{% trans %}Quel est le type d'Observation{% endtrans %} ?</h4>
                            <div id="divImQuest" style="display: none; margin-bottom: 15px;"><img style="max-height: 100px; max-width: 100px" src="#" id="imgQuest"/></div>
                        </center>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-grid" id="reponses">
                        {% for categorie in liste_categories %}
                            <a class="mdl-cell mdl-cell--3-col mdl-grid mdl-color-text--black reponse" id="{{ categorie.id }}" href="#">
                                <center class="mdl-cell mdl-cell--12-col mdl-grid">
                                    <div class="mdl-cell mdl-cell--12-col">
                                        <img src="{{ asset(categorie.image.getWebPath()) }} " alt="{{ categorie.nom(app.request.attributes.get('_locale')) }}"/>
                                    </div>
                                    <div class="mdl-cell mdl-cell--12-col">
                                        {{ categorie.nom(app.request.attributes.get('_locale')) }}
                                    </div>
                                </center>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-grid" id="coords" style="margin-top: -35px">
                        <div class="mdl-cell mdl-cell--12-col" style="text-align: center"><h5>{{ 'Coordonnées de l\'observation'|trans }}:</h5></div>
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <input class="mdl-textfield__input coord" type="text" id="coordX" name="coordX" />
                            <label class="mdl-textfield__label" for="coordX">{{'Longitude (X) en dégré décimaux'|trans}}... </label>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <input class="mdl-textfield__input coord" type="text" id="coordY" name="coordY" />
                            <label class="mdl-textfield__label" for="coordY">{{'Lattitude (Y) en dégré décimaux'|trans}}... </label>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-grid" id="waith">
                        <div style="margin:auto;">

                            <div class="preloader-wrapper big active">
                                <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <a class="modal-action modal-close mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-color--teal-300 left" id="cancel"><i class="material-icons">cancel</i></a>
                <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-color--teal-300 right" id="next" name="next"><i class="material-icons">keyboard_arrow_right</i></a>
            </div>
            <input type='hidden' id="pathget" value="{{ path("siren_user_patrouille_getnext_question", {'id' : '1'}) }}" />
            <input type='hidden' id="pathsave" value="{{ path("siren_user_patrouille_getnext_question", {'id' : '1'}) }}" />
        </div>


        <div id="modalFin" class="modal modal-fixed-footer">

            <div class="modal-content">
                <h4>{{'Recaptitulatif de la patrouille'|trans}}</h4><hr/>
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col mdl-grid">
                        <div class="mdl-cell mdl-cell--6-col">{{'Segment'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300">{{ app.session.get('nomSegment') }}</div>
                        <div class="mdl-cell mdl-cell--6-col">{{'Site'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300">{{ app.session.get('nomSite') }}</div>
                        <div class="mdl-cell mdl-cell--6-col">{{'Débutée le'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300">{{ app.session.get('dateDebut') }} à {{ app.session.get('heureDebut') }}:{{ app.session.get('minDebut') }}</div>
                        <div class="mdl-cell mdl-cell--6-col">{{'Terminée le'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300">{{ app.session.get('dateFin') }} à {{ app.session.get('heureFin') }}:{{ app.session.get('minFin') }}</div>
                        <!--<div class="mdl-cell mdl-cell--6-col">Durée : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="duree">-----</div>-->
                        <div class="mdl-cell mdl-cell--6-col">{{'Distance parcourue'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300">{{ app.session.get('distance') }}</div>
                        <div class="mdl-cell mdl-cell--6-col">{{'Nombre de Traces'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="nbTraces">-----</div>
                        <div class="mdl-cell mdl-cell--6-col">{{'Nombre de Nids'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="nbNids">-----</div>
                        <div class="mdl-cell mdl-cell--6-col">{{'Nombre de Carcasses'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="nbCaracasses">-----</div>
                        <div class="mdl-cell mdl-cell--6-col">{{'Nombre d\'Individus'|trans}} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="nbIndividus">-----</div>
                        {# <div class="mdl-cell mdl-cell--6-col">{% trans %}Nombre d'individus vivants{% endtrans %} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="nbVivants">-----</div> #}
                        {#<div class="mdl-cell mdl-cell--6-col">{% trans %}Nombre d'individus Morts{% endtrans %} : </div> <div class="mdl-cell mdl-cell--6-col mdl-color-text--red-300" id="nbMorts">-----</div>#}
                        <div class="mdl-cell mdl-cell--6-col">
                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="public">
                                <input type="checkbox" id="public" class="mdl-switch__input" name="public">
                                <span class="mdl-switch__label">{{'Rendre Public'|trans}} ?</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <a class="modal-action modal-close mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-color--teal-300 left" id="cancel"><i class="material-icons">cancel</i></a>
                <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-color--teal-300 right" id="save" name="save"><i class="material-icons">done_all</i></a>
            </div>
            <input type='hidden' id="pathgetcat" value="{{ path("siren_user_patrouille_get_categorie_id", {'titre' : '1'}) }}" />
            <input type='hidden' id="pathgetquest" value="{{ path("siren_user_patrouille_get_question_id", {'code' : '1'}) }}" />
            <input type='hidden' id="pathtestrep" value="{{ path("siren_user_patrouille_test_reponse", {'id' : '1'}) }}" />
            <input type='hidden' id="pathpost" value="{{ path("siren_user_patrouille_save") }}" />
        </div>
    {% endblock %}

    {% block scriptpage %}
        <script>
            $(document).ready(function () {
                $('.modal').modal({dismissible: false});
                var TabFinal = {};
                var nbObs = 0;

                var TabResult = {};
                var position = -1;

                var idTrace, idNid, idCarcasse, idIndividu, idVivant, idMort;
                setIds();

                //Initialisation
                TabFinal["observations"] = {};

                var pathImage = "";
                var selectCat = "";
                $("#addObs").click(function (e) {
                    $("#titre").show();
                    $("#reponses").show();
                    $("#coords").show();
                    $(".coord").val("");
                    $("#waith").hide();

                    TabResult = {};
                    position = -1;
                    TabResult["question"] = {};
                    TabResult["reponses"] = {};

                    $("#question").text("{{ "Quel est le type d'Observation ?"|trans }}");
                    $("#reponses").html("{% for categorie in liste_categories %}" +
                            '<a class="mdl-cell mdl-cell--3-col mdl-grid mdl-color-text--black reponse" id="{{ categorie.id }}" href="#">' +
                            '<center class="mdl-cell mdl-cell--12-col mdl-grid">' +
                            '<div class="mdl-cell mdl-cell--12-col">' +
                            '<img src="{{ asset(categorie.image.getWebPath()) }} " alt="{{ categorie.nom(app.request.attributes.get('_locale')) }}"/>' +
                            '</div>' +
                            '<div class="mdl-cell mdl-cell--12-col">' +
                            '{{ categorie.nom(app.request.attributes.get('_locale')) }}' +
                            '</div>' +
                            '</center>' +
                            '</a>' +
                            "{% endfor %}");
                    $(".reponse").click(setSelectable);
                });

                $("#next").click(function (e) {

                    var pathget = $("#pathget").val();
                    var table = pathget.split("/");
                    var vals = "";

                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }

                    var valeur = $(".selected").length;
                    //alert(valeur);
                    if (valeur === 0) {
                        Materialize.toast("{{ 'Sélectionnez une valeur pour continuer'|trans }}", 3000, 'rounded');
                    } else {
                        //On affiche le spiner de loading
                        $("#titre").fadeOut(200);
                        $("#reponses").fadeOut(200);
                        $("#waith").fadeIn(500);

                        position++;
                        if (position == 0) {
                            //Sélection de la catégorie
                            TabResult["categorie"] = $($(".selected")[0]).attr("id");
                            TabResult["coordX"] = $("#coordX").val();
                            TabResult["coordY"] = $("#coordY").val();
                            pathget = vals + "-1/" + $($(".selected")[0]).attr("id");
                            $("#coords").hide();

                            //Enregistrement des données pour l'ajout à la fin sur la vue
                            selectCat = $($($($(".selected")[0]).children()[0]).children()[1]).text();
                            pathImage = $($($($($(".selected")[0]).children()[0]).children()[0]).children()[0]).attr("src");

                        } else {

                            TabResult["question"][position - 1] = $("#question").attr("valeur");
                            if ($($(".selected")[0]).is("input") && $($(".selected")[0]).attr("valeur") != "end") {
                                if ($($(".selected")[0]).attr("type") === "text") {
                                    TabResult["reponses"][position - 1] = $($(".selected")[0]).val();
                                    pathget = vals + $($(".selected")[0]).attr("valeur") + "/-1/" + $($(".selected")[0]).attr("position") + "/" + $($(".selected")[0]).attr("last");
                                } else {
                                    if ( $("#image").val() !== "" ) {
                                        var $form = $("#formImage");
                                        var formdata = (window.FormData) ? new FormData($form[0]) : null;
                                        var data = (formdata !== null) ? formdata : $form.serialize();

                                        var pathimg = $form.attr('action');
                                        var table = pathimg.split("/");
                                        var temp = "";

                                        for (var i = 0; i < table.length - 1; i++) {
                                            temp += table[i] + "/";
                                        }
                                        pathimg = temp + nbObs;
                                        $.ajax({
                                            url: pathimg,
                                            type: $form.attr('method'),
                                            contentType: false, // obligatoire pour de l'upload
                                            processData: false, // obligatoire pour de l'upload
                                            dataType: 'json', // selon le retour attendu
                                            data: data,
                                            success: function (response) {
                                                // La réponse du serveur
                                            }
                                        });
                                    }
                                    pathget = vals + $($(".selected")[0]).attr("valeur") + "/-1/" + $($(".selected")[0]).attr("position") + "/" + $($(".selected")[0]).attr("last");

                                }
                            } else if ($($(".selected")[0]).is("input") && $($(".selected")[0]).attr("valeur") === "end") {
                                TabResult["reponses"][position - 1] = $($(".selected")[0]).val();

                                //Sauvegarde de l'observation
                                TabFinal["observations"][nbObs] = TabResult;

                                //Fermeture de la modal
                                $("#modalObs").modal("close");
                                pathget = "";

                                //Ajout de l'observation à la liste sur la vue
                                var date = new Date();
                                $("#nothing").hide();
                                $("#mesObs").append('<div class="mdl-cell mdl-cell--4-col mdl-grid mdl-shadow--6dp">' +
                                        '<div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--1-col-phone" style="">' +
                                        (++nbObs) +
                                        '</div>' +
                                        '<div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">' +
                                        '<img src="' + pathImage + '"  style="max-width: 25px; max-height: 25px;">' +
                                        '</div>' +
                                        '<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--1-col-phone">' +
                                        selectCat +
                                        '</div>' +
                                        '<div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--1-col-phone mdl-color-text--teal" style="font-size: 12px;">' +
                                        date.getHours() + 'h' + date.getMinutes() +
                                        '</div>' +
                                        '</div>');
                            } else {
                                TabResult["reponses"][position - 1] = $($(".selected")[0]).attr("valeur");
                                pathget = vals + $($(".selected")[0]).attr("valeur") + "/-1/" + $($(".selected")[0]).attr("position") + "/" + $($(".selected")[0]).attr("last");
                            }
                        }
                        if (pathget !== "") {
                            $.getJSON(pathget, function (data) {
                                if (data["result"] === true) {
                                    $("#reponses").html(data["reponses"]);
                                    $("#question").text(data["titre"]);
                                    $("#question").attr("valeur", data["id"]);

                                    if(data["imQuest"] === null){
                                        $("#divImQuest").hide();
                                    }
                                    else{
                                        $("#imgQuest").attr("src", data["imQuest"]);
                                        $("#divImQuest").show();
                                    }

                                    $(".reponse").click(setSelectable);

                                    //console.log($("input[type='text'].selected").length);
                                    $("input[type='text'].selected").off('focus', setFocus);
                                    $("input[type='text'].selected").focus(setFocus);

                                    //On cache le spiner de loading
                                    $("#waith").fadeOut(200);
                                    $("#titre").fadeIn(300);
                                    $("#reponses").fadeIn(300);
                                }
                            });
                        }
                    }
                });

                $(".reponse").click(setSelectable);

                $("#stopPat").click(function (e) {
                    //Calcul du nombre d'observation par type.

                    //Trace
                    var nbTraces = 0, nbNids = 0, nbCaracasses = 0, nbIndividus = 0, nbVivants = 0, nbMorts = 0;
                    console.log(TabFinal["observations"]);
                    $.each(TabFinal["observations"], function(i, value) {
                        if (value["categorie"] == idTrace)
                            nbTraces++;
                        else if (value["categorie"] == idCarcasse)
                            nbCaracasses++;
                        else if (value["categorie"] == idNid)
                            nbNids++;
                        else {
                            nbIndividus++;
                            for (var j = 0; j < value["question"].length; j++) {
                                if (value["question"][j] == idIndividu) {
                                    if (isIdOf(value[i]["reponses"][j], "Vivant"))
                                        nbVivants++;
                                    else
                                        nbMorts++;
                                }
                            }
                        }
                    });

                    //Remplissage dans les divs
                    $("#nbTraces").text(nbTraces);
                    $("#nbCaracasses").text(nbCaracasses);
                    $("#nbNids").text(nbNids);
                    $("#nbIndividus").text(nbIndividus);
                    $("#nbVivants").text(nbVivants);
                    $("#nbMorts").text(nbMorts);

                    //Calcul de la durée
                    
                    $("#modalFin").modal("open");
                });

                var saveSent = false;
                $("#save").click(function (e) {
                    if(!saveSent) {
                        saveSent = true;
                        var public = false;
                        if ($("#public").is(":checked")) {
                            public = true;
                        }
                        TabFinal["public"] = public;

                        window.console.log(JSON.stringify({data: TabFinal}));
                        $.ajax({
                            type: 'POST',
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify({data: TabFinal}),
                            url: $("#pathpost").val(),
                            success: function (data) {
                                if (data["result"]) {
                                    $("#modalFin").modal("close");
                                    Materialize.toast("{% trans %}Enregistrement terminé avec succès{% endtrans %}", 3000, 'rounded');

                                    //Rédirection à la liste des patrouilles...
                                    window.setTimeout(function() {
                                        window.location.href = "{{ path("siren_user_projet_patrouille", {'id' : projet.id}) }}";
                                    }, 3000);
                                }else if (data["error"] === "observation"){
                                    saveSent = false;
                                    $("#modalFin").modal("close");
                                    Materialize.toast("{% trans %}Ajoutez au moins une observation{% endtrans %}", 5000, 'rounded');
                                }
                            }
                        });
                    }
                });

                function setIds() {
                    var pathget = $("#pathgetcat").val();
                    var table = pathget.split("/");
                    var vals = "";

                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }

                    $.getJSON(vals + "Trace", function (data) {
                        if (data["result"])
                            idTrace = data["id"];
                    });

                    $.getJSON(vals + "Nid", function (data) {
                        if (data["result"])
                            idNid = data["id"];
                    });

                    $.getJSON(vals + "Carcasse", function (data) {
                        if (data["result"])
                            idCarcasse = data["id"];
                    });

                    $.getJSON(vals + "Individu", function (data) {
                        if (data["result"])
                            idIndividu = data["id"];
                    });
                }

                function getIdOfCat(titre) {
                    var pathget = $("#pathgetcat").val();
                    var table = pathget.split("/");
                    var vals = "";

                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }

                    $.getJSON(vals + titre, function (data) {
                        if (data["result"])
                            return data["id"];
                        else
                            return null;
                    });

                }

                function getIdOfQuest(code) {
                    var pathget = $("#pathgetquest").val();
                    var table = pathget.split("/");
                    var vals = "";

                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }

                    $.getJSON(vals + code, function (data) {
                        if (data["result"])
                            return data["id"];
                    });
                }

                function isIdOf(id, expr) {
                    var pathget = $("#pathtestrep").val();
                    var table = pathget.split("/");
                    var vals = "";

                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }

                    var result;
                    $.getJSON(vals + id + "/" + expr, function (data) {
                        if (data["result"])
                            result = data["test"];
                    });
                }
                function setSelectable(e) {
                    if ($(this).is("a"))
                        e.preventDefault();

                    var select = this;
                    $(".reponse").each(function (e, i) {
                        if (this !== select) {
                            $(this).removeClass("selected");
                            $(this).css("background-color", "transparent");
                        }
                    });

                    if (!$(this).is(".selected")) {
                        $(this).addClass("selected");

                        if ($(this).is("a"))
                            $(this).css("background-color", "#a1887f");
                    } else {
                        $(this).removeClass("selected");
                        $(this).css("background-color", "transparent");
                    }
                }

                var setFocus = function(e){

                    $("input[type='text'].selected").each(function(index){
                        $(this).parent().removeClass("is-focused");
                    });
                    $(this).parent().addClass("is-focused");
                };
            });
        </script>
    {% endblock %}


