{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->

                        <div class="row">

                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
                                <!-- Material Login -->

                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">{%trans%}Consulter le pays d'un groupe{% endtrans%}</h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pays_groupe.id }}</td>
            </tr>
            <tr>
                <th>{{'Groupe'|trans}}</th>
                <td>{{ pays_groupe.groupes.nomFr }}</td>
            </tr>
            <tr>
                <th>{{'Pays'|trans}}</th>
                <td>{{ pays_groupe.pays.nomFr }}</td>
            </tr>
            <tr>
                <th>{{'Nom pt'|trans}}</th>
                <td>{{ notification.nomPt }}</td>
            </tr>
        </tbody>
    </table>
<br/>
<a  class="btn btn-app-teal "  href="{{ path('pays_groupes_index') }}">{{'Revenir à la liste'|trans}}</a>
    



   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            
                            <!-- .col-lg-4 -->



                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->




                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
<<<<<<< HEAD:sirenWeb/app/Resources/views/pays_groupes/show.html.twig


=======
>>>>>>> render the portugueses attribute on to the website:sirenWeb/app/Resources/views/notifications/show.html.twig
