<ion-header>
    <navbar [title]= "titrequestion" ></navbar>
</ion-header>


<ion-content padding class="backgroundcorps">

    <p style="text-align: center; font-weight: bold; font-size: 20px;">{{titrequestion}}</p>

<div *ngIf="ispicture==0">

    <ion-list radio-group [(ngModel)]="data.id" >

        <ion-card class="moncardre" *ngFor="let item of listesreponses">
            <ion-icon *ngIf="(langue == 0) && (item.taille == 'true')" name="add-circle" (click)="mokaiAlert(item.titre_fr)"></ion-icon>
            <ion-icon *ngIf="(langue == 1) && (item.taille == 'true')" name="add-circle" (click)="mokaiAlert(item.titre_en)"></ion-icon>
            <img *ngIf="item.is_picture" class="image" src="{{item.image}}">
            <ion-item style="text-align: justify; height: 30%;">
                <ion-label  *ngIf="langue == 0">{{item.titre_fr}}  </ion-label>
                <ion-label  *ngIf="langue == 1">{{item.titre_en}} </ion-label>
                <!--<ion-radio value="{{item.id}}" checked></ion-radio>-->
                <ion-radio value="{{item.id}}" (ionSelect)="changeStatus(item)"></ion-radio>
                 
            </ion-item>
        </ion-card>  
      </ion-list>

</div>
  
<div *ngIf="ispicture==1">

    <img src="{{myimage}}" style="width: 100%; height: 50%;" *ngIf="printpicture==1">
    
    <ion-grid>
        <ion-row >
                <ion-col col-6  *ngFor="let item of listesreponses">
                    <ion-icon *ngIf="(langue == 0) && (item.taille == 'true')" name="add-circle" (click)="mokaiAlert(item.titre_fr)"></ion-icon>
                    <ion-icon *ngIf="(langue == 1) && (item.taille == 'true')" name="add-circle" (click)="mokaiAlert(item.titre_en)"></ion-icon>
                    <div class="cardpremieracceuil" (click)="changeStatus1(item)">
                    <img class="premier" src="{{item.image}}" />
                    <strong><p class="textcard" *ngIf="langue == 0">{{item.titre_fr}}</p></strong>
                    <strong><p class="textcard" *ngIf="langue == 1">{{item.titre_en}}</p></strong>
                    </div>
                </ion-col>
                
        </ion-row>
    </ion-grid>

    

</div>
  

<ion-row class="monbutonvalide">
    <ion-col>
      <button  (click)="backFunction()" ion-fab left bottom  color="danger"> <ion-icon name="md-close"></ion-icon> </button>
    </ion-col>
</ion-row>

  <!--<div class="blockbutton">
      <button  ion-button class="colors"  block (click)="siren(data)">
          {{ 'SUIVANT' | translate }}
          <ion-icon name="arrow-forward" float-right class="monicon"></ion-icon>
      </button>
   </div>-->
</ion-content>
