<ion-navbar>
  <button ion-button menuToggle *ngIf="showMenuToggle">
    <ion-icon class="iconmenu" name="menu"></ion-icon>
  </button>
  <ion-title class="iconmenu">{{title}}</ion-title>
</ion-navbar>

<div style="height: 13px; font-size: 11px; color: white; text-align: center;"
     [style.background-color]="colorNetworkStatus"
     *ngIf="showNetworkStatus">
  {{msg_network}}
</div>
