{% extends "FOSUserBundle:Registration:register.html.twig" %}

{% block body %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone">
        </div>
        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-phone mdl-cell--10-col-tablet mdl-shadow--10dp type">
            <div class="container" >
                <div class="hero-content">
                    <center><h4>{{'Veuillez activer votre compte'|trans}}</h4></center>
                </div>
            </div>
            {% block fos_user_content %}
                <div class="row">
                        <div class="input-field col s12">
                            <center><i class="material-icons green-text">verified_user</i></center>
                        </div>
                    </div>
                    <div class="row">
                    <div class="input-field col s12">
                        <center><p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p></center>
                    </div>
                    </div>
                  
                    
                    
                
            {% endblock fos_user_content %}
                    
         </div>
        <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone">
        </div>
{% endblock %}


