{% extends 'base.html.twig' %}

{% block body %}
<!-- Page Content -->
    <div class="container-fluid p-y-md">

        <!-- Login Forms -->
        
        <div class="row">
            
            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 ">
                <!-- Material Login -->
                <h2 class="section-title">{{'Gérer les Segments'|trans}}</h2>
                <div class="card">
                    <div class="card-header bg-teal bg-inverse">
                        <ul class="list">
                            <li>
                                <a class="btn btn-white text-right" href="{{ path('segments_new') }}"><i class="fa fa-plus-circle"></i>{{ 'Ajouter une nouvelle segment'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-block">
						
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'Nom'|trans}}</th>
                <th>{{'Ville'|trans}}</th>
                <th>{{'Region'|trans}}</th>
                <th>{{'Date'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% if segments != null %}
            {% for segment in segments %}
                <tr>
                    <td><a href="{{ path('segments_show', { 'id': segment.id }) }}">{{ segment.id }}</a></td>
                    <td>{{ segment.nom }}</td>
                    <td>{{ segment.ville }}</td>
                    <td>{{ segment.region }}</td>
                    <td>{{ segment.date|date('Y-m-d H:i:s') }}</td>
                    <td>
                        <a class="btn btn-app-teal center-block" href="{{ path('segments_show', { 'id': segment.id }) }}"><i class="fa fa-list"></i></a>
                        
                    </td>
                    <td>
                        <a class="btn btn-warning center-block" href="{{ path('segments_edit', { 'id': segment.id }) }}"><i class="fa fa-edit"></i></a>                
                    </td>        
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <br/>
    <a  class="btn btn-app-teal "  href="{{ path('sites_index')}}">{{'Revenir à la liste'|trans}}</a>
  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
   
{% endblock %}
