{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
                                <!-- Material Login -->
								
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">{{'Segment'|trans}}</h2>
                                    </div>
                                    <div class="card-header bg-teal bg-inverse">
                                        <ul class="list">
                                            <li>
                                            {{ form_start(delete_form) }}
                                                <input class="btn btn-danger" type="submit" value="Delete">
                                            {{ form_end(delete_form) }}</li>
                                        </ul>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ segment.id }}</td>
            </tr>
            <tr>
                <th>{{'nom'|trans}}</th>
                <td>{{ segment.nom }}</td>
            </tr>
            <tr>
                <th>{{'Ville'|trans}}</th>
                <td>{{ segment.ville }}</td>
            </tr>
            <tr>
                <th>{{'Region'|trans}}</th>
                <td>{{ segment.region }}</td>
            </tr>
            {% if segment.sites%}
                <tr>
                    <th>{{'Site'}}</th>
                    <td>
                        {{ segment.sites.nom }}</td>
                </tr>
            {% endif %}
            {% if segment.image !=null%}
            <tr>
                <th>{{'Image'|trans}}</th>
                <td><img 
                                    src="{{ app.request.basePath }}/images/segment/{{ segment.image }}"
                                    alt="{{ segment.titreFr }}"
                                    width="100"
                                    height="100"
                                    /></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
<br/>
    <a  class="btn btn-app-teal" href="{{ path('sites_show', { 'id': segment.sites.id }) }}">{{'Revenir à la site'|trans}}</a>
    

  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}

