{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projet_utilisateurs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'Actions'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for projet_utilisateur in projet_utilisateurs %}
            <tr>
                <td><a href="{{ path('projet_utilisateur_show', { 'id': projet_utilisateur.id }) }}">{{ projet_utilisateur.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('projet_utilisateur_show', { 'id': projet_utilisateur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('projet_utilisateur_edit', { 'id': projet_utilisateur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('projet_utilisateur_new') }}">Create a new projet_utilisateur</a>
        </li>
    </ul>
{% endblock %}
