page-profils {
    
    .background{
        background-image: url("../assets/imgs/back2.jpg");
    }
    
    .backgroundcorps{
        background-image: url("../assets/imgs/back1.jpg");
        width: 100%;
        height: 100%;
    }

    
    .dateheure2{
        margin-left: 15px;
        margin-top: 10px;
        width: 50%;
        overflow: hidden;
    }
    
    .dateheure3{
        margin-top: 10px;
        color: red;
        width: 50%;
        overflow: hidden;
    }
}
