<ion-header>
    <navbar [title]= "'Profil'" ></navbar>
</ion-header>


<ion-content class="backgroundcorps">

    <div class="profil" *ngIf="testimage == 0">
        <img class="image" src="assets/imgs/logo.png">
          <p class="texte">{{email}}</p>
    </div>

    <div class="profil" *ngIf="testimage == 1">
        <img class="image2" src="{{myuserconnecte.projet.image}}">
          <p class="texte">{{email}}</p>
    </div>

     <ion-row>
        <ion-col class="dateheure2">
            Username :
        </ion-col>
        <ion-col class="dateheure3">
            {{userconnecte.username}}
        </ion-col>
     </ion-row>

     <ion-row>
        <ion-col class="dateheure2">
            Ville :
        </ion-col>
        <ion-col class="dateheure3">
            {{userconnecte.ville}}
        </ion-col>
     </ion-row>
     <ion-row>
        <ion-col class="dateheure2">
            Email :
        </ion-col>
        <ion-col class="dateheure3">
            {{userconnecte.email}}
        </ion-col>
     </ion-row>

     <ion-row>
        <ion-col class="dateheure2">
            Fonction :
        </ion-col>
        <ion-col class="dateheure3">
            {{fonctions}}
        </ion-col>
     </ion-row>
     <ion-row>
        <ion-col class="dateheure2">
            Pays :
        </ion-col>
        <ion-col class="dateheure3">
            {{pays}}
        </ion-col>
     </ion-row>

     <ion-row>
        <ion-col class="dateheure2">
            Projet :
        </ion-col>
        <ion-col class="dateheure3">
            {{nomprojet}}
        </ion-col>
     </ion-row>



     
     


    
     
     
    


</ion-content>
