{% extends "::layout.html.twig" %}

{% block linknavheader %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="{{ path("SirenTortue_homepage") }}">{{'Accueil'|trans}}</a>
        <a class="mdl-navigation__link navlink" href="{{path("SirenTortue_homepage_stat")}}">{{'Statistiques'|trans}}</a>
                
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a class="mdl-navigation__link navlink" href="{{path("siren_user_dashboard")}}">{{'Mon Profil'|trans}}</a>
        <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}"><i class="material-icons" style="margin-right:5px;">exit_to_app</i><span>{{'Déconnexion'|trans}}</span></a>
    {% else %}  
        <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_login") }}">{{'Se connecter'|trans}}</a>
        <a class="mdl-navigation__link navlink" href="{{ path('fos_user_registration_register') }}">{% trans %}S'inscrire {% endtrans %}</a>
    {% endif %}
    </nav>
{% endblock %}

{% block linknavdrawer %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="{{ path("SirenTortue_homepage") }}"><i class="material-icons" style="margin-right:5px;">home</i>{{'Accueil'|trans}}</a>
        <a class="mdl-navigation__link navlink" href="{{path("SirenTortue_homepage_stat")}}">{{'Statistiques'|trans}}</a>
        
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a class="mdl-navigation__link navlink" href="{{path("siren_user_dashboard")}}">{{'Mon Profil'|trans}}</a>
        <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}"><i class="material-icons" style="margin-right:5px;">exit_to_app</i><span>{{'Déconnexion'|trans}}</span></a>
    {% else %}    
        <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_login") }}">{{'Connexion'|trans}}</a>
    {% endif %}

    </nav>
{% endblock %}

{% block stylepage %}
    <style>
        #langue > li
        {
            display : inline-block;
        }

        #modalWaith
        {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
            filter: alpha(opacity=50);  /* IE 5-7 */
            -moz-opacity: 0.5;          /* Netscape */
            -khtml-opacity: 0.5;        /* Safari 1.x */
            opacity: 0.5;               /* Good browsers */
        }
    </style>
{% endblock %}

{% block body %} 
    <div class="mdl-grid" style="">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--3-col-tablet mdl-color--cyan-800 mdl-shadow--6dp" style="margin-bottom: 15px;">
            <div class="mdl-cell mdl-cell--12-col">
                <span class="mdl-layout-title mdl-color-text--white center">{{'Données visualisées'|trans}}</span>
            </div>
            <hr class="mdl-cell mdl-cell--12-col white" style="height:3px;"/>
            <div class="mdl-cell mdl-cell--12-col mdl-color-text--white mdl-grid">
                <label class="mdl-cell mdl-cell--12-col mdl-cell--2-col-phone mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-color-text--white" for="patrouille">
                    <input type="radio" id="patrouille" class="mdl-radio__button" name="type" value="patrouille" checked>
                    <span class="mdl-radio__label" style="margin-left: 15px;">{{'Patrouilles'|trans}}</span>
                </label>

                <label class="mdl-cell mdl-cell--12-col mdl-cell--2-col-phone mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-color-text--white" for="observation">
                    <input type="radio" id="observation" class="mdl-radio__button" name="type" value="observation">
                    <span class="mdl-radio__label" style="margin-left: 15px;">{{'Observations'|trans}}</span>
                </label>
            </div>
            <hr class="mdl-cell mdl-cell--12-col white"/>
            <div class="mdl-cell mdl-cell--12-col mdl-grid">
                <div class="mdl-cell mdl-cell--12-col mdl-cell--2-col-phone">
                    <input type="checkbox" id="trace" />
                    <label for="trace" class="mdl-color-text--white" style="margin-left: 0px;">{{'Traces'|trans}}</label>
                </div>

                <div class="mdl-cell mdl-cell--12-col mdl-cell--2-col-phone">
                    <input type="checkbox" id="nid" />
                    <label for="nid" class="mdl-color-text--white" style="margin-left: 0px;">{{'Nids'|trans}}</label>
                </div>

                <div class="mdl-cell mdl-cell--12-col mdl-cell--2-col-phone">
                    <input type="checkbox" id="vivant" />
                    <label for="vivant" class="mdl-color-text--white" style="margin-left: 0px;">{{'Individus vivants'|trans}}</label>
                </div>

                <div class="mdl-cell mdl-cell--12-col mdl-cell--2-col-phone">
                    <input type="checkbox" id="mort" />
                    <label for="mort" class="mdl-color-text--white" style="margin-left: 0px;">{{'Individus morts'|trans}}</label>
                </div>

                <div class="mdl-cell mdl-cell--12-col mdl-cell--2-col-phone">
                    <input type="checkbox" id="carcasse" class="blue" />
                    <label for="carcasse" class="mdl-color-text--white" style="margin-left: 0px;">{{'Caracasses'|trans}}</label>
                </div>
            </div>
            <hr class="mdl-cell mdl-cell--12-col white"/>
            <div class="mdl-cell mdl-cell--12-col mdl-grid">
                <div class="input-field mdl-cell mdl-cell--12-col mdl-cell--2-col-phone mdl-color-text--white">
                    <i class="material-icons prefix">today</i>
                    <input id="datedebut" type="text" class="validate date datepicker">
                    <label for="datedebut">{{'Date Début'|trans}}</label>
                </div>

                <div class="input-field mdl-cell mdl-cell--12-col mdl-cell--2-col-phone mdl-color-text--white">
                    <i class="material-icons prefix">event</i>
                    <input id="datefin" type="text" class="validate date datepicker">
                    <label for="datefin">{{'Date Fin'|trans}}</label>
                </div>
            </div>

            <hr class="mdl-cell mdl-cell--12-col white"/>
            <div class="mdl-cell mdl-cell--12-col mdl-grid">
                <div class="mdl-layout-spacer"></div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect teal mdl-color-text--white right" onclick="selectMarkers();">
                    {{'Générer'|trans}}
                </button>
            </div>
        </div>
        {#<div class="mdl-cell mdl-cell--9-col mdl-cell--5-col-tablet mdl-grid" style="margin-bottom: 15px; height: 100%">#}
            <div class="mdl-cell mdl-cell--9-col mdl-cell--5-col-tablet" id="map" style="margin-bottom: 15px;"></div>
        {#</div>#}
            <div id="legende" class="mdl-cell mdl-cell--2-col mdl-grid" style="position: fixed; bottom: 0; right: 0; margin: 50px; background-color: #ffffff; opacity: 0.7; padding: 15px">
                <div style="width: 70%">{{ 'Traces'|trans }}</div><div style="width: 30%"><img src="{{ asset('images/cat3.png') }}"></div>
                <div style="width: 70%">{{ 'Nids'|trans }}</div><div style="width: 30%"><img src="{{ asset('images/cat5.png') }}"></div>
                <div style="width: 70%">{{ 'Carcasses'|trans }}</div><div style="width: 30%"><img src="{{ asset('images/cat4.png') }}"></div>
                <div style="width: 70%">{{ 'Individus vivants'|trans }}</div><div style="width: 30%"><img src="{{ asset('images/cat1.png') }}"></div>
                <div style="width: 70%">{{ 'Individus morts'|trans }}</div><div style="width: 30%"><img src="{{ asset('images/cat2.png') }}"></div>
            </div>
    </div>
{% endblock %}

{% block modal %}

    <div id="modalWaith" class="modal modal-fixed-footer">
        <div class="modal-content mdl-grid" id="waith">
            <div style="margin:auto;">

                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>

            </div>
            <input type="hidden" id="imagesrc" value="{{ asset('') }}" />
        </div>

    </div>
{% endblock %}

{% block scriptpage %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAynDbAhqx8Xj7aTyADvr6br02-R4Clkz0&callback=initMap"></script>
    <script type="text/javascript">

        $("#legende").hide();
        var map;
        var contents = new Array();
        var markers = new Array();
        var infowindow;

        function initMap() {
            detectBrowser();
              map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 3.889127, lng: 10.535456},
                    zoom: 8
              });

            var adressePat = "{{ path("siren_user_map_patrouille_all") }}";
            infowindow = new google.maps.InfoWindow();

            $.getJSON(adressePat, function (data) {
                var nb = data.length;
                for (var i = 0; i < nb; i++) {
                    contents[i] = '<div class="mdl-grid">' +
                            '<h4 class="mdl-cell mdl-cell--12-col">{{ 'Résumé la patrouille'|trans }}</h4><hr/>' +
                            '<div class="mdl-cell mdl-cell--12-col mdl-grid">' +
                            '<p class="mdl-cell mdl-cell--6-col">' +
                            '{{ 'Segment'|trans }} : <span class="mdl-color-text--red-300">' + data[i]['segment'] + '</span><br/>' +
                            '{{ 'Site'|trans }} : <span class="mdl-color-text--red-300">' + data[i]['site'] + '</span><br/>' +
                            '{{ 'Débutée le'|trans }} : <span class="mdl-color-text--red-300">' + data[i]["dateDebut"] + " à " + data[i]["heureDebut"] + '</span><br/>' +
                            '{{ 'Terminée le'|trans }} : <span class="mdl-color-text--red-300">' + data[i]["dateFin"] + " à " + data[i]["heureFin"] + '</span><br/>' +
                            '</p>' +
                            '<p class="mdl-cell mdl-cell--6-col">' +
                            '{{ 'Nombre de Traces'|trans }} : <span class="mdl-color-text--red-300">' + data[i]['traces'] + '</span><br/>' +
                            '{{ 'Nombre de Nids'|trans }} : <span class="mdl-color-text--red-300">' + data[i]['nids'] + '</span><br/>' +
                            '{{ 'Nombre de Carcasses (restes)'|trans }} : <span class="mdl-color-text--red-300">' + data[i]['carcasses'] + '</span><br/>' +
                            '{{ 'Nombre d\'individus vivants'|trans }} : <span class="mdl-color-text--red-300">' + data[i]['vivants'] + '</span><br/>' +
                            '{{ 'Nombre d\'individus Morts'|trans }} : <span class="mdl-color-text--red-300">' + data[i]['morts'] + '</span><br/>' +
                            '</p>' +
                            '<div class="mdl-cell mdl-cell--4-col">' +
                            '</div>' +
                            '</div>' +
                            '</div>';


                    markers[i] = new google.maps.Marker({
                            position: {lat: data[i]["coordXDebut"], lng: data[i]["coordYDebut"]},
                            map: map,
                            label: "" + data[i]["nbObs"],
                            title: data[i]["userAdd"]
                      });
                    markers[i].addListener('click', function () {
                        for (var x = 0; x < markers.length; x++)
                        {
                            if (markers[x] == this) {
                                break;
                            }
                        }
                        infowindow.setContent(contents[x]);
                            infowindow.open(map, markers[x]);
                      });

                }

                map.addListener('click', function () {
                    infowindow.close();
                })
            });

        }

        function detectBrowser() {
              var useragent = navigator.userAgent;
              var mapdiv = document.getElementById("map");

              if (useragent.indexOf('iPhone') != -1 || useragent.indexOf('Android') != -1) {
                    mapdiv.style.width = '100%';
                    mapdiv.style.height = '300px';
              } else {
                    //$(mapdiv).css('width', '100%');
                    mapdiv.style.height = '600px';
              }
        }

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year
            monthsFull: ["{{'Janvier'|trans  }}", "{{'Février'|trans  }}", "{{'Mars'|trans  }}", "{{'Avril'|trans  }}", "{{'Mai'|trans  }}", "{{'Juin'|trans  }}", "{{'Juillet'|trans  }}", "{{'Août'|trans  }}", "{{'Septembre'|trans  }}", "{{'Octobre'|trans  }}", "{{'Novembre'|trans  }}", "{{'Décembre'|trans  }}"],
            monthsShort: ["{{'Jan'|trans  }}", "{{'Feb'|trans  }}", "{{'Mar'|trans  }}", "{{'Avr'|trans  }}", "{{'Mai'|trans  }}", "{{'Juin'|trans  }}", "{{'Juil'|trans  }}", "{{'Août'|trans  }}", "{{'Sep'|trans  }}", "{{'Oct'|trans  }}", "{{'Nov'|trans  }}", "{{'Dec'|trans  }}"],
            weekdaysFull: ["{{'Dimanche'|trans  }}", "{{'Lundi'|trans  }}", "{{'Mardi'|trans  }}", "{{'Mercredi'|trans  }}", "{{'Jeudi'|trans  }}", "{{'Vendredi'|trans  }}", "{{'Samedi'|trans  }}"],
            weekdaysShort: ["{{'Dim'|trans  }}", "{{'Lun'|trans  }}", "{{'Mar'|trans  }}", "{{'Mer'|trans  }}", "{{'Jeu'|trans  }}", "{{'Ven'|trans  }}", "{{'Sam'|trans  }}"],
            showMonthsShort: false,
            showWeekdaysFull: false,
            format: 'dd/mm/yyyy',
            today: "{{'Aujour.'|trans  }}",
            clear: "{{'Supp.'|trans  }}",
            close: "{{'Fermer'|trans  }}",
            // Accessibility labels
            labelMonthNext: "{{'Mois suivant'|trans  }}",
            labelMonthPrev: "{{'Mois précédent'|trans  }}",
            labelMonthSelect: "{{'Sélectionner un mois'|trans  }}",
            labelYearSelect: "{{'Sélectionner une année'|trans  }}"
        });

        function selectMarkers() {
            $("#modalWaith").modal({dismissible: false});
            $("#modalWaith").modal("open");

            $("#modalWaith").css("-ms-filter", "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)");
            $("#modalWaith").css("filter", "alpha(opacity=50)");
            $("#modalWaith").css("-moz-opacity", "0.5");
            $("#modalWaith").css("-khtml-opacity", "0.5");
            $("#modalWaith").css("opacity", "0.5");

            var type = $("input[name='type']:checked").val();
            var nid = $("#nid").is(":checked");
            var trace = $("#trace").is(":checked");
            var vivant = $("#vivant").is(":checked");
            var mort = $("#mort").is(":checked");
            var carcasse = $("#carcasse").is(":checked");

            var debut = $("#datedebut").val();
            var fin = $("#datefin").val();

            var pathmarker = "{{ path("siren_user_map_get_markers") }}";
            var data = {
                type: type,
                nid: nid,
                trace: trace,
                vivant: vivant,
                mort: mort,
                carcasse: carcasse,
                debut: debut,
                fin: fin
            };
            $.ajax({
                url: pathmarker,
                type: "POST",
                dataType: 'json', // selon le retour attendu
                data: data,
                success: function (donnees) {
                    // La réponse du serveur
                    for (var i = 0; i < markers.length; i++) {
                        markers[i].setMap(null);
                    }
                    markers = [];

                    var nb = donnees.length;
                    for (var i = 0; i < nb; i++) {
                        if (type == "patrouille") {
                            $("#legende").hide();
                            contents[i] = '<div class="mdl-grid">' +
                                '<h4 class="mdl-cell mdl-cell--12-col">{{ 'Résumé la patrouille'|trans }}</h4><hr/>' +
                                '<div class="mdl-cell mdl-cell--12-col mdl-grid">' +
                                '<p class="mdl-cell mdl-cell--6-col">' +
                                '{{ 'Segment'|trans }} : <span class="mdl-color-text--red-300">' + donnees[i]['segment'] + '</span><br/>' +
                                '{{ 'Site'|trans }} : <span class="mdl-color-text--red-300">' + donnees[i]['site'] + '</span><br/>' +
                                '{{ 'Débutée le'|trans }} : <span class="mdl-color-text--red-300">' + donnees[i]["dateDebut"] + " à " + donnees[i]["heureDebut"] + '</span><br/>' +
                                '{{ 'Terminée le'|trans }} : <span class="mdl-color-text--red-300">' + donnees[i]["dateFin"] + " à " + donnees[i]["heureFin"] + '</span><br/>' +
                                '</p>' +
                                '<p class="mdl-cell mdl-cell--6-col">' +
                                '{{ 'Nombre de Traces'|trans }} : <span class="mdl-color-text--red-300">' + donnees[i]['traces'] + '</span><br/>' +
                                '{{ 'Nombre de Nids'|trans }} : <span class="mdl-color-text--red-300">' + donnees[i]['nids'] + '</span><br/>' +
                                '{{ 'Nombre de Carcasses (restes)'|trans }} : <span class="mdl-color-text--red-300">' + donnees[i]['carcasses'] + '</span><br/>' +
                                '{{ 'Nombre d\'individus vivants'|trans }} : <span class="mdl-color-text--red-300">' + donnees[i]['vivants'] + '</span><br/>' +
                                '{{ 'Nombre d\'individus Morts'|trans }} : <span class="mdl-color-text--red-300">' + donnees[i]['morts'] + '</span><br/>' +
                                '</p>' +
                                '<div class="mdl-cell mdl-cell--4-col">' +
                                '</div>' +
                                '</div>' +
                                '</div>';

                            markers[i] = new google.maps.Marker({
                                position: {lat: donnees[i]["coordXDebut"], lng: donnees[i]["coordYDebut"]},
                                map: map,
                                title: donnees[i]["userAdd"]
                            });
                        } else {
                            $("#legende").show();
                            contents[i] = '<div class="mdl-grid">' +
                                    '<h4 class="mdl-cell mdl-cell--12-col">{% trans %}Détails de l\'observation{% endtrans %}</h4><hr/>' +
                                    '<div class="mdl-cell mdl-cell--12-col mdl-grid">' +
                                    '<p class="mdl-cell mdl-cell--12-col">' +
                                    '{{ 'Segment'|trans }} : <span class="mdl-color-text--red-300">' + donnees[i]['segment'] + '</span><br/>' +
                                    '{{ 'Site'|trans }} : <span class="mdl-color-text--red-300">' + donnees[i]['site'] + '</span><br/>' +
                                    '{{ 'Type d\'observations'|trans }} : <span class="mdl-color-text--red-300">' + donnees[i]["type"] + '</span><br/>' +
                                    '</p>' +
                                    '<div class="mdl-cell mdl-cell--12-col carousel"style="max-height:250px;">';
                            var image;
                            switch (donnees[i]["typeid"]) {
                                case 1:
                                    image = "{{ asset('images/cat3.png') }}";
                                    break;
                                case 2:
                                    image = "{{ asset('images/cat4.png') }}";
                                    break;
                                case 3:
                                    image = "{{ asset('images/cat5.png') }}";
                                    break;
                                case 4:
                                    if(donnees[i]["mort"])
                                        image = "{{ asset('images/cat2.png') }}";
                                    else
                                        image = "{{ asset('images/cat1.png') }}";
                                    break;
                                default:
                                    image = "{{ asset('images/default.png') }}";
                                    break;
                            }
                            if(donnees[i].hasOwnProperty('images')){
                                var nbImg = donnees[i]["images"].length;
                                for(var j = 0; j < nbImg; j++){
                                    contents[i] += '<a class="carousel-item" href="#im-' + j + '"><img src="' + $("#imagesrc").val() + donnees[i]["images"][j] + '"></a>';
                                }
                            }

                            contents[i] += '</div>' +
                                    '<div class="mdl-cell mdl-cell--4-col">' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>';
                            markers[i] = new google.maps.Marker({
                                position: {lat: donnees[i]["coordXDebut"], lng: donnees[i]["coordYDebut"]},
                                map: map,
                                label: {text : "" + donnees[i]["id"], color: "white", fontSize: "12px"},
                                icon: image,
                                title: donnees[i]["userAdd"]
                            });
                        }
                        //alert("toto");

                        markers[i].addListener('click', function () {
                            for (var x = 0; x < markers.length; x++)
                            {
                                if (markers[x] == this) {
                                    break;
                                }
                            }
                            infowindow.setContent(contents[x]);
                                infowindow.open(map, markers[x]);
                                $('.carousel').carousel();
                          });

                    }
                    $("#modalWaith").modal("close");
                }
            });
        }
    </script>
{% endblock %}