{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-3 ">
                                <!-- Material Login -->
								
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">{{"Fin de l'observation"|trans}}</h2>
                                    </div>
                                    <div class="card-block ">
                                        <form class="form-horizontal m-t-sm" >
                                        <div class="form-group bg-white">
                                            
                                            <div class="col-xs-12 text-center">
                                                <label class="col-xs-12">{{'Votre observation à bien été pris en compte!'|trans}}</label><br/><br/>
                                            
                                                <i class="fa fa-check-circle-o fa-5x text-green center-block"></i>
                                            </div>
                                             <br/>
                                            
                                        </div>
                                        <div class="form-group m-b-0 bg-white">
                                            <div class="col-xs-12">
                                                <a class="btn btn-app-teal btn-block center-block" href="{{ path('observations_show', { 'id': observation }) }}">{{'Voir le récapitulatif'|trans}} &ensp; <i class="fa fa-check-circle-o"></i></a>
                                            </div>
                                        </div>
                                   </form>
                                    

                                   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}

