{% extends 'base.html.twig' %}

{% block body %}
    <h1>Resultat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resultat.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ resultat.contenu }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('resultats_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('resultats_edit', { 'id': resultat.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
