{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->

                        <div class="row">

                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
                                <!-- Material Login -->

                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h2 class="section-title">{{'Consulter un sous groupe'|trans}}</h2>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sous_groupe.id }}</td>
            </tr>
            <tr>
                <th>{{'Nom fr'|trans}}</th>
                <td>{{ sous_groupe.nomFr }}</td>
            </tr>
            <tr>
                <th>{{'Nom en'|trans}}</th>
                <td>{{ sous_groupe.nomEn }}</td>
            </tr>
            <tr>
                <th>{{'Nom pt'|trans}}</th>
                <td>{{ sous_groupe.nomPt }}</td>
            </tr>
            <tr>
                <th>{{'Description fr'|trans}}</th>
                <td>{{ sous_groupe.descriptionFr }}</td>
            </tr>
            <tr>
                <th>{{'Description en'|trans}}</th>
                <td>{{ sous_groupe.descriptionEn }}</td>
            </tr>
            <tr>
                <th>{{'Description pt'|trans}}</th>
                <td>{{ sous_groupe.descriptionPt }}</td>
            </tr>
            <tr>
                <th>{{'Image'|trans}}</th>
                <td>{{ sous_groupe.image }}
                <img
                                    src="{{ app.request.basePath }}/images/sousGroupes/{{ sous_groupe.image }}"
                                    alt="{{ sous_groupe.nomFr }}"
                                    width="100"
                                    height="100"
                                    /></td>
            </tr>
        </tbody>
    </table>
    <br>
         <a class="btn btn-white text-right" href="{{ path('especes_new',{'id': sous_groupe.id}) }}"><i class="fa fa-plus-circle"></i> {% trans%}Ajouter une nouvelle espèces{% endtrans%}</a>
         <br>
    </table>
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'Nom fr'|trans}}</th>
                <th>{{'Nom en'|trans}}</th>
                <th>{{'Nom pt'|trans}}</th>
                <th>{{'Nom Inaturalist'|trans}}</th>
                <th>{{'Image'|trans}}</th>
                <th>{{'Consulter'|trans}}</th>
                <th>{{'Modifier'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for espece in especes %}
            <tr>
                <td><a href="{{ path('especes_show', { 'id': espece.id }) }}">{{ espece.id }}</a></td>
                <td>{{ espece.nomFr }}</td>
                <td>{{ espece.nomEn }}</td>
                <td>{{ espece.nomPt }}</td>
                <td>{{ espece.nomInaturalist }}</td>
                <td><img
                                    src="{{ app.request.basePath }}/images/especes/{{ espece.image }}"
                                    alt="{{ espece.nomFr }}"
                                    width="40"
                                    height="40"
                                    /></td>
                <td>
                    <a class="btn btn-app-teal center-block" href="{{ path('especes_show', { 'id': espece.id }) }}"><i class="fa fa-list"></i></a>

                </td>
                <td>
                    <a class="btn btn-warning center-block" href="{{ path('especes_edit', { 'id': espece.id }) }}"><i class="fa fa-edit"></i></a>

                </td>


            </tr>
        {% endfor %}
        </tbody>
<br/>
    <a  class="btn btn-app-teal "  href="{{ path('sous_groupes_index') }}">{{'Revenir à la liste'|trans}}</a>



   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->



                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->




                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
