{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{'Tableau de Bord'|trans}}{% endblock %}


{#{% block linknavdrawer %}
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link navlink" href="#">Profil</a>
        <a class="mdl-navigation__link navlink" href="#">Mes Patrouilles</a>
        <a class="mdl-navigation__link navlink" href="#">Statistiques</a>
    </nav>
{% endblock %}#}

{% block stylepage %}
    
    <style>
        /*[type='checkbox'] + label::before{
            border: 2px solid #3f51b5 !important;
        }*/
        [type='checkbox']:checked + label::before{
            border-right: 2px solid #3f51b5 !important;
            border-bottom: 2px solid #3f51b5 !important;
        }

        input[type="text"]:focus{
            border-bottom: 2px solid #3f51b5 !important;
        }

        input[type="text"]:focus + label{
            color: #3f51b5 !important;
        }

        .input-field .prefix.active{
            color: #3f51b5 !important;
        }
    </style>
    
    
{% endblock %}

{% block drawer %}
    <div class="mdl-layout__drawer mdl-color--cyan-900">
        <span  style="margin:15px;">
            <center>
                {% if app.user.image is null %}
                    <img src="{{ asset('images/user.png') }} "/>
                {% else %}
                    <img src="{{ asset(app.user.image.webPath) }} " style="border-radius: 50%; width: 100px; height: 100px;"/>
                {% endif %}
                <div class="mdl-layout-title mdl-color-text--white" style="margin-top:15px;">{{ app.user.username}}</div>
            </center>
        </span>
        <hr class="white" style="width:100%; margin-bottom: 0px !important;">
        <div style="background-color: rgba(255, 255, 255, 0.5); padding: 15px;">
            <center>
                <div class="mdl-layout-title mdl-color-text--white">{{'MENU PRINCIPAL'|trans}}</div>
            </center>
        </div>
        {% block linknavdrawer %}
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link navlink" href="{{ path("fos_user_profile_show") }}">{{'Profil'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("fos_user_profile_edit")}}">{{'Editer mes informations'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("fos_user_change_password") }}">{{'Modifier mon mot de passe'|trans}}</a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_user_dashboard") }}">{% trans %}Retour au menu principal{% endtrans %}</a>
            </nav>
        {% endblock %}
    </div>
{% endblock %}
{% block layout %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    {% endblock %}

    {% block linknavheader %}
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link navlink" href="{{ path("SirenTortue_homepage") }}"><i class="material-icons" style="margin-right:5px;">home</i>{{'Accueil'|trans}}</a>
            <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}"><i class="material-icons" style="margin-right:5px;">exit_to_app</i><span>{{'Déconnexion'|trans}}</span></a>
        </nav>
    {% endblock %}
{% block body %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone">
        </div>
        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-phone mdl-grid mdl-cell--10-col-tablet mdl-shadow--10dp type">
            <div class="mdl-cell mdl-cell--12-col" >
                <center>
                    <h4>{{'Mes informations'|trans}}</h4>
                </center>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-grid" >
                <div class="mdl-cell mdl-cell--3-col" ></div>
                {% block fos_user_content %}
                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                        <div class="mdl-cell mdl-cell--1-col">
                            <i class="material-icons prefix">perm_identity</i>
                        </div>
                        <div class="mdl-cell mdl-cell--11-col">
                            {{ "Nom d'utilisateur"|trans }} : <b>{{ user.username }}</b>
                        </div>
                        <div class="mdl-cell mdl-cell--1-col">
                            <i class="material-icons prefix">mail</i>
                        </div>
                        <div class="mdl-cell mdl-cell--11-col">
                            {{ "Adresse email"|trans }} :<b> {{ user.email }}</b>
                        </div>

                        <div class="mdl-cell mdl-cell--1-col">
                            <i class="material-icons prefix">perm_identity</i>
                        </div>
                        <div class="mdl-cell mdl-cell--11-col">
                            {{ "Prénom"|trans }} : <b>{{ user.prenom }}</b>
                        </div>
                        <div class="mdl-cell mdl-cell--1-col">
                            <i class="material-icons prefix">perm_identity</i>
                        </div>
                        <div class="mdl-cell mdl-cell--11-col">
                            {{ "Nom"|trans }} : <b>{{ user.nom }}</b>
                        </div>
                        <div class="mdl-cell mdl-cell--1-col">
                            <i class="material-icons prefix">phone</i>
                        </div>
                        <div class="mdl-cell mdl-cell--11-col">
                            {{ "Numero de téléphone"|trans }} : <b>{{ user.telephone }}</b>
                        </div>
                        <div class="mdl-cell mdl-cell--1-col">
                            <i class="material-icons prefix">account_balance</i>
                        </div>
                        <div class="mdl-cell mdl-cell--11-col">
                            {{ "Organisation"|trans }} : <b>{{ user.organisation }}</b>
                        </div>
                        <div class="mdl-cell mdl-cell--1-col">
                            <i class="material-icons prefix">place</i>
                        </div>
                        <div class="mdl-cell mdl-cell--11-col">
                            {{ "Ville"|trans }} : <b>{{ user.ville }}</b>
                        </div>
                        <div class="mdl-cell mdl-cell--1-col">
                            <i class="material-icons prefix">place</i>
                        </div>
                        <div class="mdl-cell mdl-cell--11-col">
                            {{ "Pays"|trans }} : <b>{% if user.pays is not null %}{{ user.pays.nom }}{% endif %}</b>
                        </div>
                    </div>
                {% endblock fos_user_content %}
            </div>
        </div>
        <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone">
        </div>
{% endblock %}