<!DOCTYPE html>

<html class="app-ui">

    <head>
        <!-- Meta -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <style>
        .arrow {
          border: solid gray;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
        }


        .down {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
        </style>
        <title>{% block title %}{{'Bienvenue sur Siren CONGO'|trans}}!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicons/RENATURA_LOGO2.jpg') }}" />
        <link rel="apple-touch-icon" href="{{ asset('assets/img/favicons/RENATURA_LOGO2.jpg') }}" />
        <!-- Document title -->

        <!-- Google fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />

        <!-- Page JS Plugins CSS -->
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/select2/select2.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/select2/select2-bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/dropzonejs/dropzone.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/jquery-tags-input/jquery.tagsinput.min.css') }}" />

        <link rel="stylesheet" href="{{ asset('assets/js/plugins/slick/slick.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/slick/slick-theme.min.css') }}" />

        <!-- AppUI CSS stylesheets -->
        <link rel="stylesheet" id="css-font-awesome" href="{{ asset('assets/css/font-awesome.css') }}" />
        <link rel="stylesheet" id="css-ionicons" href="{{ asset('assets/css/ionicons.css') }}" />
        <link rel="stylesheet" id="css-bootstrap" href="{{ asset('assets/css/bootstrap.css') }}" />
        <link rel="stylesheet" id="css-app" href="{{ asset('assets/css/app.css') }}" />
        <link rel="stylesheet" id="css-app-custom" href="{{ asset('assets/css/app-custom.css') }}" />
        <!-- End Stylesheets -->
    </head>

    <body class="app-ui layout-has-drawer layout-has-fixed-header">
        <div class="app-layout-canvas">
            <div class="app-layout-container">

                <!-- Drawer -->
                <aside class="app-layout-drawer">

                    <!-- Drawer scroll area -->
                    <div class="app-layout-drawer-scroll">
                        <!-- Drawer logo -->
                        <div id="logo" class="drawer-header">
                            <a href="{{ path('homepageRenatura') }}"><img class="img-responsive" src="{{ asset('assets/img/logo/renatura_logo.jpg') }}" title="siren CONGO" alt="siren CONGO" /></a>
                        </div>

                        <!-- Drawer navigation -->
                        <nav class="drawer-main">
                            <ul class="nav nav-drawer">
                                <li class="nav-item hidden-md hidden-lg">
                                    <a href="{{ path('fos_user_registration_register') }}"><i class="ion-log-in"></i>Inscription</a>
                                </li>

                                <li class="nav-item hidden-md hidden-lg">
                                    <a href="{{ path('fos_user_security_login') }}"><i class="ion-ios-unlocked-outline"></i>Connexion</a>
                                </li>

                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


                                <li class="nav-item">
                                    <a href="{{ path('admin') }}"><i class="ion-arrow-return-left"></i>{{"Retour à l'accueil"|trans}}</a>
                                </li>
                                <li class="nav-item nav-drawer-header">{{'Générer la map'|trans}} </li>

                                <br>



                                {% endif %}

                            	    <input type="hidden" id="projet" value="62153" />

				                    <div class="row pdd15 pdg15 hov1">
                                        <label class="css-input css-checkbox css-checkbox-default fs14 col-xs-12 ">
										<input type="checkbox" id="checkAll" checked/><span></span> {{'Tous'|trans}}
										</label>
                                    </div>
									<div class="row pdd15 pdg15 hov1">
                                        <label class="css-input css-checkbox css-checkbox-default fs14 col-xs-12 ">
										<input type="checkbox" id="tortues_marines" checked /><span></span> {{'Tortues marines'|trans}} <img style="float:right;"
                                                                        src="{{ app.request.basePath }}/images/map/cat1.png"

                                                                        />
										</label>
                                    </div>
									<div class="row pdd15 pdg15 hov1">
                                        <label class="css-input css-checkbox css-checkbox-default fs14 col-xs-12 ">
										<input type="checkbox" id="autre_espece_marine" checked /><span></span> {{'Autre espèce marine'|trans}} <img style="float:right;"
                                                                        src="{{ app.request.basePath }}/images/map/cat2.png"

                                                                        />
										</label>
                                    </div>
									<div class="row pdd15 pdg15 hov1">
                                        <label class="css-input css-checkbox css-checkbox-default fs14 col-xs-12">
										<input type="checkbox" id="production_de_peche" checked /><span></span> {{'Production de pêche'|trans}} <img style="float:right;"
                                                                        src="{{ app.request.basePath }}/images/map/cat3.png"

                                                                        />
										</label>
                                    </div>
									<div class="row pdd15 pdg15 hov1">
                                        <label class="css-input css-checkbox css-checkbox-default fs14 col-xs-12">
										<input type="checkbox" id="menace_renatura" checked /><span></span>{{'Menace'|trans}} <img style="float:right;"
                                                                        src="{{ app.request.basePath }}/images/map/cat4.png"

                                                                        />
										</label>
                                    </div>
                                    <div class="row pdd15 pdg15 hov1">
                                        <label class="css-input css-checkbox css-checkbox-default fs14 col-xs-12">
                                            <input type="checkbox" id="rapide" checked/><span></span> {{'Observation rapide'|trans}} <img style="float:right;"
                                                                        src="{{ app.request.basePath }}/images/map/cat5.png"

                                                                        />
										</label>
                                    </div>
                                   <hr/>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <div class="form-material floating">
                                                <input id="datedebut" name="datedebut" class="js-datepicker form-control" type="text" data-date-format="dd-mm-yyyy">
                                                <label for="datedebut">{{'Date Début'|trans}}</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-material floating">
                                                <input id="datefin" name="datefin" class="js-datepicker form-control" type="text" data-date-format="dd-mm-yyyy">
                                                <label for="datefin">{{'Date Fin'|trans}}</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-xs-12 ">
                                        <button id="generer" class="btn btn-app-teal btn-block center-block">{{'Générer'|trans}}</button>
                                    </div>



                            </ul>
                        </nav>
                        <!-- End drawer navigation -->

                         <div class="drawer-footer">
                            <p class="copyright">Siren CONGO &copy; - {{ 'now'|date('Y') }}</p>
                        </div>

                    </div>
                    <!-- End drawer scroll area -->
                </aside>
                <!-- End drawer -->

                <!-- Header -->
                <header class="app-layout-header">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button class="pull-left hidden-lg hidden-md navbar-toggle" type="button" data-toggle="layout" data-action="sidebar_toggle">
					<span class="sr-only">Toggle drawer</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                                <span class="navbar-page-title">

                                    {{'Bienvenue sur Siren CONGO'|trans}}
				</span>
                            </div>

                            <div class="collapse navbar-collapse" id="header-navbar-collapse">


                                <!-- .navbar-left -->

                                <ul class="nav navbar-nav navbar-right navbar-toolbar hidden-sm hidden-xs">

                                  <li class="dropdown language-selector">
                                      <!-- <span>Language: -->
                                      <a  href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': app.request.getLocale()})) }}" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
                                      {% if (app.request.getLocale()) == 'fr' %}
                                      <img src="{{ asset('images/francais.png') }}" />
                                      <span>French</span>
                                      <span class="arrow down"></span>
                                      {% endif %}
                                      {% if (app.request.getLocale()) == 'en' %}
                                      <img src="{{ asset('images/anglais.jpg') }}" />
                                      <span>English</span>
                                      <span class="arrow down"></span>
                                      {% endif %}
                                      {% if (app.request.getLocale()) == 'pt' %}
                                      <img src="{{ asset('images/portugal.png') }}" />
                                      <span>Portuguese</span>
                                      <span class="arrow down"></span>
                                      {% endif %}
                                      </a>
                                      <ul class="dropdown-menu pull-right">
                                      <li>
                                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
                                          <img src="{{ asset('images/anglais.jpg') }}" />
                                          <span>English</span>
                                        </a>
                                      </li>
                                      <li>
                                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">
                                          <img src="{{ asset('images/francais.png') }}" />
                                          <span>French</span>
                                        </a>
                                      </li>
                                      <li>
                                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'pt'})) }}">
                                          <img src="{{ asset('images/portugal.png') }}" />
                                          <span>Portuguese</span>
                                        </a>
                                      <!-- </span> -->
                                      </ul>
                                    </li>
                                    </li>

                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li><a><i class="ion-person"></i>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a></li>
                                        <li ><a class="btn-app-teal" href="{{ path('fos_user_security_logout') }}"><i class="ion-power"></i>
                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a> </li>
                                    {% else %}
                                        <li><a href="{{ path('fos_user_security_login') }}"><i class="ion-ios-unlocked-outline"></i> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                                        <li><a href="{{ path('fos_user_registration_register') }}"><i class="ion-log-in"></i> {{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                                    {% endif %}

                                </ul>
                                <!-- .navbar-right -->
                            </div>
                        </div>
                        <!-- .container-fluid -->
                    </nav>
                    <!-- .navbar-default -->
                </header>
                <!-- End header -->

                <main class="app-layout-content">
		{% if app.request.hasPreviousSession %}
                                    {% for type, messages in app.session.flashbag.all() %}
                                        {% for message in messages %}
                                            <div class="flash-{{ type }}">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}

                      <!-- Content section -->
                    <div class="section">
                        <div class="container-fluid p-y-md">
                            <!-- Maps and Search functionality is initialized in js/pages/base_comp_maps.js, for more examples check https://hpneo.github.io/gmaps/ -->
                            <div class="row">
                                    <div class="col-md-3">
                                <a class="card bg-green bg-inverse">
                                    <div class="card-block clearfix" style="padding: 5px 5px;">

                                        <p class="h6 text-muted m-t-0 m-b-xs"><span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="ion-ios-eye fa-1-5x"></i></span>
                                            &emsp;{{'Observations'|trans}}
                                            &emsp;<b style="font-size:30px; margin-top: 15px; color: white;">{{ob}}</b></p>

                                    </div>
                                </a>
                            </div>
                                            <div class="col-md-3">
                                <a class="card bg-red bg-inverse">
                                    <div class="card-block clearfix" style="padding: 5px 5px;">

                                        <p class="h6 text-muted m-t-0 m-b-xs"><span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="fa fa-group fa-1-5x"></i></span>
                                            &emsp;{{'Espèces'|trans}}
                                            &emsp;<b style="font-size:30px; margin-top: 15px; color: white;">{{ es }}</b></p>

                                    </div>
                                </a>
                            </div>
                                            <div class="col-md-3">
                                <a class="card bg-purple bg-inverse">
                                    <div class="card-block clearfix" style="padding: 5px 5px;">

                                        <p class="h6 text-muted m-t-0 m-b-xs"><span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="fa fa-users fa-1-5x"></i></span>
                                            &emsp;{{'Utilisateurs'|trans}}
                                            &emsp;<b style="font-size:30px; padding-top: 15px; color: white;">{{ ut }}</b></p>

                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3">
                                <a class="card bg-red bg-inverse" href="{{ path('statistiqueRenatura') }}">
                                    <div class="card-block clearfix" style="padding: 5px 5px;">

                                        <p class="h6 text-muted m-t-0 m-b-xs"><span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="fa fa-users fa-1-5x"></i></span>
                                            &emsp;{{'Statistiques'|trans}}
                                            &emsp;</p>

                                    </div>
                                </a>
                            </div>


                                    </div>
                                        <div class="row">

							<!-- Map with markers -->
                                <div class="col-md-9">
                                    <div class="card">
                                        <div class="card-header bg-teal text-center" style="padding:5px 5px;">
                                            <h4>{{'MAPS'|trans}}</h4>
                                        </div>
                                        <!-- Map container -->
                                        <div id="map" style="height: 600px;"></div>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-header bg-teal text-center" style="padding:5px 5px;">
                                            <h4>{{'Observations'|trans}} ({{(page*20)-20+1 }} {{'à'|trans}} {{page*20}})</h4>
                                        </div>
                                        <!-- Map container -->
                                        <div style="height: 700px; overflow-y: scroll;">

                                            {% for observation in observations %}
                                                 <div class="card" style="margin: 5px; clear: both;">
                                                    {% if observation.etat == 1 %}
                                                        {% if observation.img1 == "observation.png" %}
                                                            <div style="text-align:center; width:100px; height:75px; background-color:#EEE; margin-right: 10px; float: left;" >
                                                                <b>NO IMAGE<br>AVAILABLE</b>
                                                            </div>
                                                        {% else %}
                                                        <a  style="margin-right: 10px; float: left;" class="image-link text-left" href="{{ app.request.basePath }}/images/observations/tof1/{{ observation.img1 }}">
                                                            <img
                                                                        src="{{ app.request.basePath }}/images/observations/tof1/{{ observation.img1 }}"
                                                                        alt="{{ observation.img1 }}"
                                                                        width="100"
                                                                        height="75"
                                                                        />
                                                            </a>
                                                    {% endif %}
                                                    {% else %}
                                                    <div style="text-align:center; width:100px; height:75px; background-color:#EEE; margin-right: 10px; float: left;" >
                                                                <b>NO IMAGE<br>AVAILABLE</b>
                                                            </div>
                                                    {% endif %}

                                                    <ul class="list" style="font-size:12px; float: left;">
                                                            <li><b>N°:</b> {{ observation.alpha }}
                                                             <a class="btn btn-success btn-xs" href="{{ path('observations_show2', { 'id': observation.id }) }}"><i class="fa fa-eye"></i></a>
                                                             <button class="btn btn-danger  btn-xs showDetail" obid="{{ observation.id }}" obx="{{ observation.coordX }}" oby="{{ observation.coordY }}"><i class="fa fa-map-marker"></i></button>
                                                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                            {% if is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') %}
                                                             <a class="btn btn-danger  btn-xs" href="{{ path('observations_edit', { 'id': observation.id }) }}"><i class="fa fa-close"></i></a>
                                                            {% endif %}
                                                            {% endif %}
                                    </li>
                                                            <li><b>Date:</b> {% if observation.date %}{{ observation.date|date('Y-m-d') }}{% endif %}</li>
                                                            {%if observation.typeObservations.typeQuestion == "groupe"%}
                                                            <li><b>Espèces:</b> {%if observation.especes!=null%}{{ observation.especes.nomFr }}{%else%}Identification{%endif%}</li>
                                                            {%else%}
                                                             <li><b>Type:</b> {{ (app.request.getLocale()=="fr")?observation.typeObservations.nomFr:(app.request.getLocale()=="pt")?observation.typeObservations.nomPt:observation.typeObservations.nomEn}}</li>
                                                            {%endif%}

                                                            <li><i class="fa fa-map-marker"> </i> {{ render(controller("AppBundle:Observations:geocode",{'addressx': observation.coordX, 'addressy':observation.coordY })) }}</li>
                                                            <li><b>{{'Auteur'|trans}}:</b> {{ observation.collecteur }}


                                                            </li>
                                                        </ul>



                                              </div>
                                                                <hr style="clear: both;">
                                        {% endfor %}
                                        {% if ob > page * 20%}
                                         <a class="btn btn-primary btn-block" href="{{ path('homepage2Renatura', {'page': page+1}) }}">{{"Plus d'observations"|trans}} ({{((page+1)*20)-20+1 }} {{'à'|trans}} {{(page+1)*20}}) <i class="fa fa-plus-circle"></i></a>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!-- End Map with markers // .col-md-6 -->
                            </div>
                            <!-- .row -->
                        </div>
                        <!-- .container-fluid -->
                    </div>
                    <!-- .section -->
                    <input type="hidden" id="pathmapall" value="{{ path('map_getall_renatura') }}">
                    <input type="hidden" id="pathmarker" value="{{ path('map_get_markers_renatura') }}">
                    <input type="hidden" id="admin" value=" {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                            {% if is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') %}
                                                             1
                                                             {% else %}
                                                             0
                                                            {% endif %}
                                                            {% endif %}">
                </main>

            </div>
            <!-- .app-layout-container -->
        </div>
        <!-- .app-layout-canvas -->


        <div class="app-ui-mask-modal"></div>

        <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
        <script src="{{ asset('assets/js/core/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/core/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/core/jquery.slimscroll.min.js') }}"></script>
        <script src="{{ asset('assets/js/core/jquery.scrollLock.min.js') }}"></script>
        <script src="{{ asset('assets/js/core/jquery.placeholder.min.js') }}"></script>
        <script src="{{ asset('assets/js/app.js') }}"></script>
        <script src="{{ asset('assets/js/app-custom.js') }}"></script>

          <!-- Page JS Plugins -->
        <script src="{{ asset('assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/select2/select2.full.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/masked-inputs/jquery.maskedinput.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/dropzonejs/dropzone.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/jquery-tags-input/jquery.tagsinput.min.js') }}"></script>
        <!-- Page Plugins -->
        <script src="{{ asset('assets/js/plugins/slick/slick.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/chartjs/Chart.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/flot/jquery.flot.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/flot/jquery.flot.pie.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/flot/jquery.flot.stack.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/flot/jquery.flot.resize.min.js') }}"></script>
        <!-- Page JS Plugins -->
        <script>
            // Définition des images
            var cat1 = "{{ asset('images/map/cat1.png') }}";
            var cat2 = "{{ asset('images/map/cat2.png') }}";
            var cat3 = "{{ asset('images/map/cat3.png') }}";
            var cat4 = "{{ asset('images/map/cat4.png') }}";
            var defaut = "{{ asset('images/map/cat5.png') }}";

            var labeltitre = "{{ "Détails de l'observation"|trans }}";

            var nbeobservation = "{{ "Number of observations found"|trans }}" + ": ";

            var imageChemin = "{{ app.request.basePath }}";
        </script>
        <!-- Page JS Code -->
        <script>
            $(function()
            {
                // Init page helpers (BS Datepicker + BS Colorpicker + Select2 + Masked Input + Tags Inputs plugins)
                App.initHelpers(['datepicker', 'colorpicker', 'select2', 'masked-inputs', 'tags-inputs']);
            });
        </script>
        <!-- Page JS Plugins -->

        <!-- Page JS Code -->
        <script src="{{ asset('assets/js/pages/base_js_maps_renatura12.js') }}"></script>
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZsN99XdTGHKM9mvFhCbgXHPV3Zo2dWMk&callback=BaseJsMaps.init"></script>
        
        <!-- Page JS Code -->
        <script src="{{ asset('assets/js/pages/index.js') }}"></script>


    </body>

</html>
