

{% block stylepage %}
        <!-- Meta -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <style>
        .arrow {
          border: solid gray;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
        }


        .down {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
        </style>
        <title>{% block title %}{{'Bienvenue sur Siren'|trans}}!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicons/logo.png') }}" />
        <link rel="apple-touch-icon" href="{{ asset('assets/img/favicons/logo.png') }}" />
        <!-- Document title -->

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="{{ asset('assets/img/favicons/apple-touch-icon.png') }}" />
        <link rel="icon" href="{{ asset('assets/img/favicons/favicon.ico') }}" />

        <!-- Google fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />

        <!-- Page JS Plugins CSS -->
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/select2/select2.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/select2/select2-bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/dropzonejs/dropzone.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/jquery-tags-input/jquery.tagsinput.min.css') }}" />

        <link rel="stylesheet" href="{{ asset('assets/js/plugins/slick/slick.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/slick/slick-theme.min.css') }}" />

        <!-- AppUI CSS stylesheets -->
        <link rel="stylesheet" id="css-font-awesome" href="{{ asset('assets/css/font-awesome.css') }}" />
        <link rel="stylesheet" id="css-ionicons" href="{{ asset('assets/css/ionicons.css') }}" />
        <link rel="stylesheet" id="css-bootstrap" href="{{ asset('assets/css/bootstrap.css') }}" />
        <link rel="stylesheet" id="css-app" href="{{ asset('assets/css/app.css') }}" />
        <link rel="stylesheet" id="css-app-custom" href="{{ asset('assets/css/app-custom.css') }}" />
        <!-- End Stylesheets -->
    {% endblock %}
{% block body %}
    <body onload="process()" class="app-ui layout-has-drawer layout-has-fixed-header">
        <div class="app-layout-canvas">
            <div class="app-layout-container">

                <!-- Drawer -->
                <aside class="app-layout-drawer">

                    <!-- Drawer scroll area -->
                    <div class="app-layout-drawer-scroll">
                        <!-- Drawer logo -->
                        <div id="logo" class="drawer-header">
                            <a href="{{ path('homepage') }}"><img class="img-responsive" src="{{ asset('assets/img/logo/logo.png') }}" title="siren" alt="siren" /></a>
                        </div>

                        <!-- Drawer navigation -->
                        <nav class="drawer-main">
                            <ul class="nav nav-drawer">

                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


                                <li class="nav-item">
                                    <a href="{{ path('admin') }}"><i class="ion-arrow-return-left"></i>{{"Retour à l'accueil"|trans}}</a>
                                </li>

                                {% endif %}

				<li class="nav-item hidden-md hidden-lg">
                                    <a href="{{ path('fos_user_registration_register') }}"><i class="ion-log-in"></i>Inscription</a>
                                </li>

                                <li class="nav-item hidden-md hidden-lg">
                                    <a href="{{ path('fos_user_security_login') }}"><i class="ion-ios-unlocked-outline"></i>Connexion</a>
                                </li>

				<li class="nav-item nav-drawer-header">{{'Générer les statistiques'|trans}} </li>




                            </ul>
                        </nav>

                        <!-- End drawer navigation -->

                         <div class="drawer-footer">
                             <div>
                                                <div class="row pdd15 pdg15 hov1">
                                                    <label class="css-input css-radio css-radio-default fs14 col-xs-12 ">
                                                        <input id="tout" type="radio" name="type" value="tout" checked /><span></span> {{'Toutes les observations'|trans}}
                                                    </label>
                                                </div>
                                                <div class="row pdd15 pdg15 hov1">
                                                    <label class="css-input css-radio css-radio-default fs14 col-xs-12 ">
                                                        <input id="mes" type="radio" name="type" value="mes" /><span></span> {{'Mes observations'|trans}}
                                                    </label>
                                                </div>
                                                <hr/>

                                                <div class="row pdd15 pdg15 hov1">
                                                    <label class="css-input css-checkbox css-checkbox-default fs14 col-xs-12 ">
                                                        <input id="Aminal" type="checkbox" value="Animal" /><span></span> {{'Animal'|trans}}
                                                    </label>
                                                </div>
                                         {#       <div class="row pdd15 pdg15 hov1">
                                                    <label class="css-input css-checkbox css-checkbox-default fs14 col-xs-12 ">
                                                        <input type="checkbox" checked /><span></span> {{'Animal mort'|trans}} <span class="badge bg-purple pull-right">54</span>
                                                    </label>
                                                </div>#}
                                                <div class="row pdd15 pdg15 hov1">
                                                    <label class="css-input css-checkbox css-checkbox-default fs14 col-xs-12">
                                                        <input id="Menaces" type="checkbox" value="Menaces"/><span></span> {{'Menaces'|trans}}
                                                    </label>
                                                </div>
                                                <div class="row pdd15 pdg15 hov1">
                                                    <label class="css-input css-checkbox css-checkbox-default fs14 col-xs-12">
                                                        <input id="Signe" type="checkbox" value="Signe de présence" /><span></span>{{'Signe de présence'|trans}}
                                                    </label>
                                                </div>
                                                <div class="row pdd15 pdg15 hov1">
                                                    <label class="css-input css-checkbox css-checkbox-default fs14 col-xs-12">
                                                        <input id="Alimentation" type="checkbox" value="Alimentation"/><span></span> {{'Alimentation'|trans}}
                                                    </label>
                                                </div>
                                                <hr/>
                                                <div class="form-group">
                                                    <div class="col-xs-12">
                                                        <div class="form-material floating">
                                                            <input id="datedebut" class="js-datepicker form-control" type="text" data-date-format="dd-mm-yyyy">
                                                            <label for="datedebut">{{'Date Début'|trans}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="form-material floating">
                                                            <input id="datefin" class="js-datepicker form-control" type="text" data-date-format="dd-mm-yyyy">
                                                            <label for="datefin">{{'Date Fin'|trans}}</label>
                                                        </div>
                                                    </div>

                                                </div>
                                                <input id="url" type="hidden" value="{{ path("statUser_homepage") }}">
                                                <input id="id" type="hidden" value="{{ app.user.id }}">
                                                <div class="col-xs-12 ">
                                                    <button onclick="return affiche();" class="btn btn-app-teal btn-block center-block" >{{'Générer'|trans}}</button>
                                                </div>
                                            </div>
                            <p class="copyright">Siren &copy; - {{ 'now'|date('Y') }}</p>
                        </div>

                    </div>
                    <!-- End drawer scroll area -->
                </aside>
                <!-- End drawer -->

                <!-- Header -->
                <header class="app-layout-header">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button class="pull-left hidden-lg hidden-md navbar-toggle" type="button" data-toggle="layout" data-action="sidebar_toggle">
					<span class="sr-only">Toggle drawer</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                                <span class="navbar-page-title">

                                    {{'Bienvenue sur Siren'|trans}}
				</span>
                            </div>

                            <div class="collapse navbar-collapse" id="header-navbar-collapse">


                                <!-- .navbar-left -->

                                <ul class="nav navbar-nav navbar-right navbar-toolbar hidden-sm hidden-xs">

                                  <li class="dropdown language-selector">
                                      <!-- <span>Language: -->
                                      <a  href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': app.request.getLocale()})) }}" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
                                      {% if (app.request.getLocale()) == 'fr' %}
                                      <img src="{{ asset('images/francais.png') }}" />
                                      <span>French</span>
                                      <span class="arrow down"></span>
                                      {% endif %}
                                      {% if (app.request.getLocale()) == 'en' %}
                                      <img src="{{ asset('images/anglais.jpg') }}" />
                                      <span>English</span>
                                      <span class="arrow down"></span>
                                      {% endif %}
                                      {% if (app.request.getLocale()) == 'pt' %}
                                      <img src="{{ asset('images/portugal.png') }}" />
                                      <span>Portuguese</span>
                                      <span class="arrow down"></span>
                                      {% endif %}
                                      </a>
                                      <ul class="dropdown-menu pull-right">
                                      <li>
                                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
                                          <img src="{{ asset('images/anglais.jpg') }}" />
                                          <span>English</span>
                                        </a>
                                      </li>
                                      <li>
                                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">
                                          <img src="{{ asset('images/francais.png') }}" />
                                          <span>French</span>
                                        </a>
                                      </li>
                                      <li>
                                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'pt'})) }}">
                                          <img src="{{ asset('images/portugal.png') }}" />
                                          <span>Portuguese</span>
                                        </a>
                                      <!-- </span> -->
                                      </ul>
                                    </li>
                                    </li>

                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li><a><i class="ion-person"></i>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a></li>
                                        <li ><a class="btn-app-teal" href="{{ path('fos_user_security_logout') }}"><i class="ion-power"></i>
                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a> </li>
                                    {% else %}
                                        <li><a href="{{ path('fos_user_security_login') }}"><i class="ion-ios-unlocked-outline"></i> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                                        <li><a href="{{ path('fos_user_registration_register') }}"><i class="ion-log-in"></i> {{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                                    {% endif %}

                                </ul>
                                <!-- .navbar-right -->
                            </div>
                        </div>
                        <!-- .container-fluid -->
                    </nav>
                    <!-- .navbar-default -->
                </header>
                <!-- End header -->

                <main class="app-layout-content">
		{% if app.request.hasPreviousSession %}
                                    {% for type, messages in app.session.flashbag.all() %}
                                        {% for message in messages %}
                                            <div class="flash-{{ type }}">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}

                      <!-- Content section -->
                    <div class="section">
                        <div class="container-fluid p-y-md">
                            <!-- Maps and Search functionality is initialized in js/pages/base_comp_maps.js, for more examples check https://hpneo.github.io/gmaps/ -->
                            <div class="row">

							<!-- Map with markers -->
                                <div class="col-md-12">
                                    <div class="card">

                                        <!-- Map container -->
                                        <div id="afficher" style="height: 700px;">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Map with markers // .col-md-6 -->
                            </div>
                            <!-- .row -->
                        </div>
                        <!-- .container-fluid -->
                    </div>
                    <!-- .section -->

                </main>

            </div>
            <!-- .app-layout-container -->
        </div>
        <!-- .app-layout-canvas -->


        <div class="app-ui-mask-modal"></div>
</body>
{% endblock %}
{% block scriptpage %}

        <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
        <script src="{{ asset('assets/js/core/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/core/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/core/jquery.slimscroll.min.js') }}"></script>
        <script src="{{ asset('assets/js/core/jquery.scrollLock.min.js') }}"></script>
        <script src="{{ asset('assets/js/core/jquery.placeholder.min.js') }}"></script>
        <script src="{{ asset('assets/js/app.js') }}"></script>
        <script src="{{ asset('assets/js/app-custom.js') }}"></script>

          <!-- Page JS Plugins -->
        <script src="{{ asset('assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/select2/select2.full.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/masked-inputs/jquery.maskedinput.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/dropzonejs/dropzone.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/jquery-tags-input/jquery.tagsinput.min.js') }}"></script>
        <!-- Page Plugins -->
        <script src="{{ asset('assets/js/plugins/slick/slick.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/chartjs/Chart.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/flot/jquery.flot.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/flot/jquery.flot.pie.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/flot/jquery.flot.stack.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/flot/jquery.flot.resize.min.js') }}"></script>
        <script>
            $(function()
            {
                // Init page helpers (BS Datepicker + BS Colorpicker + Select2 + Masked Input + Tags Inputs plugins)
                App.initHelpers(['datepicker', 'colorpicker', 'select2', 'masked-inputs', 'tags-inputs']);
            });
        </script>
        <!-- Page JS Plugins -->
        <script src="http://maps.google.com/maps/api/js"></script>
        <script src="{{ asset('assets/js/plugins/gmapsjs/gmaps.min.js') }}"></script>

        <!-- Page JS Code -->
        <script src="{{ asset('assets/js/pages/base_js_maps.js') }}"></script>

        <!-- Page JS Code -->
        <script src="{{ asset('assets/js/pages/index.js') }}"></script>




        <script src="{{ asset('js/newUser.js') }}"></script>
    <script src="{{ asset('js/scriptUser.js') }}"></script>
 {% endblock %}
