{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projet_typeobservations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'Actions'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for projet_typeObservation in projet_typeObservations %}
            <tr>
                <td><a href="{{ path('projet_typeobservations_show', { 'id': projet_typeObservation.id }) }}">{{ projet_typeObservation.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('projet_typeobservations_show', { 'id': projet_typeObservation.id }) }}">{{'show'|trans}}</a>
                        </li>
                        <li>
                            <a href="{{ path('projet_typeobservations_edit', { 'id': projet_typeObservation.id }) }}">{{'edit'|trans}}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('projet_typeobservations_new') }}">{{'Create a new projet_typeObservation'|trans}}</a>
        </li>
    </ul>
{% endblock %}
