{% extends "SirenAppBundle::layout.html.twig" %}

{% block title %}{{'Siren Turtles - Ajouter un utilisateur'|trans}}{% endblock %}

{% block linknavheader %}
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link navlink" href="#"><i class="material-icons" style="margin-right:5px;">home</i>{{'Accueil'|trans}}</a>
            <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}"><i class="material-icons" style="margin-right:5px;">exit_to_app</i><span>{{'Déconnexion'|trans}}</span></a>
        </nav>
{% endblock %}

{% block linknavdrawer %}
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link navlink" href="#"><i class="material-icons" style="margin-right:5px;">home</i>{{'Accueil'|trans}}</a>
            <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}"><i class="material-icons" style="margin-right:5px;">exit_to_app</i><span>{{'Déconnexion'|trans}}</span></a>
        </nav>
{% endblock %}

{% block stylepage %}
    <style>

        .demo-card-wide.mdl-card {
            width: 512ppx;
        }
        .demo-card-wide > .mdl-card__title {
            color: #fff;
            height: 176px;
            background: url('assets/demos/welcome_card.jpg') center / cover;
        }
        .demo-card-wide > .mdl-card__menu {
            color: #fff;
        }
        .content
        {
            /*border:solid #0F5;*/
            background-color:#FFF;
            padding-top:20px;
        }

    </style>
{% endblock %}

{% block body %} 

    <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-shadow--10dp type">
                <div class="container" >
                    <div class="hero-content">
                        <h4>{{'ajouter un utilisateur'|trans}} !!!</h4>
                    </div>
                </div>
               
                  
                
                  {% block fos_user_content %}
                        <form class="fos_user_registration_register" action="{{ path('fos_user_registration_register') }}" method="POST" class="fos_user_registration_register">
                          
               
                            <div class="form-group"><label for="fos_user_registration_form_username" class="required">Nom</label>
                                <input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="255" pattern=".{2,}" />
                            </div>
                            <div class="form-group"><label for="fos_user_registration_form_email" class="required">Email</label>
                                <input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" />
                            </div>
                            <div class="form-group"><label for="fos_user_registration_form_plainPassword_first" class="required">Mot de passe</label>
                                <input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" />
                            </div>
                            <div class="form-group"><label for="fos_user_registration_form_plainPassword_second" class="required">Vérification</label>
                                <input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" />
                            </div>
                            <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="RTgiI1PRXLCjxOY8sNH_H5N9J0tuDq07Z7IaaawQNR4" />
                            <div class="form-group"><label>Numéro de télephone</label>
                                <input type="text" class="form-control" name="Nom" placeholder="Numéro de télephone" required="required"/>
                            </div>
                            <div class="form-group"><label>Facebook</label>
                                <input type="text" class="form-control" name="Nom" placeholder="Facebook" required="required"/>
                            </div>
                          
                          
                            <div class="form-group"><label>Twitter</label>
                                <input type="text" class="form-control" name="Nom" placeholder="Twitter" required="required"/>
                            </div>
                            <div class="form-group"><label>Facebook</label>
                                <input type="text" class="form-control" name="Nom" placeholder="Facebook" required="required"/>
                            </div>
                            <div class="form-group"><label>Nom Projet</label>
                                <select class="form-control" name="id_cathegorie" required="required">
                                    <option value='' >
                                    cathegorie
                                    </option>
                                    <?php
                                            include_once 'controleur/commune/cathegorie.php';
                                            $cathegorie= new cathegorie();
                                            $ref=$cathegorie->cathegorie_ll();
                                    ?>
                                </select>

                            </div>
                            <div class="form-group"><label>Ville</label>
                                <select class="form-control" name="id_cathegorie" required="required">
                                    <option value='' >
                                    cathegorie
                                    </option>
                                    <?php
                                            include_once 'controleur/commune/cathegorie.php';
                                            $cathegorie= new cathegorie();
                                            $ref=$cathegorie->cathegorie_ll();
                                    ?>
                                </select>

                            </div>


                            <div class="box box-info"><label>Organisation</label>
                               <div class="box-body pad">
                                    <textarea id="editor1" name="Organisation" rows="10" cols="80"></textarea>
                                </div>
                            </div>

                            <div class="form-group"><label>Niveau</label>
                                <input type="text" class="form-control" name="Nom" placeholder="Niveau" required="required"/>
                            </div>

                            <div class="row">
                                <div class="input-field col s5"></div>
                                <div class="input-field col s4">
                                    <button type="submit" name="_submit" id="_submit" class="mdl-color--deep-purple-900 mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                                        {{ 'registration.submit'|trans({}, 'FOSUserBundle') }}
                                    </button>
                                </div>
                                <div class="input-field col s3"></div>
                            </div>
                          
                      </form>
                    {% endblock fos_user_content %}
                    
               
            </div>
            

    </div>
            
{% endblock %}

