{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
                                <!-- Material Login -->
								<h2 class="section-title">{{'Modifier une observation'|trans}}</h2>
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <ul class="list">
                                            <li>
                                            {{ form_start(delete_form) }}
                                                <input class="btn btn-danger" type="submit" value="Supprimer">
                                            {{ form_end(delete_form) }}</li>
                                        </ul>
                                    </div>
                                    <div class="card-block bg-gray-lighter">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Mettre à jour" />
    {{ form_end(edit_form) }}
    <br/>
    <table  class="table table-striped">
        <tr>
                <td>Image 1 {% if observation.img1 != null %}<a class="btn btn-danger" onclick="return sup();" href="{{ path('observations_delete_img1', { 'id': observation.id }) }}"><i class="fa fa-close"></i></a>{% endif %}</td>
                <td>Image 2 {% if observation.img2 != null %}<a class="btn btn-danger" onclick="return sup();" href="{{ path('observations_delete_img2', { 'id': observation.id }) }}"><i class="fa fa-close"></i></a>{% endif %}</td>
                <td>Image 3 {% if observation.img3 != null %}<a class="btn btn-danger" onclick="return sup();" href="{{ path('observations_delete_img3', { 'id': observation.id }) }}"><i class="fa fa-close"></i></a>{% endif %}</td>
                <td>Image 4 {% if observation.img4 != null %}<a class="btn btn-danger" onclick="return sup();" href="{{ path('observations_delete_img4', { 'id': observation.id }) }}"><i class="fa fa-close"></i></a>{% endif %}</td>
            </tr>
    <tr>
                <th><a class="image-link text-left" href="{{ app.request.basePath }}/images/observations/tof1/{{ observation.img1 }}">
                    <img
                                    src="{{ app.request.basePath }}/images/observations/tof1/{{ observation.img1 }}"
                                    alt="{{ observation.img1 }}"
                                    width="120"
                                    height="80"
                                    />
                </a></th>
                <td>
                
                 <a class="image-link text-left" href="{{ app.request.basePath }}/images/observations/tof2/{{ observation.img2 }}">
                    <img
                                    src="{{ app.request.basePath }}/images/observations/tof2/{{ observation.img2 }}"
                                    alt="{{ observation.img2 }}"
                                    width="120"
                                    height="80"
                                    />
                </a>
                 <a class="image-link text-left" href="{{ app.request.basePath }}/images/observations/tof3/{{ observation.img3 }}">
                    <img
                                    src="{{ app.request.basePath }}/images/observations/tof3/{{ observation.img3 }}"
                                    alt="{{ observation.img3 }}"
                                    width="120"
                                    height="80"
                                    />
                </a>
                 <a class="image-link text-left" href="{{ app.request.basePath }}/images/observations/tof4/{{ observation.img4 }}">
                    <img
                                    src="{{ app.request.basePath }}/images/observations/tof4/{{ observation.img4 }}"
                                    alt="{{ observation.img4 }}"
                                    width="120"
                                    height="80"
                                    />
                </a><br/>
                </td>
            </tr>
    </table>
    <a  class="btn btn-app-teal "  href="{{ path('observations_index0', { 'page': 1 }) }}">{{'Revenir à la liste'|trans}}</a>
    

  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}

