{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        {% if is_granted('ROLE_USER') %}
                            {% set nbobs = nbobs_utilisateurs %}
                        {% endif %}
                        
                        {% if is_granted('ROLE_ADMIN') %}
                            {% if app.user.projet.id == 62153 %}
                                {% set nbobs = nbobs_renatura %}
                            {% endif %}
                        {% endif %}
                        <div class="row">
                            
                            <div class="col-sm-12 col-md-12">
                                <!-- Material Login -->
								<h2 class="section-title">{{'Gérer les observations'|trans}} ({{(page-1)*100}} - {{(page)*100}}) / {{nbobs}} Total</h2>
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <ul class="list">
                                            <li>
                                                <!--<a class="btn btn-white text-right" href="{{ path('observations_new') }}"><i class="fa fa-plus-circle"></i> {{'Ajouter une nouvelle observation'|trans}}</a>-->
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-block">
						
    <ul class="nav nav-tabs" data-toggle="tabs">
        <li class="active">
            <a href="#non">{{'Non Validé'|trans}}</a>
        </li>
        <li>
            <a href="#oui">{{'Validé'|trans}}</a>
        </li>
       
    </ul>
    <div class="card-block tab-content">
        <div class="tab-pane fade fade-up in active" id="non">
            <table class="table table-striped">
        <thead>
            <tr>
               <th>Id</th>
                <th>{{'Date'|trans}}</th>
                <th>{{'Coord x, y'|trans}}</th>
                <th>{%trans%}Type{%endtrans%}| {%trans%}Espèce{%endtrans%}</th>
                <th>{%trans%}Utilisateur{%endtrans%}</th>
                <th>{%trans%}Projet{%endtrans%}</th>
                <th>{%trans%}Image{%endtrans%}</th>
                <th>Actions</th>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        
                    {% if is_granted('ROLE_ADMIN') %}
                         <th>{{'Validé'|trans}}</th>
                         
                    {% endif %}
               {% endif %}
            </tr>
        </thead>
        <tbody>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        
            {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN')  %}
                {% for observation in observations_utilisateurs %}
                    {% if observation.utilisateurs.id == app.user.id and observation.etat==0 %}
                        <tr>
                            <td><a href="{{ path('observations_show', { 'id': observation.id }) }}">{{ observation.alpha }}</a></td>
                            <td>{% if observation.date %}{{ observation.date|date('Y-m-d') }}<br>{{ observation.date|date('H:i:s') }}{% endif %}</td>
                            <td>x: {{ observation.coordX }} <br/>y: {{ observation.coordY }}</td>
                            <td></td>
                            <td>{{ (app.request.getLocale()=="fr")?observation.typeObservations.nomFr:observation.typeObservations.nomEn }}{%if observation.typeObservations.typeQuestion == "groupe"%}  | {{ (app.request.getLocale()=="fr")?(observation.especes!=null)?observation.especes.nomFr:"":(observation.especes!=null)?observation.especes.nomEn:"" }} {%endif%}</td>
                            
                            <td>{{ observation.collecteur|slice(0,10) }}</td>
                            <td>{{ observation.projet.nom }}</td>
                            <td>
                                {% if observation.img1 == "observation.png" %}
                                                            <div style="text-align:center; width:100px; height:75px; background-color:#EEE; margin-right: 10px; float: left;" >
                                                                <b>NO IMAGE<br>AVAILABLE</b>
                                                            </div>
                                                        {% else %}
                                                        <a  style="margin-right: 10px; float: left;" class="image-link text-left" href="{{ app.request.basePath }}/images/observations/tof1/{{ observation.img1 }}">
                                                            <img
                                                                        src="{{ app.request.basePath }}/images/observations/tof1/{{ observation.img1 }}"
                                                                        alt="{{ observation.img1 }}"
                                                                        width="100"
                                                                        height="75"
                                                                        />
                                                            </a>
                                                    {% endif %}
                            </td>
                            
                           <td>
                                <a class="btn btn-app-teal center-block" href="{{ path('observations_show', { 'id': observation.id }) }}"><i class="fa fa-list"></i></a>

                                <a class="btn btn-warning center-block" href="{{ path('observations_edit', { 'id': observation.id }) }}"><i class="fa fa-edit"></i></a>

                                <a class="btn btn-danger center-block" onclick="return sup();" href="{{ path('observations_sup', { 'id': observation.id }) }}"><i class="fa fa-trash"></i></a>

                            </td>
                            
                        </tr>
                    {% endif %}
                {% endfor %}
            {% elseif is_granted('ROLE_USER') and is_granted('ROLE_ADMIN')%}
                {% if app.user.projet.id == 62153 %}
                    
                {% for observation in observations_renatura %}
                    {% if observation.etat==0 %}
                        <tr>
                    <td><a href="{{ path('observations_show', { 'id': observation.id }) }}">{{ observation.alpha }}</a></td>
                    <td>{% if observation.date %}{{ observation.date|date('Y-m-d') }}<br>{{ observation.date|date('H:i:s') }}{% endif %}</td>
                    <td>x: {{ observation.coordX }} <br/>y: {{ observation.coordY }}</td>
                    <td>{{ (app.request.getLocale()=="fr")?observation.typeObservations.nomFr:observation.typeObservations.nomEn }}{%if observation.typeObservations.typeQuestion == "groupe"%}  | {{ (app.request.getLocale()=="fr")?(observation.especes!=null)?observation.especes.nomFr:"":(observation.especes!=null)?observation.especes.nomEn:"" }} {%endif%}</td>
                    <td>{{ observation.collecteur|slice(0,10) }}</td>
                    <td>{{ observation.projet.nom }}</td>
                    <td>
                        {% if observation.img1 == "observation.png" %}
                                                            <div style="text-align:center; width:100px; height:75px; background-color:#EEE; margin-right: 10px; float: left;" >
                                                                <b>NO IMAGE<br>AVAILABLE</b>
                                                            </div>
                                                        {% else %}
                                                        <a  style="margin-right: 10px; float: left;" class="image-link text-left" href="{{ app.request.basePath }}/images/observations/tof1/{{ observation.img1 }}">
                                                            <img
                                                                        src="{{ app.request.basePath }}/images/observations/tof1/{{ observation.img1 }}"
                                                                        alt="{{ observation.img1 }}"
                                                                        width="100"
                                                                        height="75"
                                                                        />
                                                            </a>
                                                    {% endif %}
                    </td>    
                   <td>
                        <a class="btn btn-app-teal center-block" href="{{ path('observations_show', { 'id': observation.id }) }}"><i class="fa fa-list"></i></a>

                        <a class="btn btn-warning center-block" href="{{ path('observations_edit', { 'id': observation.id }) }}"><i class="fa fa-edit"></i></a>

                                <a class="btn btn-danger center-block"  onclick="return sup();" href="{{ path('observations_sup', { 'id': observation.id }) }}"><i class="fa fa-trash"></i></a>

                            </td>
                            
                    <td>
                        <a class="btn btn-success center-block" href="{{ path('observations_valider', { 'id': observation.id }) }}"><i class="fa fa-check-circle-o"></i></a>

                    </td>

                </tr>
                    {% endif %}
                {% endfor %}
                {% else %}
                    
                {% for observation in observations %}
                    {% if observation.etat==0 %}
                        <tr>
                    <td><a href="{{ path('observations_show', { 'id': observation.id }) }}">{{ observation.alpha }}</a></td>
                    <td>{% if observation.date %}{{ observation.date|date('Y-m-d') }}<br>{{ observation.date|date('H:i:s') }}{% endif %}</td>
                    <td>x: {{ observation.coordX }} <br/>y: {{ observation.coordY }}</td>
                    <td>{{ (app.request.getLocale()=="fr")?observation.typeObservations.nomFr:observation.typeObservations.nomEn }}{%if observation.typeObservations.typeQuestion == "groupe"%}  | {{ (app.request.getLocale()=="fr")?(observation.especes!=null)?observation.especes.nomFr:"":(observation.especes!=null)?observation.especes.nomEn:"" }} {%endif%}</td>
                    <td>{{ observation.collecteur|slice(0,10) }}</td>
                    <td>{{ observation.projet.nom }}</td>
                    <td>
                        {% if observation.img1 == "observation.png" %}
                                                            <div style="text-align:center; width:100px; height:75px; background-color:#EEE; margin-right: 10px; float: left;" >
                                                                <b>NO IMAGE<br>AVAILABLE</b>
                                                            </div>
                                                        {% else %}
                                                        <a  style="margin-right: 10px; float: left;" class="image-link text-left" href="{{ app.request.basePath }}/images/observations/tof1/{{ observation.img1 }}">
                                                            <img
                                                                        src="{{ app.request.basePath }}/images/observations/tof1/{{ observation.img1 }}"
                                                                        alt="{{ observation.img1 }}"
                                                                        width="100"
                                                                        height="75"
                                                                        />
                                                            </a>
                                                    {% endif %}
                    </td>    
                   <td>
                        <a class="btn btn-app-teal center-block" href="{{ path('observations_show', { 'id': observation.id }) }}"><i class="fa fa-list"></i></a>

                        <a class="btn btn-warning center-block" href="{{ path('observations_edit', { 'id': observation.id }) }}"><i class="fa fa-edit"></i></a>

                                <a class="btn btn-danger center-block"  onclick="return sup();" href="{{ path('observations_sup', { 'id': observation.id }) }}"><i class="fa fa-trash"></i></a>

                            </td>
                            
                    <td>
                        <a class="btn btn-success center-block" href="{{ path('observations_valider', { 'id': observation.id }) }}"><i class="fa fa-check-circle-o"></i></a>

                    </td>

                </tr>
                    {% endif %}
                {% endfor %}
                {% endif %}
                

            {% endif %}

                                
        {% endif %}
        
        </tbody>
    </table>

        </div>
        <div class="tab-pane fade fade-up" id="oui">
        <table class="table table-striped">
        <thead>
            <tr>
               <th>Id</th>
                <th>{{'Date'|trans}}</th>
                <th>{{'Coord x, y'|trans}}</th>
                <th>{%trans%}Type{%endtrans%}| {%trans%}Espèce{%endtrans%}</th>
                <th>{%trans%}Utilisateur{%endtrans%}</th>
                <th>{%trans%}Projet{%endtrans%}</th>
                <th>{%trans%}Image{%endtrans%}</th>
                <th>Actions</th>
                
            </tr>
        </thead>
        <tbody>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        
            {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN')%}
                {% for observation in observations_utilisateurs %}
                    {% if observation.utilisateurs.id == app.user.id and observation.etat==1 %}
                        <tr>
                            <td><a href="{{ path('observations_show', { 'id': observation.id }) }}">{{ observation.alpha }}</a></td>
                           <td>{% if observation.date %}{{ observation.date|date('Y-m-d') }}<br>{{ observation.date|date('H:i:s') }}{% endif %}</td>
                            <td>x: {{ observation.coordX }} <br/>y: {{ observation.coordY }}</td>
                            <td>{{ (app.request.getLocale()=="fr")?observation.typeObservations.nomFr:observation.typeObservations.nomEn }}{%if observation.typeObservations.typeQuestion == "groupe"%}  | {{ (app.request.getLocale()=="fr")?(observation.especes!=null)?observation.especes.nomFr:"":(observation.especes!=null)?observation.especes.nomEn:"" }} {%endif%}</td>
                            <td>{{ observation.collecteur|slice(0,10) }}</td>
                            <td>{{ observation.projet.nom }}</td>
                            <td>
                                {% if observation.img1 == "observation.png" %}
                                                            <div style="text-align:center; width:100px; height:75px; background-color:#EEE; margin-right: 10px; float: left;" >
                                                                <b>NO IMAGE<br>AVAILABLE</b>
                                                            </div>
                                                        {% else %}
                                                        <a  style="margin-right: 10px; float: left;" class="image-link text-left" href="{{ app.request.basePath }}/images/observations/tof1/{{ observation.img1 }}">
                                                            <img
                                                                        src="{{ app.request.basePath }}/images/observations/tof1/{{ observation.img1 }}"
                                                                        alt="{{ observation.img1 }}"
                                                                        width="100"
                                                                        height="75"
                                                                        />
                                                            </a>
                                                    {% endif %}
                            </td>
                           <td>
                                <a class="btn btn-app-teal center-block" href="{{ path('observations_show', { 'id': observation.id }) }}"><i class="fa fa-list"></i></a>

                            
                                <a class="btn btn-warning center-block" href="{{ path('observations_edit', { 'id': observation.id }) }}"><i class="fa fa-edit"></i></a>

                                <a class="btn btn-danger center-block"  onclick="return sup();" href="{{ path('observations_sup', { 'id': observation.id }) }}"><i class="fa fa-trash"></i></a>
                                
                            </td>
                            
                        </tr>
                    {% endif %}
                {% endfor %}
            {% elseif is_granted('ROLE_USER') and is_granted('ROLE_ADMIN')%}
            
                {% if app.user.projet.id == 62153 %}
                    {% for observation in observations_renatura %}
                        {% if observation.etat==1 %}
                            <tr>
                        <td><a href="{{ path('observations_show', { 'id': observation.id }) }}">{{ observation.alpha }}</a> <br/>{% if observation.idInaturalist %}{{ observation.idInaturalist }} <b class="btn btn-success"> <i class="fa fa-check-circle-o"></i> </b>{% else %}None Upload <b class="btn btn-danger"> <i class="fa fa-close"></i> </b>{% endif %}</td>
                        
                        <td>{% if observation.date %}{{ observation.date|date('Y-m-d') }}<br>{{ observation.date|date('H:i:s') }}{% endif %}</td>
                        <td>x: {{ observation.coordX }} <br/>y: {{ observation.coordY }}</td>
                        <td>{{ (app.request.getLocale()=="fr")?observation.typeObservations.nomFr:observation.typeObservations.nomEn }}{%if observation.typeObservations.typeQuestion == "groupe"%}  | {{ (app.request.getLocale()=="fr")?(observation.especes!=null)?observation.especes.nomFr:"":(observation.especes!=null)?observation.especes.nomEn:"" }} {%endif%}</td>
                        <td>{{ observation.collecteur|slice(0,10) }}</td>
                        <td>{{ observation.projet.nom }}</td>
                        <td>
                            {% if observation.img1 == "observation.png" %}
                                                                <div style="text-align:center; width:100px; height:75px; background-color:#EEE; margin-right: 10px; float: left;" >
                                                                    <b>NO IMAGE<br>AVAILABLE</b>
                                                                </div>
                                                            {% else %}
                                                            <a  style="margin-right: 10px; float: left;" class="image-link text-left" href="{{ app.request.basePath }}/images/observations/tof1/{{ observation.img1 }}">
                                                                <img
                                                                            src="{{ app.request.basePath }}/images/observations/tof1/{{ observation.img1 }}"
                                                                            alt="{{ observation.img1 }}"
                                                                            width="40"
                                                                            height="40"
                                                                            />
                                                                </a>
                                                                <img
                                                                            src="{{ app.request.basePath }}/images/observations/tof2/{{ observation.img2 }}"
                                                                            alt="{{ observation.img2 }}"
                                                                            width="40"
                                                                            height="40"
                                                                            />
                                                                </a>
                                                                <img
                                                                            src="{{ app.request.basePath }}/images/observations/tof3/{{ observation.img3 }}"
                                                                            alt="{{ observation.img3 }}"
                                                                            width="40"
                                                                            height="40"
                                                                            />
                                                                </a>
                                                                <img
                                                                            src="{{ app.request.basePath }}/images/observations/tof4/{{ observation.img4 }}"
                                                                            alt="{{ observation.img4 }}"
                                                                            width="40"
                                                                            height="40"
                                                                            />
                                                                </a>
                                                        {% endif %}
                        </td>  
                       <td>
                            <a class="btn btn-app-teal center-block" href="{{ path('observations_show', { 'id': observation.id }) }}"><i class="fa fa-list"></i></a>
    
                            <a class="btn btn-warning center-block" href="{{ path('observations_edit', { 'id': observation.id }) }}"><i class="fa fa-edit"></i></a>
    
                                    <a class="btn btn-danger center-block"  onclick="return sup();" href="{{ path('observations_sup', { 'id': observation.id }) }}"><i class="fa fa-trash"></i></a>
                                
                                
                
                {% if observation.idInaturalist is null %}
                
                <a class="btn btn-success center-block" href="{{ path('observations_send', { 'id': observation.id }) }}"><i class="fa fa-upload"></i></a>
    
                
                {% endif %}
                
                                    
                                </td>
                                
    
                    </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for observation in observations %}
                        {% if observation.etat==1 %}
                            <tr>
                        <td><a href="{{ path('observations_show', { 'id': observation.id }) }}">{{ observation.alpha }}</a> <br/>{% if observation.idInaturalist %}{{ observation.idInaturalist }} <b class="btn btn-success"> <i class="fa fa-check-circle-o"></i> </b>{% else %}None Upload <b class="btn btn-danger"> <i class="fa fa-close"></i> </b>{% endif %}</td>
                        
                        <td>{% if observation.date %}{{ observation.date|date('Y-m-d') }}<br>{{ observation.date|date('H:i:s') }}{% endif %}</td>
                        <td>x: {{ observation.coordX }} <br/>y: {{ observation.coordY }}</td>
                        <td>{{ (app.request.getLocale()=="fr")?observation.typeObservations.nomFr:observation.typeObservations.nomEn }}{%if observation.typeObservations.typeQuestion == "groupe"%}  | {{ (app.request.getLocale()=="fr")?(observation.especes!=null)?observation.especes.nomFr:"":(observation.especes!=null)?observation.especes.nomEn:"" }} {%endif%}</td>
                        <td>{{ observation.collecteur|slice(0,10) }}</td>
                        <td>{{ observation.projet.nom }}</td>
                        <td>
                            {% if observation.img1 == "observation.png" %}
                                                                <div style="text-align:center; width:100px; height:75px; background-color:#EEE; margin-right: 10px; float: left;" >
                                                                    <b>NO IMAGE<br>AVAILABLE</b>
                                                                </div>
                                                            {% else %}
                                                            <a  style="margin-right: 10px; float: left;" class="image-link text-left" href="{{ app.request.basePath }}/images/observations/tof1/{{ observation.img1 }}">
                                                                <img
                                                                            src="{{ app.request.basePath }}/images/observations/tof1/{{ observation.img1 }}"
                                                                            alt="{{ observation.img1 }}"
                                                                            width="40"
                                                                            height="40"
                                                                            />
                                                                </a>
                                                                <img
                                                                            src="{{ app.request.basePath }}/images/observations/tof2/{{ observation.img2 }}"
                                                                            alt="{{ observation.img2 }}"
                                                                            width="40"
                                                                            height="40"
                                                                            />
                                                                </a>
                                                                <img
                                                                            src="{{ app.request.basePath }}/images/observations/tof3/{{ observation.img3 }}"
                                                                            alt="{{ observation.img3 }}"
                                                                            width="40"
                                                                            height="40"
                                                                            />
                                                                </a>
                                                                <img
                                                                            src="{{ app.request.basePath }}/images/observations/tof4/{{ observation.img4 }}"
                                                                            alt="{{ observation.img4 }}"
                                                                            width="40"
                                                                            height="40"
                                                                            />
                                                                </a>
                                                        {% endif %}
                        </td>  
                       <td>
                            <a class="btn btn-app-teal center-block" href="{{ path('observations_show', { 'id': observation.id }) }}"><i class="fa fa-list"></i></a>
    
                            <a class="btn btn-warning center-block" href="{{ path('observations_edit', { 'id': observation.id }) }}"><i class="fa fa-edit"></i></a>
    
                                    <a class="btn btn-danger center-block"  onclick="return sup();" href="{{ path('observations_sup', { 'id': observation.id }) }}"><i class="fa fa-trash"></i></a>
                                
                                
                
                {% if observation.idInaturalist is null %}
                
                <a class="btn btn-success center-block" href="{{ path('observations_send', { 'id': observation.id }) }}"><i class="fa fa-upload"></i></a>
    
                
                {% endif %}
                
                                    
                                </td>
                                
    
                    </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                
                

            {% endif %}

                                
        {% endif %}
        
        </tbody>
    </table>
</div>
        
    </div>
    
    
    
    {% if page > 1%}
    <a class="btn btn-primary" href="{{ path('observations_index', { 'page': page-1 }) }}"><i class="fa fa-arrow-left"></i> Previous</a>
    {% else %}
    <a class="btn btn-primary disabled" ><i class="fa fa-arrow-left"></i> Previous</a>
    {% endif %}
    {% if page < nbobs/100 %}
    <a class="btn btn-primary" href="{{ path('observations_index', { 'page': page+1 }) }}">Next <i class="fa fa-arrow-right"></i></a>
    {% else %}
    <a class="btn btn-primary disabled" >Next <i class="fa fa-arrow-right"></i></a>
    {% endif %}
    <b>(Page: {{page}} sur {% if nbobs is divisible by(100) %} {{nbobs/100}} {% else %} {{(nbobs//100)+1}} {% endif %}) </b>
    <b style="float:right">({{(page-1)*100}} - {% if page < nbobs/100 %} {{(page)*100}} {% else %} {{nbobs}} {% endif %}) / {{nbobs}} Total</b>
  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}
