{% extends "::layout.html.twig" %}

{% block title %} {{ 'Catégories - Administration'|trans }} {% endblock %}

{% block drawer %}
    <div class="mdl-layout__drawer mdl-color--cyan-900">
        <span  style="margin:15px;">
            <center>
                <img src="{{ asset('images/admin.png') }} "/>
                <div class="mdl-layout-title mdl-color-text--white" style="margin-top:15px;">Admin - {{ app.user.username }}</div>
            </center>
        </span>
        <hr class="white" style="width:100%; margin-bottom: 0px !important;">
        <div style="background-color: rgba(255, 255, 255, 0.5); padding: 15px;">
            <center>
                <div class="mdl-layout-title mdl-color-text--white"> {{'MENU PATROUILLE'|trans}} </div>
            </center>
        </div>
        {% block linknavdrawer %}
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link navlink" href="{{ path("siren_useradmin_patrouille_type") }}"> {{'Gestion des Types'|trans}} </a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_useradmin_patrouille_categorie") }}"> {{'Gestion des Catégories'|trans}} </a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_useradmin_patrouille_question") }}"> {{'Gestions des Questions'|trans}} </a>
                <a class="mdl-navigation__link navlink" href="{{ path("siren_useradmin_home") }}"> {{'Retour au menu principal'|trans}} </a>
            </nav>
        {% endblock %}
    </div>
{% endblock %}

{% block layout %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    {% endblock %}

    {% block linkrow1 %}
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link navlink" href="{{ path('SirenTortue_homepage') }}"><i class="material-icons" style="margin-right:5px;">home</i> {{'Accueil'|trans}} </a>
            <a class="mdl-navigation__link navlink" href="{{ path("fos_user_security_logout") }}"><i class="material-icons" style="margin-right:5px;">exit_to_app</i><span> {{'Déconnexion'|trans}} </span></a>
        </nav>
    {% endblock %}

    {% block linkrow2 %}
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            {% block linknavheader %}
                <nav class="mdl-navigation">
                    <ul id='langue'>
                        {% if (app.request.getLocale()) == 'en' %}
                            <li style="display: inline-block;">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                        {% if (app.request.getLocale()) == 'fr' %}
                            <li style="display: inline-block;">
                                <a href="#" class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/francais.png') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"
                                   class="mdl-color-text--grey-800">
                                    <img src="{{ asset('images/anglais.jpg') }}" style="margin-right: 10px;"/>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endblock %}
        </div>
    {% endblock %}

    {% block body %} 

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>

            <div class="mdl-cell mdl-cell--9-col type">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--5-col" >
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text"> {{'Liste des Catégories'|trans}}</h2>
                        </div>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--2-col">
                        <a class="waves-effect waves-light btn right teal tooltipped modal-trigger" data-position="bottom" data-delay="50" data-tooltip="Ajouter un categorie" href="#modalCategorie" id="newCategorie" ><i class="material-icons">add</i></a>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col" >
                        <div class="mdl-grid" >
                            {% for categorie in liste_categories %}
                                <div class="mdl-cell mdl-cell--3-col demo-card-event mdl-card mdl-shadow--9dp mdl-color--cyan-700 categorie"
                                     {#{% if categorie.image is not null %}
                                         style="cursor:pointer; background: url('{{ asset(categorie.image.webPath) }}') center / cover;"
                                     {% endif %}#}
                                     >
                                    <div class="mdl-card__title mdl-card--expand mdl-color-text--white">
                                        <h5>
                                            {{'categorie'|trans}} :<br/><br/>
                                            {{categorie.nom(app.request.attributes.get('_locale')) }} <br/>
                                        </h5>
                                    </div>
                                    <div class="mdl-card__actions mdl-card--border mdl-color-text--white">
                                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect modifCategorie mdl-color-text--white" id="{{ categorie.id }}">
                                            {{'Modifier'|trans}}
                                        </a>
                                        {#<div class="mdl-layout-spacer"></div>#}
                                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon delete mdl-color-text--white right" id="del{{ categorie.id }}"><i class="material-icons">delete</i></a>
                                    </div>
                                </div>
                            {% else %}
                                <li> {{'Pas de categories trouvées'|trans}} .</li>
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block modal %}
        <div id="modalCategorie" class="modal modal-fixed-footer">
            {{ form_start(form, {'method': 'post', 'action': path('siren_useradmin_patrouille_categorie_new'), 'attr': {'id': 'formCategorie'}}) }}
            <div class="modal-content">
                <h4 id="titre"> {% trans %}Enregistrement d'une nouvelle categorie{% endtrans %}</h4>
                <span> * : {{'Champs Obligatoires'|trans}} </span><hr/>
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                        {{ form_widget(form.nom_fr, {'id' : 'nomFr', 'attr': {'class': 'mdl-textfield__input required'} }) }}
                        {{ form_label(form.nom_fr, "Nom de la Categorie en Français *"|trans, {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                        <span class="mdl-textfield__error">{{ form_errors(form.nom_fr) }}</span>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                        {{ form_widget(form.nom_en, {'id' : 'nomEn', 'attr': {'class': 'mdl-textfield__input required'} }) }}
                        {{ form_label(form.nom_en, "Nom de la Categorie en Anglais *"|trans, {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                        <span class="mdl-textfield__error">{{ form_errors(form.nom_en) }}</span>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col input-field" id="divTypes">
                        {{ form_widget(form.types, {'id' : 'typeCat', 'attr': {'multiple' : 'true'}}) }}
                        {{ form_label(form.types, "Sélectionner un ou plusieurs type *"|trans, {'label_attr': {'for': 'typeCat'}}) }}
                    </div>
                    <div class="mdl-cell mdl-cell--12-col file-field input-field mdl-grid">
                        <div class="mdl-cell mdl-cell--2-col btn cyan mdl-color-text--white" id="divImage">
                            <span class="mdl-color-text--white" id="labelImage">{{'Image'|trans}}*</span>
                            {{ form_widget(form.image, {'id' : 'imCat'}) }}
                        </div>
                        <div class="mdl-cell mdl-cell--10-col file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </div>
                            
            <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-green btn teal" id="send" type="submit" name="send"><i class="material-icons right">send</i><span id="btSend">{{'Enregistrer'|trans}}</span></button>
                <button class="modal-action modal-close waves-effect waves-green btn pink" type="reset"><i class="material-icons right">close</i>{{'Annuler'|trans}}</button>
            </div>
        
            <input type='hidden' id="pathget" value="{{ path("siren_useradmin_patrouille_categorie_get", {'id' : '1'}) }}" />
            <input type='hidden' id="pathmodif" value="{{ path("siren_useradmin_patrouille_categorie_modif", {'id' : '1'}) }}" />
            <input type='hidden' id="pathdel" value="{{ path("siren_useradmin_patrouille_categorie_delete", {'id' : '1'}) }}" />
            {{ form_end(form) }}
        </div>
    {% endblock %}
    {% block scriptpage %}
        <script>
            $(document).ready(function () {
                $($($("#imCat").children()[0]).children()[0]).remove();
                $('select').material_select();
                $('.modal').modal();

                $("input[type='file']").removeAttr("required");
                $("input[type='file']").attr("accept", "image/*");

                $("#newCategorie").click(function (e) {
                    $("#nomFr").parent().removeClass("is-dirty");
                    $("#nomEn").parent().removeClass("is-dirty");
                    $("input[type='file']").addClass("required");


                    //$("#images").addClass("required");
                    $("input[type='text']").val("");
                    $("#labelImage").text("Image *");
                    $("#btSend").text("{{ 'Enregistrer'|trans }}");
                    $("#send").attr("name", "send");
                    $("#formCategorie").attr("action", "{{ path('siren_useradmin_patrouille_categorie_new') }}");

                    $("#typeCat").addClass("required");
                    $("#divTypes div").removeClass("required");

                });

                $(".modifCategorie").click(function (e) {
                    $("#labelImage").text("Image");
                    $("input[type='file']").removeClass("required");
                    var id = $(this).attr("id");
                    var pathget = $("#pathget").val();
                    var pathmodif = $("#pathmodif").val();

                    var table = pathget.split("/");
                    var vals = "";
                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathget = vals + $(this).attr("id");

                    table = pathmodif.split("/");
                    vals = "";
                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathmodif = vals + $(this).attr("id");

                    $.getJSON(pathget, function (data) {
                        $('select').material_select('destroy');
                        $("#btSend").text("{{ 'Modifier'|trans }}");
                        $("#send").attr("name", "modif");
                        $("#formCategorie").attr("action", pathmodif);

                        $("#nomFr").val(data["nomFr"]);
                        $("#nomEn").val(data["nomEn"]);

                        var vals = new Array();
                        for (var i = 0; i < data["type"].length; i++) {
                            vals[i] = data["type"][i]["id"];
                        }
                        $("#typeCat").val(vals);
                        $("#nomFr").parent().addClass("is-dirty");
                        $("#nomEn").parent().addClass("is-dirty");
                        $('select').material_select();


                        $("#typeCat").addClass("required");
                        $("#divTypes div").removeClass("required");

                    });

                    $('#modalCategorie').modal("open");

                });

                $(".delete").click(function (e) {
                    var id = $(this).attr("id").substr(3);

                    var pathdel = $("#pathdel").val();

                    var table = pathdel.split("/");
                    var vals = "";
                    for (var i = 0; i < table.length - 1; i++) {
                        vals += table[i] + "/";
                    }
                    pathdel = vals + id;
                    $.getJSON(pathdel, function (data) {
                        Materialize.toast("{% trans %}Suppression réussie{% endtrans %}", 5000, 'rounded');
                    });
                    $(this).parent().parent().remove();
                });

                var form = document.getElementById("formCategorie");

                var required = document.getElementsByClassName("required");
                form.addEventListener("submit", function (e) {
                    //e.preventDefault();
                    //alert("toto");
                    var block = false;
                    for (var i = 0; i < required.length; i++)
                    {
                        if ($(required[i]).val() == "")
                        {
                            e.preventDefault();
                            block = true;
                        }
                    }
                    if (block)
                    {
                        //$('#modalCategorie').modal("open");
                        setTimeout(function () {
                            $('#modalCategorie').modal("open");
                        }, 350);
                        Materialize.toast("{% trans %}Remplissez tous les champs requis svp{% endtrans %}", 3000, 'rounded');

                    }
                });
            });
        </script>
        {% if enreg is defined %}
            {% if enreg == true %}
                <script>
                    $(function () {
                        Materialize.toast('{% trans %}Enregistrement terminé avec succès{% endtrans %}', 5000, 'rounded');
                    });
                </script>
            {% endif %}
        {% endif %}
    {% endblock %}



