<ion-header>
    <navbar title="{{ 'BIENVENUS' | translate }}"></navbar>
</ion-header>


<ion-content class="backgroundcorps">

    <p class="textesacceuil">{{ 'AJOUTEROBSERVATION' | translate }}</p>

    <ion-grid>
         <ion-row >
              <ion-col col-6  *ngFor="let item of listetypeobservations">
                  <div class="cardpremieracceuil" (click)="groupe(item)">
                    <img class="premier" src="{{item.image}}" />
                    <strong><p class="textcard" *ngIf="langue == 0">{{item.nom_fr}}</p></strong>
                    <strong><p class="textcard" *ngIf="langue == 1">{{item.nom_en}}</p></strong>
                  </div>
              </ion-col>
              
         </ion-row>
    </ion-grid>


   
   

    
   
    <!--<br>
    <br>
    <ion-list>
        <ion-item *ngFor="let item of listpays">
             <p>nom : {{item.nom_fr}}</p>
             <p>sigle : {{item.sigle}}</p>
        </ion-item>
    </ion-list> -->
   

</ion-content>
