<style>
@page
{
	margin:14px;
	padding:10px;
}
.form_connect table{
 margin: 3px;
 width:100%;
 border-collapse: collapse;
    
}
.form_connect table th{
    border: 1px #999999 outset;
    text-align: center;
	color: black;
	background-color:white;
	font-weight: bold;
    
}
.form_connect table tr td{
    background-color: white;
    border: 1px #999999 solid;
    text-align: center;
	font-size:12px;
	padding:2px;
}

.form_connect2 table{
 margin: 3px;
    
}
.form_connect2 table th{
    background-color: #37c0fb ;
    
}
.form_connect2 table tr td{
    background-color: white;
    
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

</style>

<div style="width:700px; margin:auto; font-size:12px;">
<div class="form_connect box-body" style="text-align:center">
   <h3 align="center" >{{}}</h3>
   
				
	
</div>

</div>

    
